//--- VARIABLES
//---------------------------------------------------------

- var siteName        = "Section name"
- var theme           = "common"
- var siteConfigPath  = "config/"
- var baseUrl         = ""
