mixin edu_date_block
  div.edu-date-block
    span.event_when
      | Now

    span.event_details
      +lipsum(2, "words")
    div.edu-date-block__dates
      time
        | Mon
        strong
          |&nbsp;11 Apr
      span
        | &nbsp;&ndash;
      time
        | Fri
        strong
          |&nbsp;22 Apr

  div.edu-date-block
    span.event_when
      | Coming Up
      br
    span.event_details
      +lipsum(2, "words")
    div.edu-date-block__dates
      time
        | Mon
        strong
          |&nbsp;11 Apr
      span
        | &nbsp;&ndash;
      time
        | Fri
        strong
          | &nbsp;22 Apr

