mixin gef_document_history_bold
  div.uk-grid
    div.uk-width-medium-1-4.uk-width-1-1
      h2.uk-h4
        +lipsum(3, "words")
    div.uk-width-medium-3-4.uk-width-1-1
      p.bold 
        +lipsum(7, "words")

mixin gef_document_history_standard
  div.uk-grid
    div.uk-width-medium-1-4.uk-width-1-1
      h2.uk-h4
        +lipsum(3, "words")
    div.uk-width-medium-3-4.uk-width-1-1
      p.standard
        +lipsum(20, "words")  

mixin gef_document_history_mixed
  div.uk-grid
    div.uk-width-medium-1-4.uk-width-1-1
      h2.uk-h4 
        +lipsum(3, "words")
    div.uk-width-medium-3-4.uk-width-1-1
      div.mixed_contentarea
        mixin gef_document_history_mixed_contentarea
          h3.uk-h4
            +lipsum(3, "words")
          span.standard                
            +lipsum(10, "words")
        +gef_document_history_mixed_contentarea
        +gef_document_history_mixed_contentarea
        +gef_document_history_mixed_contentarea
        +gef_document_history_mixed_contentarea    