mixin gef_drawer_tab_contents()
  | Ask for help
  span.edconnect_icon.uk-icon-question-circle-o

mixin gef_drawer_panel_contents()

  h2.uk-h6
    | Contact EDConnect
  p
    span.edconnect_contact-icon(aria-hidden="true")
      span.uk-icon-phone
    span.edconnect_number
      span.show-on-sr
        | Call:
      | 1300 32 32 32
  p
    span.edconnect_contact-icon(aria-hidden="true")
      span.uk-icon-envelope

    a.edconnect_link(href="https://servicemanagement.det.nsw.edu.au/kinetic/DisplayPage?name=Identify_Client&form=SelfService")
      | Send your query online
  small
    a.edconnect_link(href="https://detwww.det.nsw.edu.au/lists/directoratesaz/edconnect/index.htm")
      | What is EDConnect?

  button.uk-visible-large.edconnect_close(type="button")
    span.show-on-sr
      | Close
    i.uk-icon-times

mixin edconnect_drawer
  +gef_drawer
