mixin edu_highlight_panel-image(classes,hide,count,subclass,categoryname)

  -var panel_class = "edu-highlight-panels__panel " + classes
  -var category_class = "gef-featured-teaser_highlight"

  if (categoryname == "Secretary\’s update")
    -var category_class= category_class +" " + " category-secretarys_update"
  else if (categoryname == "Media releases")
    -var category_class= category_class  +" " + " category-media_releases"
  else if (categoryname == "Latest news")
    -var category_class= category_class  +" " + " category-latest_news"



  div(class=panel_class)

    h3.show-on-sr
      | News item

    div.edu-highlight-panels__category
      if hide == "1"
        div.edu-highlight-panels__image
          img(src="//placehold.it/800x600" alt="")
      h4(class=category_class) #{categoryname}     
      time.gef-featured-teaser__date_variant(datetime="2015-12-25")
        | 25 December 2015
    div.edu-highlight-panels__content
      h3
        a(class="edu-highlight-panels__content-title" href="#")
          +lipsum(5, "words")

      div(class=subclass)
        p
          if count == "0" && hide != "1"
            +lipsum(3, "sentences")
          else if count == "1" && hide != "1"
            +lipsum(3, "sentences")
          else if hide =="1"
            +lipsum(3, "sentences")
          else 
            +lipsum(0, "sentences")

    div.edu-highlight-panels-bottominfo
    
      div.edu-highlight-panels-moreinfo
        
        a(href="#") 
          span Read more&hellip;

