//--- ************************ ---//
//--- SELECT ---//
//--- ************************ ---//

//- Select form element

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | //- @param {string} label - label for select tag
  | //- @param {int} items - is the number of select options
  | +gef_select("Select element", 7)

mixin usage
  pre
    code.language-jade
      +documentation

//--- MIXINS ---//
//---------------------------------------------------------
mixin option-1(num)
  - var childOpt = Math.floor(Math.random() * 9) % 2
  option(value=num)
    if num == 0
      |All
    if num == 1
      |Latest news
    if num == 2
      |Announcements
    if num == 3
      |Secretary's update
    if num == 4
      |Media releases

mixin option-2(num)
  - var childOpt = Math.floor(Math.random() * 9) % 2
  option(value=num)
    if num == 0
      |All
    if num == 1
      |This week
    if num == 2
      |This month
    if num == 3
      |Last 3 months
    if num == 4
      |Last 6 months


    

//--- OUTPUT ---//
//---------------------------------------------------------
mixin edu_select(arialabel,labelid,label, items, automate, mobileOnly)
  - var id = Math.floor((Math.random() * 500) + 1)
  - var num = 0

  if mobileOnly
    - var Sclass = "uk-hidden-large"
  else
    - var Sclass = ""

  label(for=labelid class=Sclass)
    =label

  if automate
    select(id=labelid name=id class=Sclass data-gef-auto-submit aria-label="Show me " + arialabel + " for" )
      while num < items
        +option(num++)
  else
    select(id=labelid name=id class=Sclass aria-label="Show me " + arialabel )
      while num < items
        if labelid == "news-type"
          +option-1(num++)
        if labelid == "news-date"
          +option-2(num++)


