mixin edu_school_calendar

  div.edu-highlight-panels__panel.edu-highlight-panels__variation.edu-calendar
    div.edu-highlight-panels__image
      img(src="//placehold.it/800x600" alt="")
    

    h3.gef-block__header.edu-block__header
      | School calendar
    div.edu-highlight-panels__content
      ul
        li

          time
            strong 
              | 1 Jan - 28 Jan:
            span.event-details 
              | School Holidays

        li

          time
            strong 
              | 29 Jan:
            span.event-details 
              | Start of Term 1 Eastern Division

        li

          time
            strong 
              | 30 Jan and 31 Jan:
            span.event-details 
              | Additional school holiday dates Western division
        
    div.edu-highlight-panels-bottominfo
    
      div.edu-highlight-panels-moreinfo
        
        a(href="#") 
          span Full calendar
