//--- *************** ---//
//--- EDU LINK LIST ---//
//--- *************** ---//

- var name = "Link List"

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin description
  p
    | A list of links. The Link List pattern should only be used when all list items contain an anchor element.

mixin usage
  h4 Using pug:
  pre
    code.language-pug
      | +edu-link-list-with-misc(5)


mixin output
  +edu-link-list-with-misc(5)


//--- MIXINS ---//
//---------------------------------------------------------

mixin link_list_with_misc(count,time,sociallinks)
  - var word_count = Math.floor((Math.random() * 6) + 1)
  - var time_display = 1
  - var social = 1
 
    if social == sociallinks
      if count == 1
        -var classes ="uk-icon-facebook"
        -var title ="facebook link"
      else if count == 2
        -var classes ="uk-icon-twitter"
        -var title ="twitter link"
      else if count == 3
        -var classes ="uk-icon-youtube"
        -var title ="youtube link"
      else if count == 4
        -var classes ="uk-icon-linkedin"
        -var title ="linkedin link"
      else if count == 5
        -var classes ="uk-icon-instagram"
        -var title ="instagram link"
      else
        -var classes ="uk-icon-facebook"
        -var title ="facebook link"

  li
    a(href='#')
      if social == sociallinks
        i.social-icons(class=classes aria-hidden="true")
        span.show-on-sr|#{title}
      +lipsum(word_count, "words")
    if time_display == time
      time.gef-featured-teaser__date_variant(datetime="2015-12-25")
        | 25 December 2015


//--- HTML OUTPUT ---//
//---------------------------------------------------------

mixin edu-link-list-with-misc(number,time,sociallinks)

  - var count = 1
  - var social_display = 1

  if social_display == sociallinks
    - var parentclass ="social-media-listing uk-list"
  else
    - var parentclass ="gef-link-list"

  ul(class=parentclass)
    while count < number + 1
      +link_list_with_misc(count++,time,sociallinks)