//--- ************************ ---//
//--- BANNER ---//
//--- ************************ ---//

//- Banner image pattern.
//- There are two types: large with content + CTA &amp; small narrow image banner only.

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0 / Updated: 1.0.1
  | //- @param {object} image_src - banner image width and height
  | //- @param {boolean} small_banner - True if small banner otherwise big banner
  | +edu_banner(image_src, small_banner)

mixin usage
  pre
    code.language-jade
      +documentation


//--- OUTPUT ---//
//---------------------------------------------------------

mixin edu_banner(image_src, small_banner)

  - var additionalBannerClass =''

  if small_banner
    - var additionalBannerClass = 'gef-banner-container--small'

  aside.edu-banner-container(class=additionalBannerClass aria-label="banner")

    div.uk-container.uk-container-center
        div.edu-banner
          div.edu-banner-image-container  
            img.edu-banner-image(src="assets/images/hero-image.jpg" alt="Photo for banner")
            div.edu-banner-background-image 
            div.edu-banner-shading

          div.edu-banner-textbox-container
            
            div.edu-banner-textbox
              h1.edu-banner-header
                | Welcome to the Department of education NSW
              p
                | The new school year just a couple of weeks away, make sure you're as prepared as can be for this years adventure.

              hr

              div.edu-banner-search
                p
                  | Search the Department of Education topics

                div.edu-banner-search-form
                  +gef_search_box('header')

                div.edu-banner-search-links
                  
                  a(href="#") school holidays
                  | #{' '}
                  a(href="#") school finder
                  | #{' '}
                  a(href="#") astp
                  | #{' '}
                  a(href="#") future focused learning
                  | #{' '}
                  a(href="#") selective schools
                  | #{' '}
                  a(href="#") aboriginal education policy
                  | #{' '}



               
