mixin edu-rhs-news-hub-article-variation(classes,hide,count)

  div.edu-block.edu-block--columned.edu-small-margin-bottom.uk-margin-large.uk-block-default.gef-side-navigation-upper
     img(src="//placehold.it/800x500" alt="")
     div.uk-container.uk-margin-large-top 
        h2.gef-block__header.edu-block__header| About the secretary
        p
          +lipsum(3, "sentences")
        +edu-link-list-with-misc(2,0,1)
