mixin edu_footer_partnership_variant_no_social_media(channels, show_link_list)

  div.gef-section-footer

    div.uk-container.uk-container-center

      div.uk-grid.uk-grid-collapse
        div.uk-width-1-1.uk-width-large-1-1
          h3
            | #{siteName}


        if show_link_list
            div.uk-width-1-1.uk-width-large-1-1
              ul.gef-section-footer__list
                li
                  a(href="#")
                    +lipsum(1, "words")
                li
                  a(href="#")
                    +lipsum(2, "words")
                li
                  a(href="#")
                    +lipsum(4, "words")
                li
                  a(href="#")
                    +lipsum(3, "words")

        div.uk-width-1-1.uk-width-large-1-1.gef-section-footer_variant
            +gef_partnership_footer(4)
