//--- *************** ---//
//--- SIDE NAVIGATION ---//
//--- *************** ---//

- var name = "Side Navigation"

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin description
  p
    A navigation used to display sibling and children pages of the current page. Usually displayed on the right or left of page next to the main content.

mixin usage
  h4 Using pug:
  pre
    | +policy_side_navigation


mixin output
  +policy_side_navigation


//--- MIXINS ---//
//---------------------------------------------------------
mixin pol_doc_details
  .policy-doc-details
    .policy-nav-topline

    h3
      | Document Type
    span
      +lipsum(1, "words")

    h3
      | Reference Number
    span
      | PD/2002/0049/V02

    h3
      | Implementation Date
    span
      | 01/01/2012

    h3
      | last updated
    span
      +lipsum(1, "words")

    p
      a(href="#")
        +lipsum(4, "words")

mixin pol_implementation_doc
  .policy-rhs-box
    h3
      | Implementation documents
    +gef_link_list(2)

    h3
      +lipsum(2, "words")
    +gef_link_list(2)

mixin pol_secure
  .policy-rhs-box
    div.gef-link-tag-basic 
      a(href="#") 
        +gef_link_tag('Log in for staff only content' , 'icon')   

mixin pol_contact
  .policy-rhs-box
    h3
      i.uk-icon-comment(aria-hidden="true")
      | Contact
    p
      +lipsum(4, "words")
      |#{' '}(02) 92668517




//--- HTML OUTPUT ---//
//---------------------------------------------------------

mixin policy_side_navigation
  nav
    h3.show-on-sr
      | Section navigation

    .gef-side-navigation.uk-nav.policy-nav

      +pol_doc_details
      +pol_implementation_doc
      +pol_secure
      +pol_contact




