mixin policy_disclaimer_print
  div.policy-print
    p
      | This policy is current as at  DD/MM/YYYY hr:min am/pm, AEDT. Please refer to policy library website (https://education.nsw.gov.au/policy-library) for an updated version.