mixin edu_public_header

  div.gef-education-banner.edu-public-header

    div.uk-container.uk-container-center

      div.uk-grid

        div.uk-width-1-1

          div
            +gef_corporate_logo(true)

          h1
            span.gef-education-banner__lead
              | Teaching &amp;
            span.gef-education-banner__header
              | learning

          h2.show-on-sr
            | Search within Teaching &amp; learning

          form.gef-education-banner__search.edu-public-header__search(action="//search.uat.det.nsw.edu.au/search" method="get" id="search")
            input(type="hidden" name="access" value="p")
            input(type="hidden" name="client" value="alex_dl_test")
            input(type="hidden" name="proxystylesheet" value="alex_dl_test")
            input(type="hidden" name="site" value="gef_full_search")

            div
              label.show-on-sr.uk-visible-large(for="search")
                | Enter your search&hellip;
              input(id="search" name="q" placeholder="Enter your search..." type="text" aria-labelledby="inputNote" required maxlength="254")
              button(type="submit")
                | Submit

          p#inputNote.uk-hidden-small.edu-public-header__search__note
            | Includes public content only
