mixin edu_tabbed_calendar

  div.uk-block.uk-block-default.edu-block.edu-block--alt1.edu-calendar
    div.uk-container
      h3.gef-block__header.edu-block__header
        | School calendar
      div.gef-tabs.edu-tabs.js-tabs(calendar-gef-tabs)
        ul.js-tablist(data-hx="h2") 
          li.gef-tabs__group.js-tablist__item(role="presentation") 
            a.js-tablist__link.tab-left(id="label_east_nsw", href="#east_nsw" tabindex="0", aria-selected="true", data-selected="1") Eastern NSW
            div.js-tabcontent(id="east_nsw", role="tabpanel", aria-hidden="false", aria-label="tabpanel")
              +edu_date_block
          li.gef-tabs__group.js-tablist__item(role="presentation")
            a.js-tablist__link.tab-right(id="label_west_nsw", href="#west_nsw") Western NSW
            div.js-tabcontent(id="west_nsw", role="tabpanel", aria-label="tabpanel")
              +edu_date_block
