mixin theme-demo-content-colour-typography

  h2#Typography2 Typography
  p
    | We have recently updated our GEF typeface to Montserrat, an open source Google font.
  h3#8384 Fonts
  .uk-grid
    .uk-width-large-4-10
      h4 Montserrat Bold
      p.super
        span.text-collapse
          | ABCDEFGHIJKLMNOPQRSPUVWXYZ
          br
          | abcdefghijklmnopqrstuvwxyz
          br
          | 1234567890!@#$%^&*()_+
      h4 Montserrat Regular
      p.strong
        span.text-collapse
          | ABCDEFGHIJKLMNOPQRSPUVWXYZ
          br
          | abcdefghijklmnopqrstuvwxyz
          br
          | 1234567890!@#$%^&*()_+
      h4 Montserrat Light
      p
        span.text-collapse
          | ABCDEFGHIJKLMNOPQRSPUVWXYZ
          br
          | abcdefghijklmnopqrstuvwxyz
          br
          | 1234567890!@#$%^&*()_+
  h3#6881 Desktop styles
  p
    | Too many type sizes and styles at once can break the rhythm of any layout. Building hierarchy within your layout with clear and defined type styles will allow for a better user experience. A clear hierarchy will also assist screen readers in navigating throughout your page.