mixin theme-demo-content-grid

  .uk-grid.uk-hidden-small
    .uk-width-1-10.uk-width-medium-1-10
      .grid-box
        span  1/10 
    .uk-width-1-10.uk-width-medium-1-10
      .grid-box
        span  1/10 
    .uk-width-1-10.uk-width-medium-1-10
      .grid-box
        span  1/10 
    .uk-width-1-10.uk-width-medium-1-10
      .grid-box
        span  1/10 
    .uk-width-1-10.uk-width-medium-1-10
      .grid-box
        span  1/10 
    .uk-width-1-10.uk-width-medium-1-10
      .grid-box
        span  1/10 
    .uk-width-1-10.uk-width-medium-1-10
      .grid-box
        span  1/10 
    .uk-width-1-10.uk-width-medium-1-10
      .grid-box
        span  1/10 
    .uk-width-1-10.uk-width-medium-1-10
      .grid-box
        span  1/10 
    .uk-width-1-10.uk-width-medium-1-10
      .grid-box
        span  1/10 
  .uk-grid
    .uk-width-1-4.uk-width-medium-1-4
      .grid-box
        span  1/4 
    .uk-width-1-4.uk-width-medium-1-4
      .grid-box
        span  1/4 
    .uk-width-1-4.uk-width-medium-1-4
      .grid-box
        span  1/4 
    .uk-width-1-4.uk-width-medium-1-4
      .grid-box
        span  1/4 
  .uk-grid
    .uk-width-1-3.uk-width-medium-1-3
      .grid-box
        span  1/3 
    .uk-width-1-3.uk-width-medium-1-3
      .grid-box
        span  1/3 
    .uk-width-1-3.uk-width-medium-1-3
      .grid-box
        span  1/3 
  .uk-grid
    .uk-width-1-2.uk-width-medium-1-2
      .grid-box
        span  1/2 
    .uk-width-1-2.uk-width-medium-1-2
      .grid-box
        span  1/2 
  .uk-grid
    .uk-width-3-4
      .grid-box
        span  3/4 
    .uk-width-1-4
      .grid-box
        span  1/4 