//--- INCLUDES
//---------------------------------------------------------

include assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Index"

//--- HTML
//---------------------------------------------------------

doctype html
html(class=theme, lang='en')

  +head

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="standard">
  <!--<![endif]-->
  <!--[if lte IE 9]>
  <body class="gef-ie9 standard">
  <!--<![endif]-->

  span#content(tabindex="-1")

  main.gef-main

    div.uk-container.uk-container-center

      div.uk-grid.uk-grid-collapse

        div.uk-width-large-1-1

          h1.uk-margin-large-top
            | #{siteName} : #{pageName}

          h2.uk-h3 Templates

          h3.uk-h4 Standard

          ul
            li
              a(href="template-standard.html") Standard
            li
              a(href="template-section.html") Section
            li
              a(href="template-landing.html") Landing
            li
              a(href="template-search-results.html") Search Results
            li
              a(href="template-news-index.html") News Index
            li
              a(href="template-news-article.html") News Article
            li
              a(href="template-catalogue.html") Catalogue
            li
              a(href="template-standard-partnership-footer-variant.html") Standard content partnership footer variant
            li
              a(href="template-standard-no-footer.html") Standard content no Footer
            li
              a(href="template-secondary-index.html") Secondary index standard page
            li
              a(href="template-secondary-index-withparentclass.html") Secondary index standard page With parent class
            li
              a(href="template-standard-no-social-media-links.html") Standard content Footer with no social media
            li
              a(href="template-feedback-form.html") Feedback form           
              


          h3.uk-h4 Policy

          ul
            li
              a(href="template-policy-standard.html") Policy
            li
              a(href="template-policy-landing-page-topic-view.html") Policy Landing Page (Topic View)
            li
              a(href="template-policy-landing-page-a-z-view.html") Policy Landing Page (A-Z View)
            li
              a(href="template-policy-document-history.html") Document History
            li
              a(href="template-policy-implementation-document.html") Policy Implementation Document
            li
              a(href="template-policy-topics-page.html") Policy Topics Page


          h3.uk-h4 A-Z templates

          ul
            li
              a(href="template-landing-a-z-variation1.html") A-Z Template (Variation 1)
            li
              a(href="template-landing-a-z-variation2.html") A-Z Template (Variation 2)
            li
              a(href="template-landing-a-z-variation3.html") A-Z Template (Variation 3)

          h3.uk-h4 Specific

          ul
            li
              a(href="template-education-transition-home-variation-2.0.html") Education Transition Home variation 2
            li
              a(href="template-education-transition-home.html") Education Transition Home
            li
              a(href="template-education-transition-home-variation-1.0.html") Education Transition Home variation 1
            li
              a(href="template-news-hub.html") News hub
            li
              a(href="template-news-hub-article.html") News hub - Article template
              ul
                li
                  a(href="template-news-hub-article-variation-no-image.html") News hub - Article - variation- template without image
                li
                  a(href="template-news-hub-article-variation-secretary-update.html") News hub - Article - variation- template secretary's update
            li
              a(href="template-primary-hub-private.html") Primary hub (Private)
            li
              a(href="template-primary-hub-public.html") Primary hub (Public)
            li
              a(href="template-secondary-hub.html") Secondary hub

              ul
                li
                  a(href="template-secondary-hub-variation1.html") Secondary hub variation 1
                li
                  a(href="template-secondary-hub-variation2.html") Secondary hub variation 2
                li
                  a(href="template-secondary-hub-variation3.html") Secondary hub variation 3
                li
                  a(href="template-secondary-hub-variation4.html") Secondary hub variation 4
            li
              a(href="template-gsa-search.html") GSA Search
            li
              a(href="template-erm-standard.html") ERM
            li
              a(href="template-standard-no-search-box.html") Policy Template Standard No Search
            li
              a(href="template-themes-demo.html") GEF Themes Demo Template


          h3.uk-h4 Other

          ul
            li
              a(href="template-input-share-poc.html") Input Share PoC
            li
              a(href="template-long-document.html") Long Document
            li
              a(href="template-guided-journey.html") Guided Journey
            li
              a(href="component-livefyre.html") Livefyre component            
            


  include ../bower_components/GEF/src/assets/pug/components/_global-scripts.pug

  </body>
