//--- INCLUDES
//---------------------------------------------------------

include assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "News Article Template"

//--- HTML
//---------------------------------------------------------



doctype html
html(class="#{theme}", lang='en')

  +head

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="standard education">
  <!--<![endif]-->
  <!--[if lte IE 9]>
  <body class="gef-ie9 standard education">
  <!--<![endif]-->

  +gef_skiplink

  +global_header(false, false)

  header
    +gef_section_header(siteName, 'On')

  +gef_search_box('header')

  div.uk-container.uk-container-center

    div.uk-grid.uk-grid-collapse

      +gef_breadcrumbs(7, true)

  span#content(tabindex="-1")

  main.gef-main

    div.uk-container.uk-container-center.uk-width-large-1-1

      div.uk-grid.uk-grid-collapse

        div.uk-width-large-6-10

          article.gef-article.gef-main-content.gef-news.edu-news-article

            +edu_highlight_panel-image-manipulation('edu-highlight-panels__variation edu-highlight-news',0,0,'lead')

            p
              +lipsum(10, "sentences")

            p
              +lipsum(10, "sentences")

            +gef_page_metadata
            +gef_add_this

        +gef_back_to_top

        //--- SIDEBAR

        div.uk-width-large-4-10.edu-news-article__rhs

          h1.show-on-sr
            | Related content

          div.uk-block.uk-block-default.edu-block.edu-block--columned.edu-small-margin-bottom.uk-margin-large.gef-side-navigation-upper
                div.uk-container
                  h2.gef-block__header.edu-block__header
                    +lipsum(2, "words")
                  div.uk-grid
                    div.uk-width
                      +edu-link-list-with-misc(5,1,0)


    div.edconnect
      +edconnect_drawer

  footer
    //+gef_section_footer("Yammer, Twitter, Facebook, YouTube, Instagram, Google Plus", true)
    +edu_section_footer

  +education_global_footer

  include ../bower_components/GEF/src/assets/pug/components/_global-scripts.pug
  include assets/pug/_scripts.pug

</body>
