//--- INCLUDES
//---------------------------------------------------------

include assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Standard Page"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  +head

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="standard education">
  <!--<![endif]-->
  <!--[if lte IE 9]>
  <body class="gef-ie9 standard education">
  <!--<![endif]-->

  +global_header(false, true)

  header
    +gef_section_header(siteName, 'On')

  +gef_search_box('header')

  span#content(tabindex="-1")

  main.gef-main

    div.uk-container.uk-container-center

      div.uk-grid.uk-grid-collapse

        article.uk-width-large-6-10.gef-main-content(data-gef-anchor-box)

          h1
            | Input sharing PoC

          form.uk-margin
            fieldset.uk-margin
              legend
                | Control Set 1
              div.gef-radio-list__row
                input(type="radio" id="controlSet1-1" name="controlSet1" value="AllOfDept" data-gef-input-transferer="capture")
                label(for="controlSet1-1")
                  | All of Education.nsw.gov.au
              div.gef-radio-list__row
                input(type="radio" id="controlSet1-2" name="controlSet1" value="ThisSiteOnly" data-gef-input-transferer="capture")
                label(for="controlSet1-2")
                  | This site only

            fieldset.uk-margin-large-top
              legend
                | Control Set 2
              div.gef-radio-list__row
                input(type="radio" id="controlSet2-1" name="controlSet2" value="AllOfDept" data-gef-input-transferer="capture")
                label(for="controlSet2-1")
                  | All of Education.nsw.gov.au
              div.gef-radio-list__row
                input(type="radio" id="controlSet2-2" name="controlSet2" value="ThisSiteOnly" data-gef-input-transferer="capture")
                label(for="controlSet2-2")
                  | This site only

            fieldset.uk-margin-large-top
              legend
                | Capture set
              p This set should capture any changes from above, and will be hidden from screen readers
              label(for="capture")
                | Search Scope
              input(type="text" id="capture" name="captureSet")

  footer
    //+gef_section_footer("Yammer, Twitter, Facebook, YouTube, Instagram, Google Plus", true)
    +edu_section_footer

  +education_global_footer

  include ../bower_components/GEF/src/assets/pug/components/_global-scripts.pug
  include assets/pug/_scripts.pug

  </body>
