//--- INCLUDES
//---------------------------------------------------------

include assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Policy Landing Page (Topic View)"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  +head

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="policy education">
  <!--<![endif]-->
  <!--[if lte IE 9]>
  <body class="gef-ie9 policy education">
  <!--<![endif]-->

  +gef_skiplink

  +global_header(false, false)

  header
    +gef_section_header("Policy library", 'On')

  +gef_search_box('header')

  +policy_disclaimer_print

  div.uk-container.uk-container-center

    div.uk-grid.uk-grid-collapse

      +gef_breadcrumbs(7, true)

    +policy_landing_header

  span#content(tabindex="-1")

  main.gef-main

    div.uk-container.uk-container-center

      div.uk-grid.uk-grid-collapse

        article.uk-width-large-1-1.gef-main-content(data-gef-anchor-box)

          div.uk-block.gef-block

            div.policy-bg-block

            div.uk-grid.uk-grid-collapse

              div.uk-width-medium-10-10.policy-main-content.policy-landing-content

                div.policy-landing-subheading-container
                 div.policy-landing-subheading
                  h2
                   | Browse policies

                 div.policy-view-toggle
                     a(href="#").policy-view-toggle-selected
                        span View by topic
                     a(href="#")
                        span View A-Z

                form(id="policy-form" action="" method="GET")
                 div.policy-radios
                    div.gef-radio-list
                      fieldset
                        legend.show-on-sr
                          | Etiam posuere quam
                        div.gef-radio-list__row
                           input(type="radio" id="radioListID0147" name="radioList" value="radioListID0147" checked="checked")
                           label(for="radioListID0147")
                             |  Etiam quis quam
                        div.gef-radio-list__row
                           input(type="radio" id="radioListID0148" name="radioList" value="radioListID0148")
                           label(for="radioListID0148")
                             |  Etiam quis quam
                        div.gef-radio-list__row
                           input(type="radio" id="radioListID0149" name="radioList" value="radioListID0149")
                           label(for="radioListID0149")
                             |  Etiam quis quam

                 div.policy-dropdown-container
                    div.gef-form.gef-form--inline.uk-width-large-8-10
                     fieldset
                       legend.show-on-sr Category Select
                       +gef_select("Select Category", 4, 1)
                       input.uk-hidden(type="submit" id="sub01" name="sub01" value="submit" tabindex="-1")
                       i.dropdown-chevron

                +gef_expanded_nav(8)

          +gef_back_to_top

  +education_global_footer

  include ../bower_components/GEF/src/assets/pug/components/_global-scripts.pug
  include assets/pug/_scripts.pug

  </body>
