//--- INCLUDES
//---------------------------------------------------------

include assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Search Results"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  +head

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="standard education">
  <!--<![endif]-->
  <!--[if lte IE 9]>
  <body class="gef-ie9 standard education">
  <!--<![endif]-->

  +gef_skiplink

  +global_header(true, false)

  span#content(tabindex="-1")

  main.gef-main

    div.uk-container.uk-container-center

      div.uk-grid

        div.uk-width-large-7-10

          +gef_search_box

    hr.uk-margin-small.gef-hr-light

    article.uk-container.uk-container-center

      div.uk-grid

        aside.uk-width-medium-3-10.uk-hidden-small

          h2.gef-search-refine-results-header.uk-margin-large-top.uk-margin-large-bottom
            | Refine Results

          div.uk-margin-bottom
            +gef_radio_list(2)

          div.uk-margin-bottom
            +gef_login_link




        div.uk-width-1-1.uk-width-medium-7-10

          p.gef-search-results__info.uk-visible-small.uk-margin-top.uk-margin-bottom
            | Showing 1 - 10 of 12345 results

          div.gef-show-hide.gef-show-hide--alt.uk-accordion.uk-visible-small(data-uk-accordion="{collapse: false, showfirst:false}" role="tablist")
            h3.uk-accordion-title(id="searchRefine" + id aria-expanded="false" role="tab" tabindex="0" aria-controls="mobileRefine")
              span
                | Refine Results
                i
                i.vertical
            div#mobileRefine.uk-accordion-content
              div.uk-margin-top.uk-margin-large-bottom
                +gef_radio_list(2)
              div.uk-margin-bottom
                +gef_login_link

          div.gef-search-results.uk-margin-large-bottom

            p.gef-search-results__info.uk-hidden-small
              | Showing 1 - 10 of 12345 results

            mixin call_out_box_content
              - var countRecommended = 1
              - var numberRecommended = 2

              h3.gef-call-out-box__heading Recommended

              ol.gef-search-results__list
                while countRecommended < numberRecommended + 1
                  +sr_item(countRecommended++)

            +gef_call_out_box("lite")


            - var countResults = 1
            - var numberResults = 15

            ol.gef-search-results__list
              li.gef-search-results__item
                +sr_header_link
                p
                  <span class="link-tag-container"><span class="link-tag"><i class="link-tag-icon" aria-hidden="aria-hidden"></i>STAFF ONLY</span></span><br />
                  +lipsum(7, "words")
                  | #[strong Elit ]
                  +lipsum(15, "words")
                  | &hellip;
                +sr_url_text_url
              while countResults < numberResults + 1
                if (countResults == 3)
                  +sr_item(countResults++, "pdf")
                else if (countResults == 4)
                  +sr_item(countResults++, "doc")
                else if (countResults == 5)
                  +sr_item(countResults++, "xls")
                else if (countResults == 6)
                  +sr_item(countResults++, "ppt")
                else if (countResults == 9)
                  +sr_item(countResults++, "map")
                else if (countResults == 12)
                  +sr_item(countResults++, "event")
                else
                  +sr_item(countResults++)



          div.uk-margin-bottom

          +gef_pagination(5, "left")


  footer
    //+gef_section_footer("Yammer, Twitter, Facebook, YouTube, Instagram, Google Plus", true)
    +edu_section_footer

  +education_global_footer

  include ../bower_components/GEF/src/assets/pug/components/_global-scripts.pug
  include assets/pug/_scripts.pug

  </body>
