//--- INCLUDES
//---------------------------------------------------------

include assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Search Results"

//--- HTML
//---------------------------------------------------------

mixin output

  doctype html
  html(class="#{theme}", lang='en')

    +head

    <!--[if gt IE 9 | !IE ]><!-->
    <body class="catalogue education">
    <!--<![endif]-->
    <!--[if lte IE 9]>
    <body class="gef-ie9 catalogue education">
    <!--<![endif]-->

    +gef_skiplink

    +global_header(false, false)
    +local_mobile_nav_variant
    +mega_menu_variant(7)
    header.uk-visible-large
      +gef_section_header(siteName, 'On')

    +gef_search_box('header')

    div.uk-container.uk-container-center

      div.uk-grid.uk-grid-collapse

        +gef_breadcrumbs(7, true)

    span#content(tabindex="-1")

    main.gef-main

      div.uk-container.uk-container-center

        article.uk-width-large-7-10.gef-main-content

          h1#anchor-1 Search Results

          form.gef-search.uk-form.gef-search--body(name="searchForm" action="#")

            fieldset

              legend Global Search
              label.uk-hidden-small(for="txtSearch")
                span.show-on-sr Enter your search
              input.uk-form-large(type="text" id="txtSearch" name="q" placeholder="Enter your site search..." required ng-model="keyword" maxlength="254")

              div(class="uk-margin-top")
                input(type="checkbox" id="chkAllDept" tabindex="0")
                label(for="chkAllDept")
                  | Search all department websites

              button(type="submit" id="btnSearch" ng-click="newSearchTerm()")
                span Search
                i.uk-icon-search

          div.gef-search-results

            p.gef-search-results__info

              +lipsum(2, "sentences")

            +gef_search_listings(7)

          +gef_pagination(5, "left")

        +gef_back_to_top

    footer
      //+gef_section_footer("Yammer, Twitter, Facebook, YouTube, Instagram, Google Plus", true)
      +edu_section_footer

    +education_global_footer

    include ../bower_components/GEF/src/assets/pug/components/_global-scripts.pug
    include assets/pug/_scripts.pug

    </body>

+output