//--- INCLUDES
//---------------------------------------------------------

include assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Education Home"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  +head

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="standard edu-home education">
  <!--<![endif]-->
  <!--[if lte IE 9]>
  <body class="gef-ie9 standard edu-home education">
  <!--<![endif]-->

  +gef_skiplink

  div.gef-alert
    span.show-on-sr
      | Emergency notice
    +gef_maintenance_ribbon

  +gef_notice_ribbon
  +global_header(false, false)
  +edu_education_banner

  span#content(tabindex="-1")

  main.gef-main

    div.uk-container.uk-container-center

      div.uk-grid.uk-grid-collapse

        article.uk-width-large-1-1.gef-main-content

          div.uk-grid.uk-grid-collapse

            div.uk-width-medium-2-3.edu-match-height

              div.uk-block.uk-block-default.edu-block.edu-block--match-height.edu-block--add-border

                div.uk-container
                  h3.gef-block__header.edu-block__header
                    | Quick links

                  +gef_link_columns(7, 2, true)

            div.uk-width-medium-1-3.edu-match-height

              +edu_tabbed_calendar


          div.uk-grid.uk-grid-collapse
            div.uk-width
              h2.edu-topic-header
                | Here are some sections you can visit today:

            //- MIXIN FOR HOME BLOCK -//
            //- @param {string} class_add - extra classes to add to the container
            //- @param {bool} secured - display a lock icon next to header
            mixin edu_home_block(class_add, secured)
              div(class="uk-block uk-block-default edu-block edu-block--columned "+class_add)

                .uk-container
                  h3.gef-block__header.edu-block__header.edu-linky-block__header
                    a(href="#")
                      +lipsum(2, "words")
                      if secured
                        i.uk-icon-lock(aria-hidden="true")
                  div.uk-grid
                    div.uk-width
                      p.edu-block__info.edu-linky-block__info
                        +lipsum(2, "sentences")
                      h4.edu-linky-block__sub-header
                        | Topics include:
                      +gef_link_list(7)
                      a.edu-block__strong-link(href="#")
                        | View more topics

            //- END MIXIN -//

            - var num = 0
            - var total = 9
            while num < total
              div.uk-width-medium-1-3.edu-match-height
                if num == total-1
                  +edu_home_block("edu-linky-block edu-block--alt1", true)
                else if num == total-4
                  +edu_home_block("edu-mobile-show-hide")
                else if num%3 == 0 || num%3-1 == 0
                   +edu_home_block("edu-linky-block edu-block--add-border")

                else
                  +edu_home_block("edu-linky-block")

                - num++





          +gef_back_to_top


  footer
    //+gef_section_footer("Yammer, Twitter, Facebook, YouTube, Instagram, Google Plus", true)
    +edu_section_footer

  +education_global_footer

  include ../bower_components/GEF/src/assets/pug/components/_global-scripts.pug
  include assets/pug/_scripts.pug

  </body>
