//--- INCLUDES
//---------------------------------------------------------

include assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Public Primary Hub"

//--- HTML
//---------------------------------------------------------

mixin output

  doctype html
  html(class="#{theme}", lang='en')

    +head

    <!--[if gt IE 9 | !IE ]><!-->
    <body class="secondary-hub education">
    <!--[endif]-->
    <!--[if lte IE 9]>
    <body class="gef-ie9 secondary-hub education">
    <!--[endif]-->

    +gef_skiplink

    +global_header(false, false)

    header

      +edu_secondary_hub_header

    div.uk-container.uk-container-center

      div.uk-grid.uk-grid-collapse

        div.uk-width-1-1

          +gef_breadcrumbs(2, true, true)

    span#content(tabindex="-1")

    main.gef-main

      div.uk-container.uk-container-center

        article.uk-width-large-1-1.gef-main-content

          div.uk-grid.uk-grid-collapse
          
            div.uk-width-1-1.edu-news-hub
              form(id="frm01" action="" method="GET").uk-grid.uk-grid-collapse
                div.gef-form.gef-form--inline.edu-news-hub__select-position-1
                    +edu_select("news category","news-type","Category", 4, 0)
                    input.uk-hidden(type="submit" id="sub01" name="sub01" value="submit" tabindex="-1")
                div.gef-form.gef-form--inline.edu-news-hub__select-position-2
                    +edu_select("news from","news-date","News from", 4, 0)
                    input.uk-hidden(type="submit" id="sub01" name="sub01" value="submit" tabindex="-1")
                button.uk-button.gef-button-large.gef-button-submit-inverse.edu-news-hub__button(type="submit" aria-label="filter news") Filter

            div.uk-width-medium-2-3

              aside.uk-grid.uk-grid-collapse.uk-margin-large-bottom.edu-highlight-panels

                h2.show-on-sr
                  | Featured Pages

                -var highlightPanels = 4
                -var count2 = 0

                while count2 < highlightPanels
                  div.uk-width-medium-1-2
                    +edu_highlight_panel-image-manipulation('edu-highlight-panels__panel--alt1 edu-highlight-panels__variation',1,count2)
                    -count2++

                -var highlightPanels = 4
                -var count2 = 0

                while count2 < highlightPanels
                  div.uk-width-medium-1-2
                    +edu_highlight_panel-image-manipulation('edu-highlight-panels__variation',0,count2)
                    -count2++
                    
                +gef_pagination(5, "center")
            div.uk-width-medium-1-3.secondary-hub__rhs.edu-news-article-rhs
              div.uk-block.uk-block-default.edu-block.edu-block--columned.edu-small-margin-bottom.edu-social-media-post-block
                    div.uk-container
                          h3.gef-block__header.edu-block__header.edu-linky-block__header
                            | Connect with us
                          div(data-gef-social-media='{"displayCap": 4,"contentLength":100, "services": [{"service":"facebook", "username":"digservdoe", "numberOfPosts": 4},{"service":"youtube", "username":"UCT8TtTkD_138SWJrCXD2Xfw", "type":"channel", "numberOfPosts": 2},{"service":"twitter", "username":"digservdoe", "numberOfPosts": 4}]}')
                            div.gef-loader(aria-hidden=true)
                            ul.gef-flex-grid
              //- PANEL WITH LINKS -//
              //- +edu-rhs-links-social("Connect with us",2,'uk-block uk-block-default edu-block edu-block--columned edu-small-margin-bottom')
              //- PANEL WITH LINKS SIMPLE -//
              //-+edu-rhs-links-social("Other social media",7,'uk-block uk-block-default edu-block edu-block--columned edu-small-margin-bottom')

        +gef_back_to_top

      div.edconnect
        +edconnect_drawer

    footer
      //+gef_section_footer("Yammer, Twitter, Facebook, YouTube, Instagram, Google Plus", true)
      +edu_section_footer

    +education_global_footer

    include ../bower_components/GEF/src/assets/pug/components/_global-scripts.pug
    include assets/pug/_scripts.pug

    </body>

+output