//--- INCLUDES
//---------------------------------------------------------

include assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Catalogue Template"

//--- HTML
//---------------------------------------------------------


doctype html
html(class="#{theme}", lang='en')

  +head

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="catalogue education">
  <!--<![endif]-->
  <!--[if lte IE 9]>
  <body class="gef-ie9 catalogue education">
  <!--<![endif]-->

  +gef_skiplink

  +global_header(false, false)

  header

    +gef_section_header(siteName, 'On')

  +gef_search_box('header')

  div.uk-container.uk-container-center

    div.uk-grid.uk-grid-collapse

      +gef_breadcrumbs(7, true)

  span#content(tabindex="-1")

  main.gef-main

    div.uk-container.uk-container-center

      div.uk-grid.uk-grid-collapse

        article.uk-width-large-1-1.gef-main-content

          div.uk-block.uk-block-default.uk-margin-large-top.gef-block

            div.uk-container

              +gef_landing_header

          div.uk-block.uk-block-default.uk-margin-large-bottom.uk-margin-large-top.gef-block

            div.uk-container.uk-container-center

              +gef_catalogue(5, true)

    div.edconnect
      +edconnect_drawer

  footer
    //+gef_section_footer("Yammer, Twitter, Facebook, YouTube, Instagram, Google Plus", true)
    +edu_section_footer

  +education_global_footer

  include ../bower_components/GEF/src/assets/pug/components/_global-scripts.pug
  include assets/pug/_scripts.pug

  </body>

