//--- INCLUDES
//---------------------------------------------------------

include assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Public Primary Hub"

//--- HTML
//---------------------------------------------------------

mixin output

  doctype html
  html(class="#{theme}", lang='en')

    +head

    <!--[if gt IE 9 | !IE ]><!-->
    <body class="public-primary education">
    <!--[endif]-->
    <!--[if lte IE 9]>
    <body class="gef-ie9 private-primary education">
    <!--[endif]-->

    +gef_skiplink

    +global_header(false, false)

    header

      +edu_public_header

    div.uk-container.uk-container-center

      +gef_banner("//placehold.it/1350x520")

      div.uk-grid.uk-grid-collapse

        div.uk-width-1-1

          +gef_breadcrumbs(2, true, true)

    span#content(tabindex="-1")

    main.gef-main

      div.uk-container.uk-container-center

        article.uk-width-large-1-1.gef-main-content

          div.uk-block.uk-block-default.edu-block.edu-block--alt1

            .uk-container

              h3.gef-block__header.edu-block__header
                a(href="#")
                  +lipsum(5, "words")

              //+gef_link_columns(12, 2, true)
              div.gef-link-columns
                ul.gef-link-list.gef-link-columns__items.gef-link-columns--2col.gef-link-columns--condensed
                  li
                    a(href="http://education.nsw.gov.au") Nunc auctor, Mauris pretium quam et
                  li
                    a(href="http://education.nsw.gov.au") nulla.
                  li
                    a(href="http://education.nsw.gov.au") metus.
                  li
                    a(href="http://education.nsw.gov.au") Integer pellentesque quam vel velit. Morbi.
                  li
                    a(href="http://education.nsw.gov.au") Etiam dui sem, fermentum vitae sagittis.
                  li
                    a(href="http://education.nsw.gov.au") Aliquam in lorem sit amet leo.
                  li
                    a(href="http://education.nsw.gov.au") Fusce dui leo imperdiet in, aliquam.
                  li
                    a(href="http://education.nsw.gov.au") Etiam dictum tincidunt diam. Donec ipsum.
                  li
                    a(href="http://education.nsw.gov.au") Cras pede libero, dapibus nec pretium.
                  li
                    a(href="http://education.nsw.gov.au") Nullam dapibus fermentum ipsum. Etiam quis
                  li
                    a(href="http://education.nsw.gov.au") Integer vulputate sem a nibh rutrum.
                  li
                    a(href="http://education.nsw.gov.au") Phasellus faucibus molestie nisl. Fusce eget.

          div.uk-grid.uk-grid-collapse
            div.uk-width
              h2.edu-topic-header
                | Explore Teaching &amp; Learning

          div.uk-block.uk-block-default.edu-linky-block

            .uk-container

              h3.gef-block__header.edu-linky-block__header
                a(href="#")
                  +lipsum(5, "words")

              div.uk-grid.uk-grid-collapse

                div.uk-width-medium-1-4
                  p.edu-linky-block__info
                    +lipsum(2, "sentences")

                div.uk-width-medium-3-4
                  h4.edu-linky-block__sub-header
                    | Topics include:

                  +gef_link_columns(9, 3, true)

                div.uk-width-1-1
                  a.edu-block__strong-link(href="#")
                    | View all topics



          div.uk-block.uk-block-default.edu-linky-block

            .uk-container

              h3.gef-block__header.edu-linky-block__header
                a(href="#")
                  +lipsum(3, "words")

              div.uk-grid.uk-grid-collapse

                div.uk-width-medium-1-4
                  p.edu-linky-block__info
                    +lipsum(2, "sentences")

                div.uk-width-medium-3-4
                  h4.edu-linky-block__sub-header
                    | Topics include:

                  +gef_link_columns(9, 3, true)

                div.uk-width-1-1
                    a.edu-block__strong-link(href="#")
                      | View all topics

          div.uk-block.uk-block-default.edu-linky-block

            .uk-container

              h3.gef-block__header.edu-linky-block__header
                a(href="#")
                  +lipsum(2, "words")

              div.uk-grid.uk-grid-collapse

                div.uk-width-medium-1-4
                  p.edu-linky-block__info
                    +lipsum(2, "sentences")

                div.uk-width-medium-3-4
                  h4.edu-linky-block__sub-header
                    | Topics include:

                  +gef_link_columns(9, 3, true)

                div.uk-width-1-1
                    a.edu-block__strong-link(href="#")
                      | View all topics

        +gef_back_to_top

      div.edconnect
        +edconnect_drawer

    footer
      //+gef_section_footer("Yammer, Twitter, Facebook, YouTube, Instagram, Google Plus", true)
      +edu_section_footer

    +education_global_footer

    include ../bower_components/GEF/src/assets/pug/components/_global-scripts.pug
    include assets/pug/_scripts.pug

    </body>

+output
