//--- INCLUDES
//---------------------------------------------------------

include assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Private Primary Hub"

//--- HTML
//---------------------------------------------------------

mixin output

  doctype html
  html(class="#{theme}", lang='en')

    +head

    <!--[if gt IE 9 | !IE ]><!-->
    <body class="private-primary education">
    <!--[endif]-->
    <!--[if lte IE 9]>
    <body class="gef-ie9 private-primary education">
    <!--[endif]-->

    +gef_skiplink

    +global_header(false, false)

    header

      +edu_private_header

    div.uk-container.uk-container-center

      div.uk-grid.uk-grid-collapse

        div.uk-width-medium-6-10

            +gef_breadcrumbs(2, true, true)

        div.uk-width-medium-6-10.private-primary__search

          h2.private-primary__search__title  Search inside the department:

          form.gef-search.uk-form.gef-search--body(name="searchForm" action="#")

            fieldset

              legend Global Search
              label(for="txtSearch")
                span.show-on-sr Enter your search&hellip;
              input.uk-form-large(type="text" id="txtSearch" name="q" placeholder="Enter your search..." required ng-model="keyword" aria-describedby="inputNote" maxlength="254")

              button(type="submit" id="btnSearch" ng-click="newSearchTerm()" aria-labelledby="searchButtonLabel")
                span#searchButtonLabel Search
                i.uk-icon-search

            p#inputNote.uk-hidden-small.private-primary__search__note
              | Staff only content


      div.uk-width-1-1
        +edu-staff-essentials



    span#content(tabindex="-1")

    main.gef-main

      div.uk-container.uk-container-center

        div.uk-grid

        article.uk-width-large-1-1.gef-main-content

          h2.show-on-sr
            +lipsum(4, "words")

          //- MIXIN TO GENERATE TABS -//

          mixin edu_tabgroup(max)
            - var num = 0

            while num < max
              - var id = "tabs" + Math.floor((Math.random() * 500) + 1)

              li.gef-tabs__group.js-tablist__item(role="presentation")
                if num == 0
                  //--- first tab, displayed as active by default
                  a.js-tablist__link(id="label_" + id, href="#" + id, tabindex="0", aria-selected="true", data-selected="1")
                    +lipsum(2, "words")
                  div.js-tabcontent(id=id, role="tabpanel", aria-hidden="false", aria-label="tabpanel")
                    +gef_link_columns(12, 2, false)

                else
                  //--- other tabs are inactive
                  a.js-tablist__link(id="label_" + id, href="#" + id)
                    +lipsum(2, "words")
                  div.js-tabcontent(id=id, role="tabpanel", aria-label="tabpanel")
                    +gef_link_columns(12, 2, false)

              -num++

          //- END MIXIN -//


          div.gef-tabs.edu-tabs.js-tabs(data-gef-tabs)
            ul.js-tablist(data-hx="h2")
              +edu_tabgroup(4)


          div.uk-grid.uk-grid-collapse
            div.uk-width-medium-1-2
              h2.edu-topic-header
                | Explore the department

            div.uk-width-medium-1-2.uk-hidden-small
              +gef_button("Inside the department A-Z", "edu-topic-header-button", "x-small")

            //- MIXIN FOR SHOW HIDES -//
            mixin edu_primary_show_hide
              - var id = Math.floor((Math.random() * 500) + 1)

              div.uk-block.uk-block-default.edu-block.edu-mobile-show-hide
                div.uk-container

                  h3.gef-block__header.edu-mobile-show-hide__header(id="at" + id aria-controls="ac" + id aria-expanded="false" role="tab" tabindex="0")
                    a(href="#")
                      +lipsum(3, "words")

                  div.edu-mobile-show-hide__content(role="tabpanel" aria-hidden="true" id="ac"+id)
                    div.uk-grid.uk-grid-collapse

                      div.uk-width-medium-1-4
                        p.edu-mobile-show-hide__info
                          +lipsum(2, "sentences")

                      div.uk-width-medium-3-4
                        h4.edu-mobile-show-hide__sub-header
                          | Topics include:

                        +gef_link_columns(9, 3, true)

                      div.uk-width-1-1
                        a.edu-block__strong-link(href="#")
                          | View all topics

            //- END MIXIN -//

            //- MIXIN FOR BLOCK WITHOUT HEADER LINK -//
            mixin edu_primary_show_hide_nolink
              - var id = Math.floor((Math.random() * 500) + 1)

              div.uk-block.uk-block-default.edu-block.edu-mobile-show-hide
                div.uk-container

                  h3.gef-block__header.edu-mobile-show-hide__header(id="at" + id aria-controls="ac" + id aria-expanded="false" role="tab" tabindex="0")
                    +lipsum(3, "words")

                  div.edu-mobile-show-hide__content(role="tabpanel" aria-hidden="true" id="ac"+id)
                    div.uk-grid.uk-grid-collapse

                      div.uk-width-medium-1-4
                        p.edu-mobile-show-hide__info
                          +lipsum(2, "sentences")

                      div.uk-width-medium-3-4
                        h4.edu-mobile-show-hide__sub-header
                          | Topics include:

                        +gef_link_columns(9, 3, true)

            //- END MIXIN -//

            div.edu-mobile-show-hide-container
              - var num = 0
              while num < 4
                if num == 2
                  +edu_primary_show_hide_nolink
                else
                  +edu_primary_show_hide
                - num++


          //- UNCOMMENT BELOW TO USE THE NON-EXPANDING VERSIONS ON MOBILE.


          //- div.uk-block.uk-block-default.edu-linky-block

          //-   .uk-container

          //-     h3.gef-block__header.edu-linky-block__header
          //-       a(href="#")
          //-         +lipsum(3, "words")

          //-     div.uk-grid.uk-grid-collapse

          //-       div.uk-width-medium-1-4
          //-         p.edu-linky-block__info
          //-           +lipsum(2, "sentences")

          //-       div.uk-width-medium-3-4
          //-         h4.edu-linky-block__sub-header
          //-           | Topics Include:

          //-         +gef_link_columns(9, 3, true)

          //- div.uk-block.uk-block-default.edu-linky-block.edu-linky-block--extra-padding

          //-   .uk-container

          //-     h3.gef-block__header.edu-linky-block__header
          //-       a(href="#")
          //-         +lipsum(2, "words")

          //-     div.uk-grid.uk-grid-collapse

          //-       div.uk-width-medium-1-4
          //-         p.edu-linky-block__info
          //-           +lipsum(2, "sentences")

          //-       div.uk-width-medium-3-4
          //-         h4.edu-linky-block__sub-header
          //-           | Topics Include:

          //-         +gef_link_columns(9, 3, true)

          +gef_button("Inside the department A-Z", "edu-topic-header-button edu-topic-header-button--alt1 gef-button--alt1 uk-hidden-small", "x-small")

          +gef_button("Inside the department A-Z", "edu-topic-header-button edu-topic-header-button--mobile uk-visible-small", "x-small")



        +gef_back_to_top

      div.edconnect
        +edconnect_drawer

    footer
      //+gef_section_footer("Yammer, Twitter, Facebook, YouTube, Instagram, Google Plus", true)
      +edu_section_footer

    +education_global_footer

    include ../bower_components/GEF/src/assets/pug/components/_global-scripts.pug
    include assets/pug/_scripts.pug

    </body>

+output