//--- INCLUDES
//---------------------------------------------------------

include assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Policy Standard Page"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  +head

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="policy education">
  <!--<![endif]-->
  <!--[if lte IE 9]>
  <body class="gef-ie9 policy education">
  <!--<![endif]-->

  +gef_skiplink

  +global_header(false, false)

  header
    +gef_section_header("Policy library" , 'on')

  +gef_search_box('header')  

  +policy_disclaimer_print

  div.uk-container.uk-container-center

    div.uk-grid.uk-grid-collapse

      +gef_breadcrumbs(7, true)
      
    div.policy-heading
      hr
      h1
        +lipsum(2, "words")

      div.gef-link-tag-basic 
        a(href="#") 
          +gef_link_tag('Log in for staff only content' , 'icon') 

  span#content(tabindex="-1")

  main.gef-main

    div.uk-container.uk-container-center

      div.uk-grid.uk-grid-collapse

        article.uk-width-large-1-1.gef-main-content(data-gef-anchor-box)

          div.uk-block.gef-block

            div.policy-bg-block

            div.uk-grid.uk-grid-collapse

              div.uk-width-medium-10-10.policy-main-content
                h2.show-on-sr
                  | Policy list

                +gef_results_table("secure",1,0,false)

        +gef_back_to_top

  +education_global_footer

  include ../bower_components/GEF/src/assets/pug/components/_global-scripts.pug
  include assets/pug/_scripts.pug

  </body>
