//--- INCLUDES
//---------------------------------------------------------

include assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Policy Standard Page"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  +head

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="policy education">
  <!--<![endif]-->
  <!--[if lte IE 9]>
  <body class="gef-ie9 policy education">
  <!--<![endif]-->

  +gef_skiplink

  +global_header(false, true)

  header
    +gef_section_header("Policy library", 'On')

  +gef_search_box('header')

  +policy_disclaimer_print

  div.uk-container.uk-container-center

    div.uk-grid.uk-grid-collapse

      +gef_breadcrumbs(7, true)

    div.uk-grid.policy-results-header
      div.uk-width-large-7-10.policy-landing-header-left

        hr
        h1
          +lipsum(10, "words")
        div.policy-search
          +gef_search_box
      div.uk-width-medium-3-10.policy-landing-header-right
        h5
          | General policy enquires
        p.policy-landing-header-text
          | Schools and Community Senior
        p.policy-landing-header-text--small
          +lipsum(10, "words")
        p.policy-landing-header-text--small
          +lipsum(5, "words")
        a(href="#").policy-landing-header-text--small
          +lipsum(5, "words")

  span#content(tabindex="-1")

  main.gef-main

    div.uk-container.uk-container-center

      div.uk-grid.uk-grid-collapse

        article.uk-width-large-1-1.gef-main-content(data-gef-anchor-box)

          div.uk-block.gef-block

            div.policy-bg-block

            div.uk-grid.uk-grid-collapse

              div.uk-width-medium-10-10.policy-main-content

                h1
                  | Browse policies
                div.policy-landing-subheading
                  ul
                    li
                      h2.policy-landing-subheading-selected
                        | Schools
                    li
                      h2
                        | Tafe
                    li
                      h2
                        | Corporate
                div.policy-view-toggle
                  div.policy-view-toggle-selected
                    span View by topic
                  div
                    span View A-Z
                nav.gef-anchor-content-box
                  h3.policy-landing--h3
                      | Recent updates
                  div.uk-grid
                    div.uk-width-medium-1-3
                      div.uk-width-medium-1-2
                       a(href="#").policy-landing-header-text--small
                          +lipsum(5, "words")
                    div.uk-width-medium-1-3
                      +gef_link_list(3)
                    div.uk-width-medium-1-3
                      +gef_link_list(3)

                mixin gef_four_col_link_row(number)
                  nav.uk-grid.gef-linkgroup-list
                    mixin gef_link_col
                      div.uk-width-medium-1-4
                        h3.policy-landing--h3
                          | Recent updates
                        +gef_link_list(3)

                    - var n = 0;
                    while n < number
                      +gef_link_col
                      -n++

                +gef_four_col_link_row(4)
                +gef_four_col_link_row(4)
                +gef_four_col_link_row(3)

          +gef_back_to_top

  +education_global_footer

  include ../bower_components/GEF/src/assets/pug/components/_global-scripts.pug
  include assets/pug/_scripts.pug

  </body>
