//--- INCLUDES
//---------------------------------------------------------

include assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Public Primary Hub"

//--- HTML
//---------------------------------------------------------

mixin output

  doctype html
  html(class="#{theme}", lang='en')

    +head

    <!--[if gt IE 9 | !IE ]><!-->
    <body class="secondary-hub education">
    <!--<![endif]-->
    <!--[if lte IE 9]>
    <body class="gef-ie9 secondary-hub education">
    <!--<![endif]-->

    +gef_skiplink

    +global_header(false, false)

    header

      +edu_secondary_hub_header

    div.uk-container.uk-container-center

      div.uk-grid.uk-grid-collapse

        div.uk-width-1-1

          +gef_breadcrumbs(2, true, true)

    span#content(tabindex="-1")

    main.gef-main

      div.uk-container.uk-container-center

        article.uk-width-large-1-1.gef-main-content

          div.uk-grid.uk-grid-collapse

            div.uk-width-medium-2-3

              div.uk-block.uk-block-default.edu-block.edu-block--columned.edu-block--no-margin-bottom

                div.uk-container

                  h2.edu-topic-header
                    | In this section

                  +gef_lead

                  mixin secondary-hub-expanded-nav
                    div.uk-width-medium-1-2
                      div.gef-expanded-nav__item
                        h3
                          a(href="#")
                            +lipsum(4, "words")
                        p
                          +lipsum(12, "words", true)

                  -var expandedNavs = 16
                  -var count = 0
                  div.uk-grid.edu-secondary-hub__expanded-nav

                    while count < expandedNavs
                      +secondary-hub-expanded-nav
                      -count++

              aside.uk-grid.uk-grid-collapse.uk-margin-large-bottom.edu-highlight-panels

                h2.show-on-sr
                  | Featured Pages

                -var highlightPanels = 2
                -var count2 = 0

                while count2 < highlightPanels
                  div.uk-width-medium-1-2
                    +edu_highlight_panel('')
                  div.uk-width-medium-1-2
                    +edu_highlight_panel_img_size('', '333x200')
                    -count2++

            div.uk-width-medium-1-3.secondary-hub__rhs

              //- HIGHLIGHT PANEL -//
              div.edu-highlight-panels
                div
                  +edu_highlight_panel_img_size('edu-highlight-panels__panel--alt1', '333x200')

              //- PANEL WITH LINKS -//
              div.uk-block.uk-block-default.edu-block.edu-block--alt1.edu-block--columned.edu-block--alt1.edu-small-margin-bottom
                div.uk-container
                  h3.gef-block__header.edu-block__header
                    +lipsum(2, "words")
                  div.uk-grid
                    div.uk-width
                      p.edu-block__info
                        +lipsum(2, "sentences")
                      h4.edu-block__sub-header
                        | Topics include:
                      +gef_link_list(4)
                      a.edu-block__strong-link(href="#")
                        | View more topics

              //- PANEL WITH LINKS SIMPLE -//
              div.uk-block.uk-block-default.edu-block.edu-block--alt1.edu-block--columned.edu-block--alt1.edu-small-margin-bottom
                div.uk-container
                  h3.gef-block__header.edu-block__header
                    +lipsum(2, "words")
                  div.uk-grid
                    div.uk-width
                      +gef_link_list(7)

              //- DATE BLOCK -//
              div.edu-small-margin-bottom
                +edu_tabbed_calendar()

        +gef_back_to_top

      div.edconnect
        +edconnect_drawer

    footer
      //+gef_section_footer("Yammer, Twitter, Facebook, YouTube, Instagram, Google Plus", true)
      +edu_section_footer

    +education_global_footer

    include ../bower_components/GEF/src/assets/pug/components/_global-scripts.pug
    include assets/pug/_scripts.pug

    </body>

+output
