//--- INCLUDES
//---------------------------------------------------------

include assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Education Home"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  +head

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="standard edu-home education">
  <!--<![endif]-->
  <!--[if lte IE 9]>
  <body class="gef-ie9 standard edu-home education">
  <!--<![endif]-->

  +edu-skiplinks-only-homepage

  +gef_notice_ribbon
  +global_header(false, false)
  +local_mobile_nav_variant('true')
  +mega_menu_variant(7) 
 
  //+edu_education_banner
  div.uk-hidden-large.gef-megamenu-mobile-banner
    +gef_search_box('header')
  span#content(tabindex="-1")
  
  main.gef-main
    +edu_banner  
    div.uk-container.uk-container-center

      div.uk-grid.uk-grid-collapse

        article.uk-width-large-1-1.gef-main-content



          div.uk-grid.uk-grid-collapse.edu-match-height.edu-highlight-features
            div.uk-width-medium-1-1
              aside.uk-grid.uk-grid-collapse.uk-margin-bottom.uk-margin-top
                -var highlightPanels = 2
                -var count2 = 1
                while count2 < highlightPanels
                   div.uk-width-medium-1-3.edu-match-height.edu-highlight-feature-panel
                     +edu_highlight_panel-image('edu-highlight-panels__variation',1,count2,'','Secretary\’s update')
                        div.uk-width-medium-1-3.edu-match-height.edu-highlight-feature-panel
                   div.uk-width-medium-1-3.edu-match-height.edu-highlight-feature-panel
                     +edu_highlight_panel-image('edu-highlight-panels__variation',1,count2,'','Latest news')
                        div.uk-width-medium-1-3.edu-match-height.edu-highlight-feature-panel                     
                     -count2++          

                div.uk-width-medium-1-3.edu-match-height.edu-highlight-feature-panel

                  +edu_school_calendar

            div.uk-width-1-1.edu-highlight-features-viewall
              a(href='#') View all news
                     

    div.edu-tools-panel
      div.uk-container.uk-container-center
        h3 Helpful tools
        div.uk-grid.uk-grid-collapse.edu-tools-panel-inner
            div.uk-width-large-6-10.edu-tools-panel_school-finder
              div.uk-grid.uk-grid-collapse.edu-tools-panel_school-finder-inner
                div.uk-width-1-3.edu-tools-panel_school-finder-inner-map
                  img.edu-tools-panel_school-finder-image(src="assets/images/school-finder-map.jpg" alt="NSW Department of Education logo")
                div.uk-width-2-3.edu-tools-panel_school-finder-inner-desc
                  h3| School Finder
                  p| Find a public school in your local enrolment area.
                  a(href="#")
                    span.edu-tools-panel_school-finder-inner-desc-link| Go to school finder
            div.edu-tools-panel-inner-design         
            div.uk-width-large-3-10.edu-tools-panel-inner-links
              h3.gef-block__header.edu-block__header.edu-tools-panel-inner-links-block-header
                | Quick links
              +gef_link_list(4)
              div.uk-list.edu-social-links.edu-tools-panel-inner-social-links
                div.edu-social-icons
                  a(href="#" class="gef-remove-external-link" aria-label="NSW DoE profile on Facebook")
                    span(class="uk-icon-facebook" aria-hidden="true" aria-label="facebook icon")
                  a(href="#" class="gef-remove-external-link" aria-label="NSW DoE profile on LinkedIn")
                    span(class="uk-icon-linkedin" aria-hidden="true" aria-label="LinkedIn icon")
                  a(href="#" class="gef-remove-external-link" aria-label="NSW DoE profile on Twitter")
                    span(class="uk-icon-twitter" aria-hidden="true" aria-label="twitter icon")
                  a(href="#" class="gef-remove-external-link" aria-label="NSW DoE profile on Instagram")
                    span(class="uk-icon-instagram" aria-hidden="true" aria-label="Instagram icon")
    div.edu-social-panel
      div.uk-container.uk-container-center
        h3 Social 
        div.uk-grid.uk-grid-collapse.edu-social-panel-inner
          div.livefyre-mosaic.uk-grid-collapse.uk-grid("livefyreID=ZGVzaWduZXItYXBwLTE1NDA0NDU1NDkxNzU= livefyreType=uat")
        
    +gef_back_to_top


  footer
    //+gef_section_footer("Yammer, Twitter, Facebook, YouTube, Instagram, Google Plus", true)
    +edu_section_footer

  +education_global_footer

  include ../bower_components/GEF/src/assets/pug/components/_global-scripts.pug
  include assets/pug/_scripts.pug

  </body>
