//--- INCLUDES
//---------------------------------------------------------

include assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Policy Standard Page"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  +head

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="policy education">
  <!--<![endif]-->
  <!--[if lte IE 9]>
  <body class="gef-ie9 policy education">
  <!--<![endif]-->

  +gef_skiplink

  +global_header(false, true)

  header
    +gef_section_header("Policy library", 'On')

  +gef_search_box('header')

  +policy_disclaimer_print

  div.uk-container.uk-container-center

    div.uk-grid.uk-grid-collapse

      +gef_breadcrumbs(7, true)

    div.policy-results-header

      hr
      h1
        +lipsum(2, "words")

    div.policy-search
      mixin gef_policy_search

        div(class=containerClasses)

          form(id= id action="#" class="gef-search uk-form " + additionalClass aria-hidden="false" aria-labelledby="global-search-button")

          div.search-term-container
            legend.show-on-sr Global Search
            label(for="txtSearch" + randId)
              +lipsum(5, "words")
            span.show-on-sr Enter your search
            input.policy-search-term(type="text" id="txtSearch" + randId name="q" placeholder="Accreditation" tabindex="0" maxlength="254")
          div.select-container
            label
              +lipsum(1, "words")
            div.select
              select.policy-select
                option
                  | All
                option
                  | All
          div.select-container
            label
              +lipsum(1, "words")
            input.policy-input-datepicker(type="text" placeholder="Start date")
          div.select-container
            label
              +lipsum(1, "words")
            input.policy-input-datepicker(type="text" placeholder="End date")

          button.policy-search-button(type="submit" id="btnSearch" + randId aria-label="Submit search" tabindex="0")
            span SEARCH
      +gef_policy_search

  span#content(tabindex="-1")

  main.gef-main

    div.uk-container.uk-container-center

      div.uk-grid.uk-grid-collapse

        article.uk-width-large-1-1.gef-main-content(data-gef-anchor-box)

          div.uk-block.gef-block

            div.policy-bg-block

            div.uk-grid.uk-grid-collapse

              div.uk-width-medium-7-10.policy-main-content

                +policy_content

              aside.uk-width-medium-3-10.gef-rhs.policy-rhs

                h2.show-on-sr
                  | Related content

                +policy_side_navigation

          +gef_back_to_top

  +education_global_footer

  include ../bower_components/GEF/src/assets/pug/components/_global-scripts.pug
  include assets/pug/_scripts.pug

  </body>
