//--- INCLUDES
//---------------------------------------------------------

include assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Landing Template"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  +head

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="landing education">
  <!--<![endif]-->
  <!--[if lte IE 9]>
  <body class="gef-ie9 landing education">
  <!--<![endif]-->

  +gef_skiplink

  +global_header(false, true)

  header
    +gef_section_header(siteName, 'On')

  +gef_search_box('header')
  
  div.uk-container.uk-container-center

    div.uk-grid.uk-grid-collapse

      +gef_breadcrumbs(7, true) 

  span#content(tabindex="-1")

  main.gef-main

    div.uk-container.uk-container-center

      div.uk-grid.uk-grid-collapse

        article.uk-width-1-1.gef-main-content.gef-glossary

          div.uk-block.uk-block-default.uk-margin-large-top.gef-block

            div.uk-container

              +gef_landing_header

          div.uk-block.uk-block-default.uk-margin-large-top.gef-block

            div.uk-container

              div.a-z-list-edu(data-gef-a-z-anchors-scroll)
                div.ac
                  +gef_a_z_anchors
              +gef_a_z_list(10,true,false)

    +gef_back_to_top
       
  footer
    //+gef_section_footer("Yammer, Twitter, Facebook, YouTube, Instagram, Google Plus", true)
    +edu_section_footer

  +education_global_footer

  include ../bower_components/GEF/src/assets/pug/components/_global-scripts.pug
  include assets/pug/_scripts.pug

  </body>
