//--- INCLUDES
//---------------------------------------------------------

include assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Policy Landing Page (A-Z View)"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  +head

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="policy education">
  <!--<![endif]-->
  <!--[if lte IE 9]>
  <body class="gef-ie9 policy education">
  <!--<![endif]-->

  +gef_skiplink

  +global_header(false, false)

  header
    +gef_section_header("Policy library", 'On')

  +gef_search_box('header')

  +policy_disclaimer_print

  div.uk-container.uk-container-center

    div.uk-grid.uk-grid-collapse

      +gef_breadcrumbs(7, true)

    +policy_landing_header

  span#content(tabindex="-1")

  main.gef-main

    div.uk-container.uk-container-center.uk-margin-bottom

      div.uk-grid.uk-grid-collapse

        article.uk-width-large-1-1.gef-main-content(data-gef-anchor-box)

          div.uk-block.gef-block

            div.policy-bg-block

            div.uk-grid.uk-grid-collapse

              div.uk-width-medium-10-10.policy-main-content.policy-landing-content
                div.policy-landing-subheading-container
                 h2.policy-landing-subheading
                  | Browse policies

                 div.policy-view-toggle
                     a(href="#")
                        span View by topic
                     a(href="#").policy-view-toggle-selected
                        span View A-Z
                div(data-gef-a-z-anchors-scroll)
                  div.ac
                    +gef_a_z_anchors
                +gef_results_table('secure',10,0,true)

          +gef_back_to_top

  +education_global_footer

  include ../bower_components/GEF/src/assets/pug/components/_global-scripts.pug
  include assets/pug/_scripts.pug

      </body>
