//--- INCLUDES
//---------------------------------------------------------

include assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Education Home"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  +head

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="standard edu-home education">
  <!--<![endif]-->
  <!--[if lte IE 9]>
  <body class="gef-ie9 standard edu-home education">
  <!--<![endif]-->

  +edu-skiplinks-only-homepage

  +gef_notice_ribbon
  +global_header(false, false)
  +local_mobile_nav_variant('true')
  +mega_menu_variant(7)
  +edu_education_banner
  div.uk-hidden-large.gef-megamenu-mobile-banner
    +gef_search_box('header')
  span#content(tabindex="-1")

  main.gef-main

    div.uk-container.uk-container-center

      div.uk-grid.uk-grid-collapse

        article.uk-width-large-1-1.gef-main-content

          div.uk-grid.uk-grid-collapse.edu-match-height

            div.uk-width-medium-2-3.edu-match-height.edu-gef-teaser_variant_wrapper__block
              div.edu-block.edu-block--match-height.gef_featured_teaser_variant_wrapper__block
                div.uk-container.gef_featured_teaser_variant_wrapper.uk-width-medium-1-1
                  h3.show-on-sr|featured news article
                  +gef_featured_teaser_variant
            div.uk-width-medium-1-3.edu-home-wrapper__rhs
              +edu_tabbed_calendar
              div.uk-block.uk-block-default.edu-block.edu-rhs-block
                div.uk-container
                  h3.gef-block__header.edu-block__header
                    | Quick links
                  +gef_link_list(3)


          div.uk-grid.uk-grid-collapse
            div.uk-width-medium-1-1
              aside.uk-grid.uk-grid-collapse.uk-margin-bottom.edu-highlight-panels.uk-margin-top
                -var highlightPanels = 3
                -var count2 = 0
                while count2 < highlightPanels
                   div.uk-width-medium-1-3
                     +edu_highlight_panel-image-manipulation('edu-highlight-panels__panel--alt1 edu-highlight-panels__variation',1,count2)
                     -count2++          

            //- MIXIN FOR HOME BLOCK -//
            //- @param {string} class_add - extra classes to add to the container
            //- @param {bool} secured - display a lock icon next to header
            mixin edu_home_block(class_add, secured,news)
              div(class="uk-block uk-block-default edu-block edu-block--columned "+class_add)

                .uk-container
                  if news 
                    h3.gef-block__header.edu-block__header.edu-linky-block__header
                     a(href="#")
                       +lipsum(2, "words")
                  else
                    h3.gef-block__header.edu-block__header.edu-mobile-show-hide__header
                     a(href="#")
                       +lipsum(2, "words")
                       if secured
                         i.uk-icon-lock(aria-hidden="true")
                  div.uk-grid
                    div.uk-width
                      p.edu-block__info.edu-linky-block__info
                        +lipsum(2, "sentences")
                      if news
                        +edu-link-list-with-misc(5,1,0)
                        a.edu-block__strong-link(href="#")
                          | View All news
                      else
                        h4.edu-linky-block__sub-header
                          | Topics include:
                        +gef_link_list(7)
                        a.edu-block__strong-link(href="#")
                          | View more topics

            //- END MIXIN -//

            - var num = 0
            - var total = 3
            while num < total
              div.uk-width-medium-1-3.edu-match-height
                if num == 0
                  +edu_home_block("edu-linky-block edu-block--add-border", false,true)
                else if num == total-1
                  //- +edu_home_block("edu-linky-block edu-block--alt1", true) //commenting inside the dept
                  //- +edu-rhs-links-social("Connect with us",2,'uk-block uk-block-default edu-block edu-block--columned edu-block--add-border edu-block-only-border',"edu-mobile-show-hide__header")
                          div.uk-block.uk-block-default.uk-margin-large-bottom.gef-block
                  div.uk-block.uk-block-default.edu-block.edu-block--columned.edu-block--add-border.edu-block-only-border.edu-social-media-post-block
                    div.uk-container
                          h3.gef-block__header.edu-block__header.edu-linky-block__header
                            | Connect with us
                          div(data-gef-social-media='{"displayCap": 14,"contentLength":100, "services": [{"service":"facebook", "username":"NSWDepartmentofEducation", "numberOfPosts": 4},{"service":"youtube", "username":"UCT8TtTkD_138SWJrCXD2Xfw", "type":"channel", "numberOfPosts": 2},{"service":"twitter", "username":"digservdoe", "numberOfPosts": 4}]}')
                            div.gef-loader(aria-hidden=true)
                            ul.gef-flex-grid
                else if num == total-4
                   +edu_home_block("edu-mobile-show-hide")
                else if num%3 == 0 || num%3-1 == 0
                   +edu_home_block("edu-mobile-show-hide edu-block--add-border edu-block-only-border")

                else
                  +edu_home_block("edu-linky-block")

                - num++





          +gef_back_to_top

  footer
    //+gef_section_footer("Yammer, Twitter, Facebook, YouTube, Instagram, Google Plus", true)
    +edu_section_footer

  +education_global_footer

  include ../bower_components/GEF/src/assets/pug/components/_global-scripts.pug
  include assets/pug/_scripts.pug

  </body>
