<ul ng-if="1 &lt; pages.length || !autoHide" class="gef-pagination">

  <li ng-if="boundaryLinks" ng-class="{ gef-pagination__disabled : pagination.current == 1 } gef-pagination__prev"><a href="" ng-click="setCurrent(1)">&laquo;</a>
  </li>

  <li ng-if="directionLinks" ng-class="{ 'gef-pagination__disabled' : pagination.current == 1 }" class="gef-pagination__prev">
    <span ng-show="pagination.current == 1"><span>Previous <span class="show-on-sr">Page</span></span></span>
    <a href="" ng-click="setCurrent(pagination.current - 1)" ng-show="pagination.current != 1" title="Previous page" aria-label="Previous page"><span>Previous <span class="show-on-sr">Page</span></span>
    </a>
  </li>

  <li ng-repeat="pageNumber in pages track by $index" ng-class="{'uk-active' : pagination.current == pageNumber, 'disabled gef-pagination__more' : pageNumber == '...', hidden : $last &amp;&amp; pagination.current != pageNumber}"><a href="" ng-show="pagination.current != pageNumber" ng-click="setCurrent(pageNumber); pageChanged(pageNumber)" aria-label="Page {{pageNumber}}" title="Page {{pageNumber}}">{{ pageNumber }}</a><span ng-show="pagination.current == pageNumber" tabindex="0" role="link" aria-describedby="current" aria-label="Current Page {{pageNumber}}" title="Page {{pageNumber}}">{{ pageNumber }}</span>
  </li>

  <li ng-if="directionLinks" ng-class="{ 'gef-pagination__disabled' : pagination.current == pagination.last }" class="gef-pagination__next">
    <a href="" ng-click="setCurrent(pagination.current + 1)" ng-show="pagination.current != pagination.last" title="Next Page" aria-label="Next page">
    <span>Next <span class="show-on-sr">Page</span></span></a>
    <span ng-show="pagination.current == pagination.last"><span>Next <span class="show-on-sr">Page</span></span></span>
  </li>

  <li ng-if="boundaryLinks" ng-class="{ gef-pagination__disabled : pagination.current == pagination.last }"><a href="" ng-click="setCurrent(pagination.last)">&raquo;</a>
  </li>

</ul>