<article class="uk-width-large-7-10 gef-main-content ng-cloak" "ng-cloak">
  <h1 id="anchor-1">Search Results</h1>
  <div class="sspa-search-spa">
    <form name="searchForm" ng-controller="SearchFormCtrl" ng-submit="searchForm.$valid" novalidate class="gef-search uk-form gef-search--body">
      <fieldset>
        <legend>Global Search</legend>

        <label class="uk-hidden-small" for="txtSearch"><span class="show-on-sr">Enter your search</span></label>
        <input type="text" id="txtSearch" name="q" placeholder="Enter your site search..." required="" ng-model="keyword" class="uk-form-large" />

        <button type="submit" id="btnSearch" ng-click="newSearchTerm()"><span>Search</span><i class="uk-icon-search" aria-hidden="true"></i></button>
      </fieldset>
    </form>
    <div id="searchResults" ng-controller="ShowResultsCtrl" class="gef-search-results">
      <dir-pagination-controls template-url="./?a=103213"></dir-pagination-controls>
      <ol ng-show="results.length > 0" class="gef-search-results__list">
        <li dir-paginate="result in results | itemsPerPage : resultsPerPage" total-items="navigation.total_results" current-page="pageNumber" class="gef-search-results__item">
          <h2 class="gef-search-results__itemheader"><a href="{{result.url}}" ng-bind-html="result.title | sanitize"></a></h2>
          <p ng-bind-html="result.summary | sanitize">&hellip;</p>
          <p class="gef-search-results__url">{{result.url}}</p>
        </li>
      </ol>
      <p ng-hide="results.length &gt; 0 || searchTerm == ''"></p>
      <dir-pagination-controls template-url="./?a=103212" on-page-change="pageChanged(newPageNumber)" ng-hide="hasError" max-size="7" class="gef-search-pagination"></dir-pagination-controls>
      <p ng-show="hasError" class="error"> An error has occurred whilst retrieving results. Our technical team has been notified.</p>
    </div>
  </div>
</article>

