.edu-block {
  position: relative;
  margin-left: 0-$gef-normal-horizontal-spacing;
  margin-right: 0-$gef-normal-horizontal-spacing;

  .gef-link-list {
    li {
      padding-right: 40px !important;
      display: block;

      &:before {
        color: $edu-brand-primary-1 !important;
      }
      a {
        display: inline-block;
      }
    }

    a {
      font-size: 0.9rem;
      display: block;
    }
  }

  &.edu-block--alt1 {
    background: $edu-brand-primary-1;

    *,
    .gef-link-list li:before {
      color: #fff !important;
    }

    a:focus {
      outline-color: #fff !important;
    }

    @media #{$gef-mq-lg} {
      .gef-link-columns li {
        padding-right: 80px !important;
      }
    }
  }

  &.edu-block--match-height {
    display: flex;
  }

  &.edu-block--no-margin-bottom {
    margin-bottom: 0 !important;
  }

  &.edu-block--columned {

    .gef-link-list li {
      padding-right: 0 !important;
      padding-left: 30px;
    }

    @media #{$gef-mq-md} {
      margin-bottom: 40px;
      border-bottom: 0;
    }
  }

  &.edu-block--columned .edu-block__info {
    padding-right: 0;
  }

  @media #{$gef-mq-md} {
    &.edu-block--columned {
      margin-left: 0;
      margin-right: 0;
    }
    &.edu-block--add-border {
  margin-right: 4px;
    }
  }

  @media #{$gef-mq-lg} {
    margin-left: 0;
    margin-right: 0;

    .gef-link-list {
      li {
        padding-right: 40px;
      }

      a {
        font-size: 1rem;
      }
    }

    &.edu-block--add-border {
      margin-right: 4px;
    }
  }
}

.edu-block__strong-link {
  display: block;  
  color: $edu-brand-primary-1;
  text-align: right;
  margin-top: 20px;
  font-size: 0.9rem;

  .secondary-hub__rhs & {
    text-align: left;
  }

  @media #{$gef-mq-md} {

    float: right;

    .edu-block--columned & {
      float: left;
      text-align: left;
    }
  }
}

.edu-block__header {
  margin-bottom: 20px;
  color: $edu-brand-primary-1;

  a  {
    font-weight: 400;
    font-size: 1.1rem;
    text-decoration: none;


    i:before {
      font-size: 0.85em;
    }
  }


  @media #{$gef-mq-md} {

    a {
      font-size: 1.4rem;
    }
  }
}

.edu-block__info {
  .secondary-hub__rhs & {
    font-weight: 300;
    margin-bottom: 0;
  }
}

.edu-block__sub-header {
  .secondary-hub__rhs & {
    margin-top: 15px;
    font-size: 0.875rem;

    @media #{$gef-mq-lg} {
      margin-top: 20px;
      margin-bottom: 15px;
      font-size: 1rem;
    }
  }
}
