.edu-date-block {
  border: 1px solid #fff;
  padding: 15px;
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }

  span.event_when {
    @extend h4;
    margin-bottom: 0;
    text-transform: none;
    font-size: 0.85rem;
    display: block;

    .secondary-hub__rhs & {
      font-weight: 800;
    }
  }

  span.event_details {
    @extend h5;
    margin-top: 4px;
    margin-bottom: 1px;
    font-weight: 700;
    font-size: 1.1rem !important;
    line-height: 1.3;
    display: block;

    @media #{$gef-mq-lg} {
      font-size: 1.4rem !important;
    }
  }
}
