.edconnect {

  .gef-drawer [role=tab] {
    border: 1px solid #fff;
    border-width: 1px 1px 0 1px;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 5px;
    color: $edu-brand-primary-1;
  }

  p {
    margin: 0 0 0.3rem;
  }

  small {
    display: block;
    margin-top: 10px;
  }
}

.edconnect_icon {
  position: absolute;
  right: 20px;
  top: 13px;
  display: inline-block;
  margin-left: 0.7rem;
  font-size: 1.6rem;
  vertical-align: middle;
  color: $gef-white;

  @media #{$gef-mq-lg} {
    position: static;
    top: auto;
    right: auto;
    margin-top: -3px;
  }

  &:hover, &:focus {
    color: $gef-white;

  }
}

.edconnect_number {
  font-size: 1.2rem;
  font-weight: 600;

  @media #{$gef-mq-lg} {
    font-size: 1.5rem;
  }
}

.edconnect_contact-icon {
  display: inline-block;
  color: $gef-medium-grey;
  font-size: 2.2rem;
  width: 32px;
  margin-right: 0.5em;
  line-height: 1;
}

.edconnect_link {
  font-weight: 400;
  font-size: 0.85em;

  .gef-external-link {
    display: none;
  }
}

.edconnect_close {
  position: absolute;
  top: 65px;
  right: 10px;
  background-color: transparent;
  border: 0;
  font-size: 1.3rem;
  color: $edu-brand-primary-1;
  cursor: pointer;
}