.sws-mega-menu,.sws-local-mobile-nav{
    display:none;
}

#mobile-nav-wrapper, .edu-mega-menu {
  display: none;
}

.gef-main {
  .edconnect {
    .gef-drawer {

      div[role="tablist"] {
        margin-top: 2rem;

        a {

          text-decoration: none!important;
          font-size: 1.5rem;
          font-weight: bold;

          &:after {
            display: none;
          }
        }

      }

      div[role="tabpanel"] {

        h2 {
          margin-top: 1rem;
          font-size: 1.25rem;
        }
      }
    }
  }
}

.gef-alert,
.local-notice-ribbon,
.maintenanceRibbon_auto {
  display: none;
}