

// Footer -- Section and Global footer

.gef-section-footer {
	border-top: 5px solid $edu-brand-primary-7;
	padding: 30px 0 10px 0;
	
	@media #{$gef-mq-lg} {
		padding: 40px 0 0 0;
	}
}

.gef-global-footer {
	padding: 0;
}

.gef-global-footer, 
.gef-section-footer {
	color: $gef-white!important;
	background: $edu-brand-primary-2;

	.uk-grid {
		margin-left: 0;	

	}

  @media #{$gef-mq-md} {
  
		.uk-grid > *  {					
			 
			padding-left: 0;
		}

	}

}	

.edu-global-section {
	background-image: none;
	background-color: transparent!important;
	.edu-other-sites-wrapper a {
		color: $gef-white!important;
	}
	
}

.edu-section-footer {
	padding-bottom: 25px;
	text-align:	left;
	
	background: $edu-brand-primary-2;
	border-bottom: 1px solid $gef-white;

	h3 {
  		font-size: 1.625rem;
  		padding-bottom:	10px;
  		font-weight: normal;
  		color: $gef-white!important;
	}

	@media #{$gef-mq-lg} {
		padding-bottom: 5px;
	}

}


.edu-social-links {

	text-align:	left;

	@media #{$gef-mq-md} {
		.edu-social-icons {
			margin-top: 20px;
		}
	}

	li {
		padding-left: 0;
	}

	line-height: 1.725rem;

	
	margin: 15px 0px -15px -25px;
  border-top: 1px solid $gef-white;
  padding-top: 25px;

  @media #{$gef-mq-md} {
  	
  	margin: 15px 50px 0 5px;
  }

  @media #{$gef-mq-lg} {
		margin: 0 50px 0 5px;
		padding-top: 30px;
  }

	a {
    text-align: center;
    float: left;
    width: 55px;
    height: 55px;
    border: 1px solid $edu-brand-primary-2;
    border-radius: 100%;
    margin-right: 14px;
    background: $gef-white;
    margin-bottom: 15px;

    &:hover {
			border: 1px solid $edu-brand-primary-7;
			color: $edu-brand-primary-7;

    }

    @media #{$gef-mq-md} {
    	width: 45px;
    	height: 45px;
    	margin-right: 10px;
    }

    @media #{$gef-mq-lg} {
    	width: 50px;
    	height: 50px;
    	margin-right: 17px;
    }

  	span {
  	  position: relative;
	    font-size: 2.25rem;
	    line-height: 55px;					
	    color: $edu-brand-primary-2;
	    padding-left: 0;

    	&:hover {
				color: $edu-brand-primary-7;

    	}		    

	    @media #{$gef-mq-md} {
		    font-size: 1.725rem;
		    line-height: 45px;
  		}

  		@media #{$gef-mq-lg} {
		    font-size: 2.325rem;
		    line-height: 50px;
  		}

  	}

	}

	.gef-acknowledgement {
		display:block;
		margin-top: -15px;

		@media #{$gef-mq-md} {
			margin-top: 0!important;
		}

		@media #{$gef-mq-lg} {
			padding-top: 15px;
		}
	}

}


.edu-other-sites-wrapper {

	
	padding: 40px 15px 20px 0;

	.gef-link-list {

		margin-right: 25px;

		li:before, a {
  		color: $gef-white;
  	}

	}

	@media #{$gef-mq-md} {
		padding-left: 10px;
		padding-top: 30px;
	
	}
	@media #{$gef-mq-lg} {
		padding-top: 40px;

	}

	nav.uk-grid {
		margin-left: -20px;
		padding-left: 3px;

		@media #{$gef-mq-md} {
			margin-left: 0;
		}

	}

}

.edu-other-sites {

	border-top: 1px solid white;

  @media #{$gef-mq-md} {
		margin: 15px 0 0 0;
  	
  }

	@media #{$gef-mq-lg} {
		
  	margin: 0px 0 33px;
  }
}

.gef-global-footer__logo {

	margin: 40px 0 -10px;
	padding-left: 10px;
	padding-right: 25px;
	position: relative;

	img {
		width: 85px;
		height: auto;
	}

	.gef-corporate-logo__link {
	    display: block;
	    background: transparent;
	    @media #{$gef-mq-lg} {
		    position: absolute;

    		bottom: 0;
    		padding-bottom: 40px;
    	}
	}
	
}


.edu-footerimage-wrapper {
	background: $edu-brand-primary-2;
	max-width: 1600px;		
  margin: 0 auto;
  overflow: hidden;


	.edu-footer-bkgimage {
		background-image: url("../../assets/images/footer-bottom.png");
		background-size: cover;

    @media #{$gef-mq-md} {
    	background-image: url("../../assets/images/footer-bottom.png");	
    	background-size: cover;    	
    }
		background-repeat: no-repeat;
		background-position: center bottom;
		position: relative;
		width: 100%;
  	height: 18rem;
  
		
	}

  /* Retina-specific stuff here */
	@media
		only screen and (-webkit-min-device-pixel-ratio: 2),
		only screen and (   min--moz-device-pixel-ratio: 2),
		only screen and (     -o-min-device-pixel-ratio: 2/1),
		only screen and (        min-device-pixel-ratio: 2),
		only screen and (                min-resolution: 192dpi),
		only screen and (                min-resolution: 2dppx) { 
	    
	    
		.edu-footer-bkgimage {   
			background: url(../../assets/images/footer-bottom-mobile.png) no-repeat center;
			background-size: auto 18rem;

	    @media #{$gef-mq-md} {
	    	background: url(../../assets/images/footer-bottom.png) no-repeat center;
	    	background-size: auto 18rem;
	    }
			
			width: 100%;
			height: 18rem;

	  }

	}

}

