.edu-education-banner {

  .gef-education-banner__search {
    margin-top: 6px;

    div {
      max-width: none;
    }

    input[type="text"] {
      background-color: #fff;
      border: 2px solid $edu-brand-primary-1;
      border-radius: 5px;
      font-size: 1rem;    
      &:focus {
        outline-offset: -3px!important;
        outline: 3px solid $edu-brand-primary-7!important;
      }
    }
  

  }

  button[type="submit"] {
    top: 1px;
    background-color: $edu-brand-primary-7;
    border: 1px solid $edu-brand-primary-7;
    border-radius: 1px 5px 5px 1px;
    &:before {
      color: $gef-white;
    }

    &:hover,
    &:focus {
      background-color: #fff;
      border-color: $edu-brand-primary-1;
      border-left: none;


      &:before {
          color: $edu-brand-primary-7;
      }
    }

    &:focus {
      outline-offset: -6px !important;
      outline: 1px solid $edu-brand-primary-7;
    }
  }

  .gef-education-banner__lead {
    letter-spacing: 0.05em;
  }

  .gef-education-banner__header {
    line-height: 1.5;
  }

  @media #{$gef-mq-md} {
    padding-bottom: 80px;
    margin-bottom: 40px;
  }
}