.education {

	.gef-main {
		background-color: $gef-white;
	}

	.uk-container {
		@media #{$gef-mq-lg} {
			max-width: 1200px;
		}

	}


	.edu-mega-menu {
		padding-top: 10px;
	}

	// EDUCATION BANNER

	.edu-banner-container {
		background-color: $edu-brand-primary-1;

		.uk-container {

				max-width: 1440px;
				padding: 15px 0 0 0;
				@media #{$gef-mq-md} {
					padding: 0;
				}
		}


		.edu-banner {

			.edu-banner-image-container {

				position: relative;

				@media #{$gef-mq-md} {
					left: auto;
    			top: auto;
					float: right;
					margin-right: -175px;

				}

				@media (min-width: 1024px) and (max-width: 1119px) {

  					margin-right: -190px;
  			}

				@media (min-width: 1120px) and (max-width: 1439px) {

  					margin-right: -65px;
  			}

  			@media (min-width: 1140px) and (max-width: 1199px) {

  					margin-right: -60px;
  			}

				@media (min-width: 1200px) and (max-width: 1239px) {

  					margin-right: -60px;
  			}
				@media (min-width: 1240px) and (max-width: 1279px) {

  					margin-right: -40px;
  			}
				@media (min-width: 1280px) and (max-width: 1339px) {

  					margin-right: -60px;
  			}

  			@media (min-width: 1340px) and (max-width: 1379px) {

  					margin-right: -20px;
  			}

  			@media (min-width: 1380px) {

  					margin-right: 0;
  			}

  			.edu-banner-image {
  				width: 100%;
  				transform: scale(1.3);
    			transition: all 0.3s;

  				@media #{$gef-mq-md} {
  					transform: none;
  					width: auto;
						max-height: 480px;
					}
				}

				.edu-banner-background-image {
					background-image: url("../images/banner-hero.png");
					background-repeat: no-repeat;
					background-position: center bottom;

					width: 100%;
		    	height: 100%;
		    	background-size: cover;
		    	position: absolute;
		    	right: -62px;
		    	top: 304px;
		    	transform: rotate(270deg);
		    	display: none;

			    @media #{$gef-mq-md} {
			    	background-image: url("../images/banner-hero.png");
						width: 100%;
			    	height: 100%;
			    	background-size: cover;
			    	position: absolute;
			    	right: 580px;
			    	top: 0;
			    	transform: none;
			    	display: block;
			    }

					@media #{$gef-mq-lg} {
				    right: 70%;
			    }

					@media (min-width: 1090px) {
						right: 70%;
					}

					@media (min-width: 1120px) {
						right: 70%;
					}

					@media (min-width: 1280px) {
						right: 75%;
					}

					@media (min-width: 1440px) {
						right: 80%;
					}

				}


				@media
					only screen and (-webkit-min-device-pixel-ratio: 2),
					only screen and (   min--moz-device-pixel-ratio: 2),
					only screen and (     -o-min-device-pixel-ratio: 2/1),
					only screen and (        min-device-pixel-ratio: 2),
					only screen and (                min-resolution: 192dpi),
					only screen and (                min-resolution: 2dppx) {


					.edu-banner-background-images {
						background: url("../images/banner-hero.png");
						background-size: auto 480px;
						background-repeat: no-repeat;
						background-position: center bottom;
						width: 100%;
				    position: absolute;
			    	right: -62px;
			    	top: 304px;
			    	transform: rotate(270deg);
						height: 480px;

				    @media #{$gef-mq-md} {
				    	background: url("../images/banner-hero.png");
							width: 100%;
				    	height: 100%;
				    	background-size: cover;
				    	position: absolute;
				    	right: 580px;
				    	top: 0;
				    	transform: none;

				    }

						@media #{$gef-mq-lg} {
					    right: 70%;
				    }

						@media (min-width: 1090px) {
							right: 70%;
						}

						@media (min-width: 1120px) {
							right: 70%;
						}

						@media (min-width: 1280px) {
							right: 75%;
						}

						@media (min-width: 1440px) {
							right: 80%;
						}

				  }

				}

			}


			.edu-banner-textbox-container {
				max-width: 767px;
				position: relative;

				top: -45px;
				overflow: hidden;
				padding-top: 5px;

    		z-index: 3;
    		box-shadow: 2px 0 rgba(4, 30, 66, 0.6);
				background-color: $edu-brand-primary-2;

     		border-radius:  45px 45px 0 0;
     		border-top-left-radius: 100%200px;
     		border-top-right-radius: 100%200px;
     		margin-left: auto;
     		margin-right: auto;

  			border-right: 2px solid $edu-brand-primary-2;
  			opacity: 0.95;

				@media #{$gef-mq-md} {
					width: 100%;

       		position: absolute;
       		left: auto;
					top: auto;
     			border-radius: 0 50% 50% 0;

	     		margin: 0 0 0 25px;
	     		max-width:	500px;

	     		padding: 0;

		    }

				@media #{$gef-mq-lg} {
					margin: auto;
		    }

  			@media (min-width: 1200px) {

  					max-width: 510px;
  			}

	  		@media (min-width: 1024px) and (max-width: 1119px) {
					margin-left: 4%;
				}
	  		@media (min-width: 1120px) and (max-width: 1199px) {
					margin-left: 3.6%;
				}
	  		@media (min-width: 1200px) and (max-width: 1229px) {
					margin-left: 3.4%;

				}
	  		@media (min-width: 1230px) and (max-width: 1279px) {
					margin-left: 4.9%;

				}
				@media (min-width: 1280px) and (max-width: 1319px) {
					margin-left: 6%;

				}

				@media (min-width: 1320px) and (max-width: 1365px) {
					margin-left: 7.5%;
				}

				@media (min-width: 1366px) and (max-width: 1379px) {
					margin-left: 9%;
				}

				@media (min-width: 1379px) and (max-width: 1439px) {
					margin-left: 9.6%;
				}

  			@media (min-width: 1440px) {
					margin-left: 158px;
				}




  			.edu-banner-textbox {

			  	padding: 0 20px 10px;
    			max-width: 100%;
    			min-height: 100%;
			    margin: 75px 0 0 15px;
					color: $gef-white!important;
  				border-left: 3px solid $edu-brand-primary-7;

  				a {
						color: $gef-white;
						text-decoration: none;
						font-weight: normal;
  					&:hover, &:focus {

							text-decoration: underline;

  					}
  				}

  				h1.edu-banner-header {
			    	line-height: 1.25;
			    	color: $gef-white;
			    	font-weight: 600;
			    	font-size: 1.325rem;
			    	padding-top: 5px;
		  		}


		  		@media #{$gef-mq-md} {
						padding: 10px 20px 0;
				    max-width: 365px;
				    min-height: 410px;
				    margin: 25px 35px 0px 0;
						hr {
							margin-top: 20px;
							margin-bottom: 20px;
						}

						h1.edu-banner-header {
							font-size: 1.5rem;
						}

					}

					@media #{$gef-mq-lg} {
						max-width: 400px;
						min-height: 385px;

						margin: 30px 55px 0 0;
    				padding: 0 20px 30px;
						h1.edu-banner-header {
							font-size: 1.625rem;
						}
					}


		  		.edu-banner-search {

		  			.edu-banner-search-form {
							margin: -5px 0 5px 0;
		  				@media #{$gef-mq-lg} {
								padding: 10px 0;
							}
			  			.gef-search {
				  			left: auto;
						    width: 100%;
						    top: auto;
						    transform: none;
						    padding: 0;
						    position: relative;
						    margin-left: 0;


				  			fieldset {
					  			position: relative;
					  			top: auto;
					  			right: auto;
					  			padding-left: 0;
					  			padding-right: 0;

			  				}

								button[type="submit"] {

									right: 0;

								}

			  			}

		  			}

		  			.edu-banner-search-links {
		  				display: none;
							@media #{$gef-mq-md} {
								display: block;
								a {
			  					font-weight: normal;
									margin-right: 35px;
				  				&:after {
				  					padding-left: 7px;
								    content: '\f055';
								    font-family: 'FontAwesome';
								    font-size: 1rem;
								    display: inline-block;
								    text-decoration: none;
								    color: $gef-white;
								    position: absolute;
				  				}
				  			}
			  			}

			  		}

		  		}

				}
			}

		}

	}


// Footer -- Section and Global footer

	.gef-section-footer {
		border-top: 5px solid $edu-brand-primary-7;
		padding: 30px 0 10px 0;

		@media #{$gef-mq-lg} {
			padding: 40px 0 0 0;
		}
	}

	.gef-global-footer {
		padding: 0;
	}

	.gef-global-footer,
	.gef-section-footer {
		color: $gef-white!important;
		background: $edu-brand-primary-2;

		.uk-grid {
			margin-left: 0;

		}

    @media #{$gef-mq-md} {

			.uk-grid > *  {

				padding-left: 0;
			}

		}

	}

	.edu-global-section {
		background-image: none;
  	background-color: transparent!important;
  	.edu-other-sites-wrapper a {
			color: $gef-white!important;
		}

	}

	.edu-section-footer {
		padding-bottom: 25px;
		text-align:	left;

		background: $edu-brand-primary-2;
		border-bottom: 1px solid $gef-white;

		h3 {
    		font-size: 1.625rem;
    		padding-bottom:	10px;
    		font-weight: normal;
    		color: $gef-white!important;
		}

		@media #{$gef-mq-lg} {
			padding-bottom: 5px;
		}

	}


	.edu-social-links {

		text-align:	left;

		@media #{$gef-mq-md} {
			.edu-social-icons {
				margin-top: 20px;
			}
		}

		li {
			padding-left: 0;
		}

		line-height: 1.725rem;


		margin: 15px 0px -15px -25px;
    border-top: 1px solid $gef-white;
    padding-top: 25px;

    @media #{$gef-mq-md} {

    	margin: 15px 50px 0 5px;
    }

    @media #{$gef-mq-lg} {
			margin: 0 50px 0 5px;
			padding-top: 30px;
    }

		a {
	    text-align: center;
	    float: left;
	    width: 55px;
	    height: 55px;
	    border: 1px solid $edu-brand-primary-2;
	    border-radius: 100%;
	    margin-right: 14px;
	    background: $gef-white;
	    margin-bottom: 15px;

	    &:hover {
				border: 1px solid $edu-brand-primary-7;
				color: $edu-brand-primary-7;

	    }

	    @media #{$gef-mq-md} {
	    	width: 45px;
	    	height: 45px;
	    	margin-right: 10px;
	    }

	    @media #{$gef-mq-xl} {
	    	width: 50px;
	    	height: 50px;
	    	margin-right: 15px;
	    }


	  	span {
	  	  position: relative;
		    font-size: 2.25rem;
		    line-height: 55px;
		    color: $edu-brand-primary-2;
		    padding-left: 0;

	    	&:hover {
					color: $edu-brand-primary-7;

	    	}

		    @media #{$gef-mq-md} {
			    font-size: 1.725rem;
			    line-height: 45px;
	  		}

	  		@media #{$gef-mq-lg} {
			    font-size: 2.325rem;
			    line-height: 50px;
	  		}

	  	}

		}

		.gef-acknowledgement {
			display:block;
			margin-top: -15px;

			@media #{$gef-mq-md} {
				margin-top: 0!important;
			}

			@media #{$gef-mq-lg} {
				padding-top: 15px;
			}
		}

	}


	.edu-other-sites-wrapper {


		padding: 40px 15px 20px 0;

		.gef-link-list {

			@media #{$gef-mq-md} {
				margin-right: 25px;
			}

			li {
				padding-left: 0;
				&:before {
					content: '';
				}
				span {
					margin-top: 2px;
					float: left;
					font-size: 1.25rem;

					&:before {
						color: $gef-white;
					}
				}

				a {
		  		color: $gef-white;
		  		display: block;
		  		text-decoration: none;
	    		margin-left: 15px;
	    		&:hover {
	    			text-decoration: underline;
	    		}
		  	}
			}


		}

		@media #{$gef-mq-md} {
			padding-left: 10px;
			padding-top: 30px;

		}
		@media #{$gef-mq-lg} {
			padding-top: 40px;

		}

		nav.uk-grid {
			margin-left: -20px;
			padding-left: 3px;

			@media #{$gef-mq-md} {
				margin-left: 0;
			}

		}

	}

	.edu-other-sites {

		border-top: 1px solid white;

    @media #{$gef-mq-md} {
			margin: 15px 0 0 0;

    }

		@media #{$gef-mq-lg} {

    	margin: 0px 0 33px;
    }
	}

	.gef-global-footer__logo {

		margin: 40px 0 -10px;
		padding-left: 10px;
		padding-right: 25px;
		position: relative;

		img {
			width: 85px;
			height: auto;
		}

		.gef-corporate-logo__link {
		    display: block;
		    background: transparent;
		    @media #{$gef-mq-lg} {
			    position: absolute;

	    		bottom: 0;
	    		padding-bottom: 40px;
	    	}
		}

	}


	.edu-footerimage-wrapper {
		background: $edu-brand-primary-2;
		max-width: 1600px;
	  margin: 0 auto;
	  overflow: hidden;


		.edu-footer-bkgimage {
			background-image: url("../images/footer-bottom-mobile.png");
			background-size: cover;

	    @media #{$gef-mq-md} {
	    	background-image: url("../images/footer-bottom.png");
	    	background-size: cover;
	    }
			background-repeat: no-repeat;
			background-position: center bottom;
			position: relative;
			width: 100%;
	  	height: 18rem;


		}

    /* Retina-specific stuff here */
		@media
			only screen and (-webkit-min-device-pixel-ratio: 2),
			only screen and (   min--moz-device-pixel-ratio: 2),
			only screen and (     -o-min-device-pixel-ratio: 2/1),
			only screen and (        min-device-pixel-ratio: 2),
			only screen and (                min-resolution: 192dpi),
			only screen and (                min-resolution: 2dppx) {


			.edu-footer-bkgimage {
				background: url(../images/footer-bottom-mobile.png) no-repeat center;
				background-size: auto 18rem;

		    @media #{$gef-mq-md} {
		    	background: url(../images/footer-bottom.png) no-repeat center;
		    	background-size: auto 18rem;
		    }

				width: 100%;
				height: 18rem;

		  }

		}

	}




	// Home page highlight panels

	.edu-highlight-features {

		margin: -40px 20px 0 20px;

		@media #{$gef-mq-md} {
			margin: -40px -15px 0 0;

		}

		@media #{$gef-mq-lg} {
			margin: -35px -30px 0 0;

		}

		.edu-highlight-feature-panel {
			position: relative;
			margin-bottom: 20px;

			@media #{$gef-mq-md} {
			 padding-right: 15px;

			}

			@media #{$gef-mq-lg} {
			 padding-right: 30px;

			 }



			.edu-highlight-panels__panel {
				box-shadow: 1px 2px 4px $gef-black;
				padding:0 0 10px 0;
				z-index: 1;
				border-top: 3px solid $edu-brand-primary-7;
				display: flex;
       	flex-direction: column;
       	flex: 1;

       	a {
					display: inline-block;
					text-decoration: none;

					&:hover {
						text-decoration: underline;
					}

				}

				@media #{$gef-mq-md} {
					margin-left: 0;
					margin-right: 0;
				}
				.edu-highlight-panels-bottominfo {

		  		margin-top: auto;

				}

       	.edu-highlight-panels__image {
		    	position: relative;
			    float: none;
			    margin: 0;
			    width: 100%;
			    height: auto;
					margin-bottom: 20px;
					@media #{$gef-mq-lg} {
						max-height: 265px;
					}
				}

				.gef-featured-teaser_highlight {
					padding: 10px 15px;
    			display: inline-block;
    			position: relative;
       		border-radius: 4px;
    			margin-bottom: 5px;
    			font-size: 1rem;
    			font-weight: 400;

				}
				.category-secretarys_update {
					background-color: $edu-brand-primary-9;

				}

				.category-media_releases  {
					background-color: $edu-brand-primary-7;

				}

				.category-latest_news {
					background-color: $edu-brand-primary-10;

				}
	      .gef-featured-teaser__date_variant {

	       	margin-right: 25px;
	       	margin-left: 25px;
	       	padding-top: 10px;

	       	@media (min-width: 1200px) {
	       		float: right;
	       		margin-left: 0;
	       	}


	      }

				.edu-highlight-panels__content {
					padding: 0 25px 25px 25px;
					margin-top: 0;
	       	p, h4,  .edu-date-block span.event_when, .edu-date-block .edu-highlight-panels__panel span.event_when {
	       		display: block;
	       	}


		      h3 {
			    	a {
			    	font-size: 1.625rem;
			    	font-weight: 700;
			    	line-height: 2rem;
			    }

		    }

		   }
		  }


			.edu-highlight-panels-moreinfo {
				margin: 0 25px;
	    	padding: 25px 0 15px;
	    	border-top: 1px solid $edu-brand-primary-8;

	    	a {
					color: $gef-white;
	    		&:hover {
						color: $edu-brand-primary-7!important;
	    		}

	    		span {
	    		  border: 1px solid $edu-brand-primary-7;
				    padding: 10px 20px;
				    border-radius: 4px;
				    background-color: $edu-brand-primary-7;
				    color: $gef-white;

				    &:hover {
				    background-color: $gef-white;
				    color: $edu-brand-primary-7;

				    }
	    		}
	    	}

			}


			.edu-calendar {
		    margin-top: 4px;
		    margin-bottom: 4px;

		    h3.gef-block__header {
			    font-size: 1.625rem;
			    font-weight: 700;
			    line-height: 2rem;
			    margin: 5px 25px 25px;

		    }

		    .edu-highlight-panels__content {


		    	li {
		    		padding: 0;margin-bottom: 20px;

				    &:before {
				    	content: "";
				    }

		    	}
		    }

			}

		}

		.edu-highlight-features-viewall {
			margin: 0 -25px 0 0;
    	padding: 10px 0 25px 25px;
    	float: right;
    	@media #{$gef-mq-md} {
				padding: 15px;
				margin-right: 0;
    	}

    	@media #{$gef-mq-lg} {
				padding: 15px 30px 15px;
				margin-right: 0;
    	}

    	a {
				color: $edu-brand-primary-2;
				float: right;
				text-decoration: none;
  		  border: 2px solid $edu-brand-primary-2;
		    padding: 15px 20px 12px;
		    border-radius: 4px;
		    background-color: $edu-brand-primary-3;

				&:hover {
					text-decoration: underline;
					background-color: $gef-white;
			    border: 2px solid $edu-brand-primary-7;
					color: $edu-brand-primary-7!important;
    		}

    	}

		}

	}


	.gef-section-header__logo {

		border-left: 2px solid $edu-brand-primary-7;
		padding: 0 0 0 15px;

	}

	.gef-global-footer,
	.gef-section-footer,
	.gef-section-header__logo,
	.edu-banner-container,
	.gef-corporate-logo,
	.edu-highlight-panels-moreinfo {
		& a:focus
		  {
		    outline: 1px solid $gef-white!important;
		    outline-offset: 2px!important;
			}
	}

//styles for edu tools panel
.edu-tools-panel {
	background-color: $edu-brand-primary-11;
	margin-top:50px;
	padding-top:35px;
	.uk-container{
		max-width: 1200px;

	}
	.edu-tools-panel-inner{
		margin-bottom:30px;
		border-top: 2px solid $edu-brand-primary-1;
		margin-top:5px;
	}
	.edu-tools-panel-inner-design {
		border-right: 2px solid #ce0037;
    margin-top: 30px;
    //margin-bottom: 10px;
    width: 4%;

	}
	h3{
		font-size: 26px;
		font-weight: 600;

	}

	.edu-tools-panel_school-finder-image{
		width:auto;
		@media screen and (max-width: 766px){
			max-width:100%;
			}
			@media screen and (min-width: 767px) and (max-width: 850px){
				max-width:120%;
				}
				@media screen and (min-width: 1024px){
					max-width:115%;
					}
	}

	.edu-tools-panel_school-finder-inner{
		margin-top:30px;
		border-top: 2px solid #ce0037;
	}
	.edu-tools-panel_school-finder-inner-map{
		@media screen and (max-width: 767px){
		width:100%;
		}}
	.edu-tools-panel_school-finder-inner-desc{
		@media screen and (max-width: 767px){
			width:100%;
			padding: 25px 55px 25px 35px;
			}
		background-color: $gef-white;
		padding:25px 55px 0px 35px;
		p{
			margin-bottom:20px;
			margin-right:50px;
			padding-bottom:0px;
		}
		a{
			text-decoration: none;
&:hover{
	.edu-tools-panel_school-finder-inner-desc-link {

		border: 1px solid #ce0037;
		background-color: $gef-white;
		color:#ce0037;
		text-decoration: underline;

	  }
}
		}
	}

	.edu-tools-panel_school-finder-inner-desc-link {

		border: 1px solid #ce0037;
		padding: 10px 20px;
		border-radius: 4px;
		background-color: #ce0037;
		color: white;
		font-weight: 700;

	  }
	  .edu-tools-panel-inner-links{
			@media screen and (max-width: 767px){
			padding-left:25px;

			}
		  padding-left:45px;
		  margin-top:26px;
		  @media screen and (min-width: 1024px){
			width: 35%;
			a{
			   text-decoration:none;
			   &:hover{
			      text-decoration:underline;
			   }
			}
			
			}

			@media screen and (max-width: 1023px){
				border-left: 1px solid #ce0037;
				}
		  .gef-link-list{
			  li{
				margin-top:0.15rem;
			  }

		}
	  }
	  .edu-tools-panel-inner-links-block-header{
		  margin-bottom:10px;

	  }
	 .edu-tools-panel-inner-social-links{
		border-top:0;
		padding:12px;
		margin-right:20px;
		margin-left: -10px;
		@media screen and (max-width: 390px){
		width:50%;
		}
		  a{
			  background-color: $edu-brand-primary-2;
			  margin-right:15px;
			  @media screen and (max-width: 767px){
				margin-right: 18px;
				width: 50px;
				height: 50.5px;

				}
			  span{
				color:$gef-white;

					  font-size: 1.50rem;
					  line-height: 50px;


			}
		  }

	  }
	}

	.edu-social-panel {
		background-color: $edu-brand-primary-3;
		margin-top: 0;
		padding-top:35px;

		.uk-container{
			max-width: 1200px;

		}
		h3{
			font-size: 26px;
			font-weight: 600;
		}
		.edu-social-panel-inner {

			margin-bottom:30px;
			border-top: 2px solid $edu-brand-primary-1;
			margin-top:5px;
		}
	}
  .edu-banner-shading {
    background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(4,30,66,1));
    width: 150px;
    position:  absolute;
    right: 0px;
    top: 0;
    height:  100%;
    border-radius: -3px;
    display: none;
    @media #{$gef-mq-xl} {
      display: inline-block;
    }


	}

}
