// -------------------
// TILE LIST
//
// Provides a container for multiple tiles.
// The width control is set on the container not tile wrappers for CMS integration.
//
//  .erm_icon_label                        - The list item container
//  .erm_icon_label__item                  - The separate items within the list
//  .erm-icon-caret-down                   - Arrow down between the two single box
//  .erm-icon-label-box                    - Icon and Label box (container)
//  .erm-icon(s)                           - Icon details
//  .erm-label                             - Label details
//  .erm-icons-##                          - svg image (## = number) of the icon used
//  .erm-box-bg-gray                       - Erm icon label box grey background
//  ..erm-support                          - Contact deatils
//
// -------------------

.erm_icon_label {
  margin-top: 0;

    .gef-ie9  & {
      display: inline-block;
      width: 100%;
    }

  @media #{$gef-mq-md} {
    margin: 0 0 0 -25px !important; // override uikit grid stuff
    display: flex;
    flex-wrap: wrap;

  }

  @media #{$gef-mq-lg} {
    margin: 0 0 0 -28px !important; // override uikit grid stuff

    .gef-ie9 .gef-block--primary-hub & {
      width: 68%;
      float: left;
      margin: 0 !important;
    }
  }
}

.erm_icon_label__item {
  box-sizing: border-box;
  width: 100%;
  padding: 10px 0;

  &:before {
    content: none;
  }

  a {
    font-weight: 400;
    display: block;
    .gef-ie9  & {
      text-decoration: none;
      & .erm-label {
        text-decoration:underline;
      }
      & .erm-label:hover {
        text-decoration: none;
      }

    }
  }

  @media #{$gef-mq-md} {
    margin-top: 20px;
    float: left;
    padding: 0 0 0 25px;
    width: 33.33333%;

    .gef-block--primary-hub & {
      width: 33.33333% !important;
      margin-top: 40px;
    }

    &:only-child {
      width: 100%;
    }


    // ie9 force a clear left
    &:nth-child(3n+4) {
      .gef-ie9 & {
        clear: left;
      }
    }
  }

  @media #{$gef-mq-lg} {
    padding: 0 0 0 30px;

    p {
      font-size: 1rem;
    }


    // 1. ie9 undo the clear left rule above
    &:nth-child(3n+1) {
      .gef-ie9 & {
        clear: none;
      }
    }


    // 2. multiples of 4n+2 e.g. (10, 14 etc)
    &:nth-last-child(4n+2):first-child,
    &:nth-last-child(4n+2):first-child ~ & {
      width: 25%;

      .erm-icon {
        width: auto;
      }

      .erm-label {
        width: 120px;
      }
    }

    // 3. ie9 force clear on what should be the first item of each row
    &:nth-last-child(4n+2):first-child ~ &:nth-child(4n+5) {
      .gef-ie9 & {
        clear: left;
      }
    }

    // 4. Multiples of 3 or 3n+2 (3, 5, 6, 9 etc)
    &:nth-last-child(3n):first-child,
    &:nth-last-child(3n):first-child ~ &,
    &:nth-last-child(3n + 2):first-child,
    &:nth-last-child(3n + 2):first-child ~ & {
      width: 33.3333%;
    }

    // 5. ie9 undo the force clear on 3
    &:nth-last-child(3n):first-child ~ &:nth-child(4n+1),
    &:nth-last-child(3n + 2):first-child ~ &:nth-child(4n+1) {
      .gef-ie9 & {
        clear: none;
      }
    }

    // 6. ie9 force clear on what should be the first item of each row
    &:nth-last-child(3n):first-child ~ &:nth-child(3n+4),
    &:nth-last-child(3n + 2):first-child ~ &:nth-child(3n+4) {
      .gef-ie9 & {
        clear: left;
      }
    }

    // 7. Multiples of 4 or 4n+3 (4, 7, 8, 11, 12 etc)
    &:nth-last-child(4n):first-child,
    &:nth-last-child(4n):first-child ~ &,
    &:nth-last-child(4n+3):first-child,
    &:nth-last-child(4n+3):first-child ~ & {
      width: 25%;

      .erm-icon {
        width: auto;
      }

      .erm-label {
        width: 120px;
      }
    }

    // 8. ie9 undo the force clear on 6
    &:nth-last-child(4n):first-child ~ &:nth-child(3n+1),
    &:nth-last-child(4n+3):first-child ~ &:nth-child(3n+1) {
      .gef-ie9 & {
        clear: none;
      }
    }

    // 9. ie9 force clear on what should be the first item of each row
    &:nth-last-child(4n):first-child ~ &:nth-child(4n+5),
    &:nth-last-child(4n+3):first-child ~ &:nth-child(4n+5) {
      .gef-ie9 & {
        clear: left;
      }
    }

    // 10. multiples of 4n+2 e.g. (10, 14 etc)
    &:nth-last-child(2):first-child,
    &:nth-last-child(2):first-child ~ & {
      width: 50%;

      .erm-label {
        width: 160px;
        padding-left:10px;
      }
    }
    // 11. multiples of 4n-1 e.g. (10, 14 etc)
    &:nth-last-child(3):first-child,
    &:nth-last-child(3):first-child ~ & {
      width: 33.333%;

      .erm-label {
        width: 170px;
      }
    }
  }

  & [role="tab"] {
    cursor: pointer;
    transition: color 0.2s;

    &[aria-expanded="true"] .erm-label__toggler-closed {
      position: absolute;
      top: 15px;
      left: 225px;
    }

    &[aria-expanded="false"] .erm-label__toggler-opened__close-icon {
      visibility: hidden;
      display: none;

    }

  }

  & [role="tabpanel"]{
    visibility: hidden;
    display: block;
    height: 0;
    overflow: hidden;
    background-color: transparent;
    margin: 0 -25px;
    width: auto;
    padding: 0 15px;
    transition: height 0.3s, visibility 0.3s 0s;
    text-align: left;

    &[aria-hidden="false"] {
      visibility: visible;
      height: auto;
      transition: height 0.3s;
      opacity: 0.95;
      border-radius: 2px;
      background-color: #f5f7fa;
      box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
      position: absolute;
      z-index: 10;
      top: 105px;
      left: 31px;

      & button.uk-icon-close {
        position: absolute;
        right: 10px;
        top: 15px;
        background: none;
        border: none;
        font-size: 1.1rem;
      }
    }

    p {
      margin: 40px 5px 10px 0;

      a {

        display: inline;

        .gef-ie9  & {
          text-decoration: underline;

          &:hover {
          text-decoration: none;
          }
        }
      }
    }

    @media #{$gef-mq-md} {

      &[aria-hidden="false"] {
        width: 215px;
        left: 60px;
        top: 95px;
      }

      &.erm-single-icon-label_box[aria-hidden="false"] {
        left: 405px;
      }

      p {
        margin: 40px 0 10px;
      }

    }

    @media #{$gef-mq-lg} {
      margin: 0 -40px;
      &[aria-hidden="false"] {
        left: 85px;
        top: 105px;
      }

      &.erm-single-icon-label_box[aria-hidden="false"] {
        left: 540px;
      }
    }
  }

}

.erm-icon-label-box {
  margin-bottom: 0;
  margin-top: 8px;
  font-size: 0.9rem;
  color: $gef-dark-grey;
  height: 85px;
  background-color: rgba(68, 184, 184, 0.2);
  outline: solid 2px #44b9b9;
  padding: 8px 0 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;

  .gef-ie9  & {
    text-align: center;
    vertical-align: middle;
  }

  .erm-icon {
    background-repeat: no-repeat;
    padding: 0;
    text-align: right;
    width: 48px !important;
    height: 48px !important;

    .gef-ie9  & {
      display: inline-block;
      text-decoration: none;
      vertical-align: middle;
      padding-bottom: 30px;
    }
  }

  .erm-label {
    padding: 5px;
    text-align: center;
    width: 160px;
    .gef-ie9  & {
      display: inline-block;
      vertical-align: middle;
      width: auto;
      padding-top: 0;
    }
  }

  @media #{$gef-mq-lg} {
    .erm-label {
      padding: 5px 0 5px 5px;
    }
  }
}

.erm-icon-caret-down {
  margin: -10px auto -25px auto;

  @media #{$gef-mq-lg} {
    margin-top: 5px;
  }

  .uk-icon-caret-down {
    text-align: center;
    width: 100%;

    &:before {
      color: #44b9b9;
      font-size: 5rem;
    }
  }
}


.erm-icons-01 {
  background-image: url("../images/erm-icons-01.svg");
}

.erm-icons-02 {
  background-image: url("../images/erm-icons-02.svg");
}

.erm-icons-03 {
  background-image: url("../images/erm-icons-03.svg");
}

.erm-icons-04 {
 background-image: url("../images/erm-icons-04.svg");
}

.erm-icons-05 {
  background-image: url("../images/erm-icons-05.svg");
  @media #{$gef-mq-lg} {
    padding-right: 20px!important;
  }

}

.erm-icons-06 {
  background-image: url("../images/erm-icons-06.svg");
}

.erm-icons-07 {
  background-image: url("../images/erm-icons-07.svg");
}

.erm-icons-08 {
  background-image: url("../images/erm-icons-08.svg");
}

.erm-icons-09 {
  background-image: url("../images/erm-icons-09.svg");
}

.erm-icons-10 {
  background-image: url("../images/erm-icons-10.svg");
}

.erm-icons-11 {
  background-image: url("../images/erm-icons-11.svg");
}

.erm-icons-12 {
  background-image: url("../images/erm-icons-12.svg");
}

.erm-icons-13 {
  background-image: url("../images/erm-icons-13.svg");
}

.erm-icons-14 {
  background-image: url("../images/erm-icons-14.svg");
}

.erm-support {
  h2 {
    margin-top: 1.875rem;
  }

  a {
    font-weight: 300;
  }
}

.erm-box-bg-gray {
  background-color: #d6d7d9 !important;
  outline: none!important;
}

.gef-main .erm_icon_label [role="tab"]:not([aria-expanded=true]):focus {
    outline: $gef-focus-outline!important;
    outline-offset: $gef-focus-text-outline-offset!important;
}