/* .edu-match-height
 *
 * matches height by using display: flex, only works on direct children of other display: flex setups
 */
.edu-match-height {
  display: flex;

  > * {
    flex-grow: 1;
  }
}

.edu-small-margin-bottom {
  margin-bottom: 4px !important;
}