.edu-highlight-panels {

  > div {
    display: flex;
  }

  @media #{$gef-mq-md} {
    margin-right: -4px;
  }
}

.edu-highlight-panels__panel {
  background-color: #fff;
  margin: 4px -25px 0;
  overflow: auto;
  padding: 25px;

  @media #{$gef-mq-md} {
    padding: 0;
    margin: 4px 4px 0 0;

    .secondary-hub__rhs & {
      margin: 0 4px 4px 0;
    }
  }

  .edu-highlight-panels__image {
    display: block;
    float: right;
    width: 35%;
    margin-left: 20px;

    @media #{$gef-mq-md} {
      position: relative;
      float: none;
      margin: 0;
      width: 100%;
      height: auto;

      h4 {
        position: absolute;
        bottom: 0;
        background-color: $edu-brand-primary-1;
        color: #fff;
        font-weight: 600;
        font-size: 0.875rem;
        left: 25px;
        margin-right: 25px;
        padding: 5px 10px;
        line-height: 1.4;
      }
    }
  }

  .edu-highlight-panels__content {

    @media #{$gef-mq-md} {
      padding: 10px 25px 25px;
    }
  }

  a {
    font-size: 0.875rem;
    font-weight: bold;
    color: $edu-brand-primary-1;

    @media #{$gef-mq-md} {
      display: block;
      font-size: 1rem;
      line-height: 1.4;
    }
  }

  p, h4 {
    display: none;

    @media #{$gef-mq-md} {
      display: block;
    }
  }

  p {
    @media #{$gef-mq-md} {
      margin-top: 10px;
      margin-bottom: 0;
    }
  }

  &--alt1 {
    background-color: $edu-brand-primary-1;

    * {
      color: #fff;
    }

    a, a:visited {
      color: #fff;
    }

    .edu-highlight-panels__image {

      h4 {
        background-color: #fff;
        color: $edu-brand-primary-1;
      }
    }
  }
}