.gef-main {
  overflow: hidden;

  .home & {
    padding: 0 0 40px;
  }

  .private-primary &,
  .public-primary &,
  .secondary-hub & {
    padding: 0 0 120px;
  }

  .edu-home {
    padding-bottom: 0;
  }

  @media #{$gef-mq-lg} {
    padding-bottom: 60px;

      .private-primary &,
      .public-primary &,
      .secondary-hub & {
        padding: 0 0 150px;
      }
  }
}

