.edu-linky-block {
  margin: 0 0-$gef-normal-horizontal-spacing;
  padding: 12px 0;
  border-bottom: 1px solid $gef-lighter-grey;

  .uk-grid {
    display: none;
  }

  &__header {
    display: block;
    margin-bottom: 0;

    a {
      position: relative;
      display: block;
      padding-right: 1cm;
      font-weight: 600;
      font-size: 1.1rem;
      color: $edu-brand-primary-1;
      text-decoration: none;
      line-height: 1.33;

      &:before {
        position: absolute;
        font-family: 'fontAwesome';
        content: '\f105';
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        font-size: 1.6rem;
        font-weight: 400;
      }
    }
  }

  @media #{$gef-mq-md} {
    margin-bottom: 3px;
    padding: 30px 0;

    .uk-grid {
      display: block;
    }


    &__header {
      margin-bottom: 20px;

      a {
        font-weight: 400;
        font-size: 1.5rem;

        &:hover,
        &:focus {
          text-decoration: underline;
        }

        &:before {
          content: none;
        }
      }
    }

    &__sub-header {
      font-size: 1rem;
      color: $edu-brand-primary-1;
      margin-bottom: 10px;
      font-weight: 800;
    }

    &__info {
      padding-right: 1cm;
    }

    &.edu-linky-block--extra-padding {
      padding-bottom: 80px;
    }

    .gef-link-list li:before { // link-list-chevron
      color: $edu-brand-primary-1;
    }

  }

  @media #{$gef-mq-lg} {
    margin: 0 0 3px;
  }
}
.edu-block-only-border {
  border-bottom: 1px solid $gef-lighter-grey;
}