.education {
  .livefyre-mosaic {
    width: 100%;
    .livefyre-item {
      margin-right: 0;

      @media #{$gef-mq-md} {
        width: 260px;
        margin-right: 25px;
        &:last-child {
          margin-right: 0;
        }

        img {
          max-width: 260px
        }
        &:nth-child(3n+1) {
          display: none;
        }
        &:nth-child(3n+2) {
          display: none;
        }
        &:first-child {
          display: block;
        }
        &:nth-child(2) {
          display: block;
        }
        @media #{$gef-mq-lg} {
          img {
            display: inline-block;
          }
          &:nth-child(3n+1) {
            display:inline-block;
          }
          &:nth-child(3n+2) {
            display:inline-block;
          }

          &:nth-child(4n+0) {
            margin-right: 0;
          }

        }
        img {
          max-width: 260px;
          height: 260px;
        }
        .livefyre-branding {
          top: 230px;
        }
        .livefyre-share:before {
          color: $edu-brand-primary-7;
        }
      }
    }
  }
}
