
// ----------------------
// MOBILE NAV MENU COLOR VARIABLES
// ----------------------
$sws-menu-layer-1:  #929292;
$sws-menu-layer-2:  #eaeaea;
$sws-menu-layer-3:  #cccccc;
$sws-menu-layer-4:  #dadada;
$sws-menu-layer-5:  #eeeeee;
$sws-menu-layer-6:  #f5f5f5;

.edu-local-mobile-nav {
  min-width: 100%;
  background-color: $sws-hero;

  &__open {
        overflow: hidden;
        overflow-x: hidden !important;
        position: fixed !important;
    }

  nav {
    padding: 0;

    > * {
      margin: 0.75rem;
    }

    .edu-local-mobile-nav__icon--nav {
      width: 33px;
      height: 35px;
      border: none;
      position: relative;
      background-color: transparent;
      cursor: pointer;
      margin-left: 15px;

      &::after {
        position: absolute;
        color: $sws-white;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }

      &::before {
        display: none;
      }
    }

    h1.edu-local-mobile-nav__header-title {
      color: $sws-white;
      font-size: 1rem;
      font-weight: normal;
      padding: 0.5rem;
      margin: 0;
      display: flex;
      align-items: center;
    }

    .edu-local-mobile-nav__icon--search {

      button {
        padding: 0;
        float: right;
        outline-offset: 6px !important;
        cursor: pointer;

        i {
          color: $sws-white;
          font-size: 1.25rem;
        }
      }
    }
  }

  .uk-offcanvas {
    background: rgba(0, 0, 0, 0.75);
    z-index: 100015;
  }

  &__close {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    top: 2rem;
    background-color: transparent;
    left: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;

    &.button-active {
      left: 310px;
      @media screen and (max-width: 341px) {
           left: 288px;
      }

      &::before {
        transform: rotate(0);
      }
    }

    &--button {
      position: absolute;
      width: 50px;
      height: 50px;
      background-color: transparent;
      border: none;
      cursor: pointer;

      &-hidden {
        width: 100%;
        height: 0;
        box-shadow: none;
        border: none;
        background-color: transparent;
      }
    }

    &::before {
      position: absolute;
      content: '\f00d';
      font-family: 'FontAwesome';
      color: $sws-white;
      display: block;
      width: 1.25rem;
      height: 1.5rem;
      font-size: 1.5rem;
      line-height: 1.5rem;
      top: 0;
      left: 0;
      padding: 0 6px;
      pointer-events: none;
      transform: rotate(-270deg);
      transition: all 0.5s;
    }
  }
}

.edu-offcanvas-bar {
  background-color: $edu-brand-primary-1;
  width:300px;
          @media screen and (max-width: 341px) {
           width: 288px;
      }
  &:focus {
    outline: none;
  }

  &::-webkit-scrollbar {
  display: none;
  }

  .uk-parent {
    &:hover {
      text-decoration: none;
    }
  }

    @at-root .edu-offcanvas-bar__header {
      h3 {
        font-size: 1.25rem;
        margin-bottom: 0;
      }

      .edu-offcanvas-bar__header-logo-wrap {
        display: flex;
        align-items: center;

        img {
          width: 43px;
          height: 50px;
        }
      }
    }

    @at-root .uk-nav-offcanvas > li > a.edu-offcanvas-bar__quicklinks-a {
      display: flex;
      align-items: center;
    }

    @at-root html:not(.uk-touch) .uk-nav-offcanvas ul {
      a.edu-offcanvas-bar__quicklinks-a,
      .edu-local-mobile-nav__li--name-a {
        &:hover, &:focus {
          color: $sws-hero;
          // text-decoration: underline;
        }
      }
    }

    @at-root .edu-offcanvas-bar__main-unordered-list {

      a.edu-offcanvas-bar__quicklinks-a {
        margin: 0;
        min-height: 40px;
        box-sizing: border-box;
        font-size: 0.875rem;
        color: $sws-white;
        font-weight: normal;
        text-decoration: none;
        width: 100%;

        span {
          padding-right: 14px;
          width: 1.25rem;
        }

        p.edu-offcanvas-bar__quicklinks-p {
          margin: 0;
          font-size: 0.875rem;
          color: $sws-white;
        }

        &:hover {
          text-decoration: underline;
        }
      }

      @at-root li.edu-local-mobile-nav__li-quicklinks {
        background-color: $sws-hero;
        padding-left: 0;
        margin: 0 0 1px 0;

        &:last-child {
          margin: 0;
        }

        .edu-local-mobile-nav__li-quicklinks-wrapper{
          float: left;
        }

        .edu-local-nav-quicklinks__icon-wrap {
          img {
            width: 1.2rem;
          }
        }

        &::before {
          display: none;
        }
      }

      @at-root li.edu-local-mobile-nav__li-menu-items {
        background-color:$sws-meganav-bg;
        padding: 0;
        margin: 0 0 1px 0;
        min-height: 40px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    border-top: 1px white solid;
        a, p {
          color: $sws-white;
          padding: 0;
          font-weight: 400;
          font-size: 0.925rem;
          text-decoration: none;
          display: flex;
          align-items: center;
        }

        a.edu-local-mobile-nav__li--name-a {
          padding: 0 5px 0 20px;
          font-weight: 400;
        }

        p {
          margin: 0;
          padding: 5px 5px 5px 15px;
          display: flex;
          height: 100%;
          box-sizing: border-box;
          align-items: center;
        }

        & > div:last-child {
          flex-grow: 1;
          flex-shrink: 1;
          flex-basis: 100%;
        }

        @at-root .uk-nav-offcanvas > li > a.edu-local-mobile-nav__li--name {
          padding: 0;
          display: flex;
          align-items: center;
          background-color: $sws-menu-layer-1;
        }

        @at-root html:not(.uk-touch) .uk-nav-offcanvas > li > a.edu-local-mobile-nav__li--name {
          &:hover, &:focus {
            background-color: $sws-menu-layer-1;
          }
        }

        @at-root .uk-nav-offcanvas > .uk-open > a.edu-local-mobile-nav__li--name {
          background-color: $sws-menu-layer-1;

          /*.edu-local-mobile-nav__li--name-a {
            border-bottom: 1px solid $sws-white;
          }*/
        }

        @at-root .edu-local-mobile-nav__li--name {
          display: flex;
          align-items: center;
          flex-grow: 1;
          flex-shrink: 0;
          flex-basis: 70%;
          min-height: 40px;

          @at-root .edu-local-mobile-nav__li--name-a {
            width: 100%;
            height: 100%;
          }
        }

        // Specific selector for overriding uikit styles
        @at-root .uk-nav-offcanvas li.uk-open > .edu-local-mobile-nav__li--name {
         // border-bottom: solid 1px $sws-white;
          box-sizing: border-box;
        }

        // Specific selector for overriding uikit styles
        @at-root .uk-nav-offcanvas > li > .edu-local-mobile-nav__plus-icon,
        li .edu-local-mobile-nav__plus-icon {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-grow: 1;
          flex-shrink: 0;
          flex-basis: 0%;
          color: $sws-white;
          padding: 0;
          text-align: center;
          border-left: solid 1px $sws-white;
          text-decoration: none;

          div {
            transition: transform 250ms ease-in-out;
            transform: rotate(0);
          }

          @at-root html:not(.uk-touch) .uk-nav-offcanvas > li > .edu-local-mobile-nav__plus-icon {

            &:hover, &:focus {
              color: $sws-white;
              //background-color: $sws-black;
            }
          }
        }

        // UIKit style overwrite
        @at-root html:not(.uk-touch) .uk-nav-offcanvas ul .edu-local-mobile-nav__plus-icon {
            &:hover {
              color: $sws-hero;
            }
        }

        @at-root .uk-nav-offcanvas > li.uk-open > .edu-local-mobile-nav__plus-icon,
        .uk-nav-offcanvas > li.uk-open > .edu-local-mobile-nav__plus-icon:focus,
        .uk-nav-offcanvas > li.uk-open > .edu-local-mobile-nav__plus-icon:hover {
          background-color: $edu-brand-primary-6 !important;

          /*div {
            
          }*/
          div.uk-icon-plus {
                font-size:12px !important;
                //font-weight:500;
                 transform: rotate(180deg);
                &:before {
                  content: "\f068" !important;
                  //content:"-" !important;
                }
                 }
        }

        &:last-child {
          margin: 0;
        }

        ul.edu-local-mobile-nav__menu-ul {
          padding: 0;
          margin: 0;

          > li {
            display: flex;
            width: 100%;
            margin: 0;
            min-height: 40px;
            box-sizing: border-box;
            border-bottom: solid 1px $sws-white;
            background-color: $sws-menu-layer-2;
            // padding-left: 20px;

            div > a.edu-local-mobile-nav__li--name-a {
              color: $sws-black;
              min-height: 40px;
              padding: 0 5px 0 25px;
              width: 100%;
              font-weight: 400;

              &.edu-local-mobile-nav__plus-icon {
                padding: 0;
              }
            }

            &.uk-open > .edu-local-mobile-nav__plus-icon {
              background-color: $sws-menu-layer-3;

              /*.uk-icon-plus{
                transform: rotate(45deg);
              }*/
              .uk-icon-plus {
                font-size:22px !important;
                font-weight:500;
                &:before {
                  content: "+" !important;
                }
                 }
              }

            &:last-child {
              border-bottom: none;
            }

            > div > .edu-local-mobile-nav__menu-ul {
              .edu-local-mobile-nav__li-menu-items {
                background-color: $sws-menu-layer-3;

                a.edu-local-mobile-nav__li--name-a {
                  padding-left: 30px;
                  font-weight: 400;
                }

                &.uk-open > .edu-local-mobile-nav__plus-icon {
                  background-color: $sws-menu-layer-4;
                }
              }

              > li > div > .edu-local-mobile-nav__menu-ul {
                .edu-local-mobile-nav__li-menu-items {
                  background-color: $sws-menu-layer-4;

                  a.edu-local-mobile-nav__li--name-a {
                    padding-left: 35px;
                    font-weight: 400;
                  }

                  &.uk-open > .edu-local-mobile-nav__plus-icon {
                    background-color: $sws-menu-layer-5;
                  }
                }

                > li > div > .edu-local-mobile-nav__menu-ul {
                  .edu-local-mobile-nav__li-menu-items {
                    background-color: $sws-menu-layer-5;

                    a.edu-local-mobile-nav__li--name-a {
                      padding-left: 40px;
                      font-weight: 400;
                    }

                    &.uk-open > .edu-local-mobile-nav__plus-icon {
                      background-color: $sws-menu-layer-6;
                    }
                  }



                  > li > div > .edu-local-mobile-nav__menu-ul {
                    .edu-local-mobile-nav__li-menu-items {
                      background-color: $sws-menu-layer-6;

                      a.edu-local-mobile-nav__li--name-a {
                        padding-left: 45px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
}
#mobile-nav-wrapper{
z-index: 100082;
    position: relative;
    @media screen and (min-width: 768px) {
  .edu-education-banner {
    padding-bottom: 30px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .gef-education-banner__lead {
    font-size: 1rem;
  }
    .gef-education-banner__header {
    font-size: 1.5rem;
  }
}
}
.local_mobile_nav_variant__section_header{
  .gef-section-header{
  width:100%;
  padding:5px 0 5px;
  margin-left:-50px;
  margin-top: 2px;
  }
  .gef-search__toggle{
    right:-23px;
    bottom:auto !important;
    @media screen and (min-width: 768px) and (max-width: 1023px) {
       right:-16px;
    }
    @media screen and (min-width: 384px) and (max-width: 1023px) {
       height:25px;
    }
  }
}


.display-hide{
  visibility: hidden;
}

.uk-nav-offcanvas > li > .edu-local-mobile-nav__plus-icon div,
li .edu-local-mobile-nav__plus-icon div,.uk-nav-offcanvas > li > .edu-local-mobile-nav__plus-icon div, li .edu-local-mobile-nav__plus-icon div.uk-icon-plus {
  font-size:22px !important;
  font-weight:500;
    &:before {
  content: "+" !important;
}}

.uk-nav-offcanvas > .uk-open > a,
html:not(.uk-touch) .uk-nav-offcanvas > li > a:hover,
html:not(.uk-touch) .uk-nav-offcanvas > li > a:focus {
  background:  $edu-brand-primary-6
}

.edu-after-megamenu{
@media screen and (max-width: 768px) {
  #global-search-button{
    display:none;
  }
}
}
.uk-offcanvas-bar{
  z-index:100030 !important;
}
.edu-home{

     .local_mobile_nav_variant__section_header{
       .gef-section-header{
   @media screen and (max-width: 360px) {
     margin-left:-80px;
       }
     }
   }

  .gef-search__toggle{
    @media screen and (max-width: 360px) {
       right:-39px;
       bottom:-8px;
    }
    @media screen and (min-width: 364px)  and (max-width: 768px) {
       height:25px;
    }
  }
  }

@media screen and (max-width: 760px) {
   .gef-search--body{
       background:none;
   }
}
.edu-local-mobile-nav__li-menu-subitems{
  min-height:1px !important;
}
.edu-local-mobile-nav__li--sublinkname{
  min-height:1px !important;
  a{
    min-height:1px !important;
    padding:7px 15px 7px 25px !important;
  }
}
.edu-home .gef-section-header__logo a {
    @media screen and (max-width: 360px) {
          font-size: 16px;
    }
        @media screen and (min-width: 320px) and (max-width: 332px) {
          font-size: 15px;
    }
       }

.gef-section-header{
   @media screen and (min-width: 1024px){
     .uk-width-9-10 {
  width: 70%;
}

   }
}