#navWrap {
  background-color: $sws-meganav-bg;
  height: auto;
}

.edu-meganav-container {
  padding: 0 20px;
  position: relative;
  z-index: 10019;
  .uk-navbar {
    position: relative; // min-height: 45px;
  }
  @media screen and (max-width: 1300px) {
    &.uk-container {
      padding: 0 20px;
    }
  }
  @media screen and (max-width: 1150px) {
    &.uk-container {
      padding: 0 10px;
    }
  }
}

.edu-mega-menu {
  background-color: $sws-meganav-bg;
  font-size: 16px;
  border-bottom: 1px solid $sws-uk-dropdown-navbar;
  .uk-open:hover {
    text-decoration: underline;
    color: $sws-black !important;
  }
  .uk-parent {
    padding: 7px 0;
    margin-top: 0;
    &:hover {
      text-decoration: underline;
      color: $sws-white;
    }
  }
  @media screen and (max-width: 1024px) {
    padding-right: 5px;
  }
  .edu-meganav-megalinks {
    padding: 13px;
    font-size: 15px;
    word-wrap: break-word;
    &:hover {
      cursor: pointer;
      cursor: hand;
    }
    @media #{$sws-mq-md} {
      padding: 6px;
      font-size: 14px;
    }
  }
}

li.uk-open {
  background-color: white;
  .edu-meganav-megalinks {
    font-weight: 600;
  }
}

ul.list-columns {
  @extend .uk-column-1-3;
  li {
    break-inside: avoid;
    page-break-inside: avoid;
    box-sizing: content-box;
    margin-top: 0;
    margin-bottom: 10px !important;
    padding-left: 40px; //overflow:hidden;
    @media screen and (-webkit-min-device-pixel-ratio:0) {
      ::i-block-chrome {
        display: inline-block;
      }
    }
    a {
      white-space: normal;
      padding-right: 10px; //padding-right:0;
      span {
        white-space: normal;
      }
      &:after {
        padding-left: 5px;
        content: '\f105';
        font-family: 'FontAwesome';
        font-size: 16px;
        display: inline-block;
        text-decoration: none;
        color: $sws-meganav-bg;
        margin-right: -24px;
      }
      &:focus {
        outline: 1px solid black !important;
        outline-offset: -1px !important;
      }
    }
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  _::-webkit-full-page-media,
  _:future,
  :root,
  ul.list-columns li {
    display: inline-block;
  }
}
.edu-mega-nav-text {
  &:hover,
  &:focus {
    text-decoration: underline;
  }
  padding-right:2px;
}

.edu-mega-nav-desc {
  margin: 10px 0 20px 0;
  padding-bottom: 10px; //border-bottom: 1px solid $edu-meganav-bg;
  margin-left: 20px !important;
  p {
    margin-left: -20px !important;
  }
}

.edu-toc_item {
  a,
  a:visited {
    text-decoration: underline;
    color: $gef-secondary-text;
    position: relative;
    font-weight: 500;
    font-size: 1rem;
  }
  .uk-dropdown {
    padding-bottom: 20px !important;
  }
  @media #{$gef-mq-lg} {
    a,
    a:visited {
      font-size: 16px;
      line-height: 1.38;
      padding-left: 15px;
      i {
        top: 7px;
        font-size: 0.9em;
      }
    }
  }
}

//overrides uk-nav-bar from gef
.uk-nav-navbar>li>a:hover,
.uk-nav-navbar>li>a:focus {
  background: $sws-uk-dropdown-navbar;
  color: $sws-black;
  /* 2 */
  outline: none;
}

.uk-dropdown-navbar {
  padding-bottom: 30px; //background:$sws-light-accent;
}

.edu-search-icon {
  position: absolute;
  min-width: 50px;
  float: right;
  display: flex;
  height: 100%;
  top: 0;
  right: 0;
  border: 1px solid transparent;
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: 0;
  cursor: pointer;
  @media screen and (max-width: 1024px) {
    // margin-top:-75px;
  }
  &.uk-open {
    background-color: $sws-light-accent;
    .edu-search-icon__wrapper {
      position: relative;
      &::before {
        content: '\f00d';
      }
      &:hover::before {
        // border-bottom: 1px solid $sws-hero;
        transform: scale(1);
      }
    }
  }
  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 18px;
    width: 1px;
    .uk-button {
      position: relative;
      background-color: transparent;
      &:focus~ ::before {
        transform: scale(1.25);
      }
    }
    &.uk-open {
      background-color: $sws-light-accent;
      &::before {
        content: '\f00d';
      }
      &:hover::before {
        // border-bottom: 1px solid $sws-hero;
        transform: scale(1);
      }
    }
    &__button {
      margin-top: 0;
      text-decoration: none;
      font-weight: 400;
    }
    &::before {
      position: absolute;
      display: block;
      content: '\f002';
      font-family: 'FontAwesome';
      font-size: 1.125rem;
      line-height: 1.125rem;
      margin: 0 auto;
      top: 0;
      text-decoration: none;
      transition: transform 0.25s;
    }
    &:hover::before,
    &:focus::before {
      transform: scale(1.25);
    }
  }
  &__mobile {
    position: relative; // background-color: skyblue;
    min-width: initial;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    &--search {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .edu-search-icon {
      &__button {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding: 8px;
        color: $sws-white;
        background-color: transparent;
        &:hover {
          background-color: transparent;
        }
        i {
          position: relative;
          left: 0;
        }
      }
      &__dropdown {
        margin-top: 0.75rem;
        width: 100vw;
      }
    }
    &.uk-open {
      background-color: transparent;
      .edu-search-icon__button {
        i:before {
          content: '\f00d';
        }
      }
    }
    .edu-search-input {
      &__submit-wrapper {
        &::before {
          content: '';
          display: none;
        }
        i {
          position: absolute;
          pointer-events: none;
          top: 50%;
          right: 20%;
          transform: translateY(-50%) translateX(-50%);
        }
      }
    }
  }
}

.edu-search-input {
  position: relative;
  margin: 0 1rem;
  input {
    outline: none;
    &:focus {
      outline: 1px solid $sws-hero;
      animation: none;
      box-shadow: none;
    }
  }
  &-textfield {
    padding: 1rem;
    margin: 14px 0 0;
    background-color: transparent;
    border: 1px solid $sws-dark-accent;
    box-shadow: none;
    font-size: 1.25rem;
    flex-grow: 1;
    max-width: 100%;
    box-sizing: border-box;
  }
  &:focus {
    outline: none;
    border: 1px solid $sws-hero;
    animation: none;
    box-shadow: none;
  }
  &__submit {
    &-button {
      position: relative;
      background-color: transparent;
      font-family: 'FontAwesome';
      font-size: 18px;
      width: 3rem;
      height: 3rem;
      border: none;
      box-shadow: none;
      cursor: pointer;
      padding: 0;
    }
    &-wrapper {
      position: absolute;
      top: 0;
      right: 0;
      margin: 1rem 0 0 0; // padding: 1.25rem 1.5rem 1rem 1rem;
      font-size: 1.25rem;
      width: 3.5rem;
      height: 3.5rem;
      &::before {
        position: absolute;
        display: block;
        content: '\f002';
        font-family: 'FontAwesome';
        font-size: 18px;
        text-decoration: none;
        pointer-events: none;
        top: 1.25rem;
        right: 1.25rem;
        width: 1rem;
        height: 1rem;
        line-height: 1rem;
      }
    }
  }
}

.edu-meganav-title {
  font-size: 24px;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &:focus {
    outline-offset: 1px;
    outline: black solid 1px !important;
  }
}

.edu-search-input__label {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 0;
}

ul.edu-mega-menu-title-bar {
  border: 0;
  box-shadow: none;
  background: transparent;
  display: flex;
  justify-content: space-between;
  width: auto;
  z-index: 99;
  max-width: calc(100% - 50px);
  @media screen and (max-width: 1366px) {
    max-width:100%;
  }
  li {
    padding-top: 0;
    padding-bottom: 0;
    min-width: 160px;
    min-height: 60px;
    &.uk-open {
      background-color: $sws-uk-dropdown-navbar;
    }
  }
  li.uk-parent:first-child {
    padding-left: 10px;
  }
  li.uk-parent:first-child:nth-last-child(1) {
    width: 100%;
  }
  /* two items */
  li.uk-parent:first-child:nth-last-child(2),
  li.uk-parent:first-child:nth-last-child(2)~li {
    width: 50%;
  }
  /* three items */
  li.uk-parent:first-child:nth-last-child(3),
  li.uk-parent:first-child:nth-last-child(3)~li {
    width: 33.3333%;
  }
  /* four items */
  li.uk-parent:first-child:nth-last-child(4),
  li.uk-parent:first-child:nth-last-child(4)~li {
    width: 25%;
  }
  /* five items */
  li.uk-parent:first-child:nth-last-child(5),
  li.uk-parent:first-child:nth-last-child(5)~li {
    width: 20%;
  }
  /* six items */
  li.uk-parent:first-child:nth-last-child(6),
  li.uk-parent:first-child:nth-last-child(6)~li {
    width: 21.6%;
    @media screen and (max-width: 1150px) {
      min-width: 140px;
    }
  }
  /* seven items */
  li.uk-parent:first-child:nth-last-child(7),
  li.uk-parent:first-child:nth-last-child(7)~li {
    //width: 18.5%;
    width: 20%; // min-width:14.9%;
    min-width: 14.67%;
    @media screen and (min-width: 1024px) and (max-width: 1300px) {
      min-width: 13.9%
    }
    @media screen and (max-width: 1150px) {
      min-width: 136.9px;
    }
    @media screen and (max-width: 1366px) {
      min-width: 10%;
    }
  }
  /* eight items */
  li.uk-parent:first-child:nth-last-child(8),
  li.uk-parent:first-child:nth-last-child(8)~li {
    width: 15.6%;
    min-width: 140px;
    @media screen and (min-width: 1151px) and (max-width: 1300px) {
      min-width: 124px;
    }
    @media screen and (max-width: 1150px) {
      min-width: 100px;
    }
  }
  li.uk-parent:last-child {
    padding-left: 15px;
  }
  li.uk-parent:first-child:nth-last-child(9),
  li.uk-parent:first-child:nth-last-child(9)~li {
    width: 13%;
    min-width: 120px;
    @media screen and (min-width: 1151px) and (max-width: 1300px) {
      min-width: 100px;
    }
    @media screen and (max-width: 1150px) {
      min-width: 90px;
      a.edu-meganav-megalinks {
        padding: 13px 6px;
      }
    }
  }
}

.edu-mega-nav-desc__design {
  border-bottom: 1px solid $sws-meganav-bg;
  margin-left: -20px;
  margin-right: 20px;
}

.edu-mega-menu,
.edu-offcanvas-bar__main-unordered-list {
  ul,
  li {
    list-style-type: none;
    &:before {
      display: none;
    }
  }
}

.uk-navbar-nav>li>a {
  color: $sws-white;
}

.uk-navbar-nav>li:hover>a,
.uk-navbar-nav>li>a:focus {
  color: $sws-white;
}

.uk-navbar-nav>li.uk-open>a {
  color: $sws-black;
}

.menu_id {
  min-width: 100%;
}

.uk-dropdown-navbar {
  //background: @sws-secondary-theme-color;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}

.edu-meganav-megalinks__li {
  a[aria-expanded="false"].edu-meganav-megalinks:focus {
    outline: 1px solid #fff !important;
    outline-offset: -6px !important;
  }
}

.edu-meganav-megalinks__li {
  a[aria-expanded="true"].edu-meganav-megalinks:focus {
    outline: 1px solid #000 !important;
    outline-offset: -6px !important;
  }
}

a.edu-meganav-megalinks__direct:focus {
  outline: 1px solid #fff !important;
  outline-offset: -6px !important;
}

.edu-local-mobile-nav__li--name-a:focus,
.edu-local-mobile-nav__plus-icon:focus {
  outline: 1px solid #fff !important;
  outline-offset: -6px !important;
}

.edu-local-mobile-nav__menu-ul {
  .edu-local-mobile-nav__li--name-a:focus,
  .edu-local-mobile-nav__plus-icon:focus {
    outline: 1px solid $edu-brand-primary-6 !important;
    outline-offset: -6px !important;
  }
}

.edu-meganav-title {
  display: block;
}

//adding comment to force a push
