.edu-mobile-show-hide-container {
  width: 100%;
}

.edu-mobile-show-hide {
  margin: 0 0-$gef-normal-horizontal-spacing;
  padding: 12px 0;
  border-bottom: 1px solid $gef-lighter-grey;
  
  .uk-grid {
    display: block;
  }

  &__header {
    display: block;
    margin-bottom: 0;
    position: relative;
    padding-right: 1cm;
    font-size: 1.1rem;
    font-weight: 600;

    a {
      color: $edu-brand-primary-1;
      text-decoration: none;
      line-height: 1.33;
      font-weight: 600;

      &:focus {
        text-decoration: underline;
      }
    }
  }

  [role="tab"] {

    &:focus {
      text-decoration: underline;
      outline: 0;
    }

    &:before {
      position: absolute;
      display: block;
      content: '';
      right: 0;
      top: 5px;
      width: 14px;
      height: 14px;
      background-image: url("../images/show_icon_m.svg");
      background-size: cover;
    }

    &[aria-expanded="true"] {
      &:before {
        background-image: url("../images/hide_icon_m.svg");
        background-size: 14px 14px;
      }
    }
  }

  [aria-hidden="true"] {
    display: none;
  }

  [aria-hidden="false"] {
    display: block;
    margin-top: 25px;
  }


  &__sub-header {
    font-size: 0.85rem;
    color: $edu-brand-primary-1;
    margin-bottom: 10px;
    margin-top: 20px;
    font-weight: 800;
  }


  &__content {
    p {
      font-size: 0.9rem;
    }
  }

  .gef-link-list {
    li {
      &:before {
        color: $edu-brand-primary-1;
      }
    }

    a {
      font-size: 0.9rem;
    }
  }

  @media #{$gef-mq-md} {
    margin-bottom: 3px;
    padding: 30px 0;

    &:last-child {
      padding-bottom: 100px;
    }

    &__header {
      margin-bottom: 20px;
      font-weight: 400;
      font-size: 1.5rem;

      a {
        font-weight: 400;

        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
    }

    [role="tab"] {
      &:before {
        content: none;
      }

      &:focus {
        text-decoration: none;
      }
    }

    &__info {
      padding-right: 1cm;
    }

    &__sub-header {
      font-size: 1rem;
    }

    &--extra-padding {
      padding-bottom: 80px;
    }

    [aria-hidden="true"] {
      display: block;
    }

    [aria-hidden="false"] {
      margin-top: 0;
    }

    .gef-link-list li:before { // link-list-chevron
      color: $edu-brand-primary-1;
    }

  }

  @media #{$gef-mq-lg} {
    margin: 0 0 3px;

    &__content {
      p {
        font-size: 1rem;
      }
    }

    .gef-link-list {

      a {
        font-size: 1rem;
      }
    }
  }
}
