.edu-news-hub {
    .gef-form label {
        font-weight: 400;
        display: block;
    }
    .gef-form select {
        height: 49px;
        min-width:227px;
        @media screen and (min-width: 768px) and (max-width: 934px) {
            min-width:166px;
        }
    }
    .edu-news-hub__select-position-1 {
        padding-left: 0;
        width: 100%;
        @media #{$gef-mq-md}
        {
            width: auto;
            padding-right: 15px;
        }
    }
    .edu-news-hub__select-position-2 {
        padding-left: 0;
        padding-right: 15px;
        width: 100%;
        @media #{$gef-mq-md}
        {
            width: auto
        }
    }
}
.edu-news-hub__button {
    margin-top: 24px;
    margin-bottom: 15px;
    padding: 13px 30px;
    font-weight: 500;
    width: 100%;
    font-size: 1.05rem;
    @media #{$gef-mq-md}
    {
        width: auto
    }
}
.edu-highlight-panels__category {
    position: relative;
}
.edu-highlight-panels__variation {
    .edu-highlight-panels__content {
        margin-top: 0;
        @media #{$gef-mq-md} {
        margin-top: 20px;
        }
    }
    .gef-featured-teaser_highlight {
        margin-left: 0;
    }
    .edu-highlight-panels__content-title {
        padding-top: 20px;
        padding-bottom: 15px;
        font-size:18px;
    }
}
.edu-highlight-panels__panel--alt1 {
    .gef-featured-teaser_highlight {
        background-color: $gef-white;
        color: $edu-brand-primary-1;

        // workaround when google translator is used
        font > font {
            color: $edu-brand-primary-1!important;
        }
    }

    a:focus{
        outline: 1px solid $gef-white !important;
    }

}
.gef-featured-teaser__date_variant {
    display: block;
}

  .edu-highlight-panels__image-variation {
    display: block;
    float: right;
    width: 35%;
    margin-left: 20px;

    @media #{$gef-mq-md} {
      position: relative;
      float: none;
      margin: 0;
      width: 100%;
      height: auto;
    }
  }

.edu-news-hub__select-position-1,.edu-news-hub__select-position-2{
    select:hover{
      outline: 1px solid $gef-black !important;
    }

}
.social-media-listing li{
    padding-left:0;
}
.edu-news-article-rhs{
    .edu-small-margin-bottom{
        margin-top:3px;
    }
}