.edu-news-article{
    background-color:$gef-white;

}
@media screen and (min-width: 1024px) {
    .edu-news-article__rhs {
    margin-top: 0;
    padding-left: 5%;
  }
}
.edu-highlight-news{
    margin-top:30px;
    margin-bottom:0 !important;
    margin-left: -25px;
    a.edu-highlight-panels__content-title{
        font-size:1.5rem;
        font-weight:600;
        text-decoration:none;
    }
    h4,p{
            display:block !important;
    }
    .gef-featured-teaser_highlight{
        @media #{$gef-mq-md}
        {
            left: 25px;
            margin-top:0;
            padding: 5px 10px;

        }
            left: 0;
            margin-top:-25px;
    }
    .edu-highlight-panels__content{
        margin-top:25px;
    }
}
.social-icons{
    font-size:1.4rem;
    color: $edu-brand-primary-1;
    display:inline-block !important;
    width:1.18571429em;
}
.social-media-listing{
    a{
        color: $edu-brand-primary-1;
        font-weight:400;
    }
    li{
        padding-bottom:10px;
    }
}
.edu-news-article{
    
    .edu-highlight-panels__panel .edu-highlight-panels__content {
         @media #{$gef-mq-md}
         {
         padding: 0 25px 0 !important;
         }
    }
    .lead {
           margin-bottom: 13.04px;
           margin-top: 25px;
           padding-bottom:0;
    }
    .caption {
          margin-top: -15px;
          margin-bottom: 30px;
    }
    .edu-block{
        img{
            margin-top:16.96px;
        }
    }
    .edu-highlight-panels__panel{
        
@media screen and (max-width: 767px){
          padding: 25px 25px 0 25px;
          }
    }
}