html, 
a, .uk-link, 
h1, h2, h3, h4,
[class*='uk-icon-'], [class*='uk-icon-']:hover, [class*='uk-icon-']:focus {
  color: $edu-brand-primary-2;
}

*:focus {
  .gef-breadcrumbs &,
  .gef-education-banner &,
  .gef-maintenance-ribbon__message &,
  .gef-notice-ribbon__additional & {
    outline-offset: $gef-focus-text-outline-offset !important;
  }
  .gef-breadcrumbs .gef-breadcrumbs__dropdown & {
    outline: $gef-focus-inverse !important;
    outline-offset: -1px;
  }
}

input[type="radio"] {
  &:before {
    color: $edu-brand-primary-1;
  }
}

.gef-radio-list {
  input[type="radio"] {
    -webkit-appearance: radio;
    -moz-appearance: radio;
    appearance: radio;

    &:before {
      display: none;
    }
  }
}

.catalogue,
.edu-home {
  background-color: $gef-off-white;
}

body > .uk-container {
  position: relative;
  z-index: 9999;
}

body {
  &.policy {
    background-color: $edu-policy-bg;
  }
}

.gef-global-header-container{
   z-index: 100083;
}

.gef-section-header {
  z-index: 10001;
}
.edu-home{
.gef-section-header__logo{
  a{
    font-size:18px
  }
}
}

.home {
  article {
    > h1 {
      display: none;
    }
  }
  h2:not(.gef-teaser__heading) {
    color: $edu-brand-primary-1;
  }
}

.landing {
  h2,
  h3 {
    color: $gef-content-header;
    font-weight: 800;
    letter-spacing: 0.03em;
  }
}

.gef-side-navigation {
  > li {
    > a {
      color: $gef-content-header;
    }

    > a:focus,
    > a:hover,
    > a:visited:focus,
    > a:visited:hover {
      border-right: 6px solid $edu-brand-primary-7;
    }
  }
    > li.uk-active {
    > a,
    > a:visited {
      border-right: 6px solid $edu-brand-primary-7;
    }
  }
}

.gef-breadcrumbs {

  * {
    color: $edu-brand-primary-1;

    .public-primary & {
      margin-bottom: 10px;
    }
  }

  @media #{$gef-mq-lg} {
    

    .gef-breadcrumbs__list {
      margin-top: 0px;
    }

    .gef-breadcrumbs__item {
      > a,
      > span {
        padding-top: 17px;
        color: $edu-brand-primary-1;
      }

      &:before {
        top: 10px;
      }

      &.gef-breadcrumbs__dropdown {
        &:after {
          line-height: 52px;
        }
      }

      &.gef-breadcrumbs__truncate {

        &:after {
          top: 52px;
        }

        a:after,
        span:after {
          bottom: 0px;
        }
      }
    }
  }
}

.gef-anchor-box {

  width: 100%;
  padding: 20px 0;
  border-top: 3px solid $edu-brand-primary-7;

  background: $edu-brand-primary-3;

  .gef-anchor-box__title {
    padding: 0 20px;
    
  }
  .gef-link-list {
      padding: 0 20px;
      
    li {
      
      &:before {
        color: $edu-brand-primary-1;
      }
    }
  }
}

// RIBBONS

.gef-maintenance-ribbon__message {
  cursor: default;
}

// NEWS

.gef-news-teaser__content {
  a {
    display: block;
  }
}

// CATALOGUE

.gef-catalogue-teaser_content {
  a {
    display: block !important;
  }
}

// TABS
.gef-tabs--active .gef-tabs__group [role="tab"] {
  background-color: $edu-brand-primary-4;
  color: $edu-brand-primary-1;
  
  border-bottom: 1px solid $edu-brand-primary-4;
  border-top: 3px solid $edu-brand-primary-7;
}
.gef-tabs--active .gef-tabs__group [role="tab"]:hover,
.gef-tabs--active .gef-tabs__group [role="tab"]:focus {
  background-color: $edu-brand-primary-6;
  color: $gef-white;
  border-left: 1px solid $gef-white !important;
 

}

.gef-tabs--active .gef-tabs__group [role="tab"][aria-expanded=true],
.gef-tabs--active .gef-tabs__group [role="tab"][aria-selected=true] {
  background-color: $edu-brand-primary-1;
  color: $gef-white;
  border-top: 1px solid $edu-brand-primary-1;
  border-bottom: 3px solid $edu-brand-primary-7;

}

.gef-tabs--active .gef-tabs__panel-group [role="tabpanel"] {
  border: none;

}

.js-tabs.gef-tabs--active .gef-tabs__panel-group [role="tabpanel"] {

    border-bottom: none;

}

// SIDE NAV
.gef-side-navigation-upper {
  background-color: $gef-concrete !important;
  .uk-icon-chevron-left {
    color: $edu-brand-primary-7;
  }
}

// SECTION HEADER

.gef-section-header  {
  border-bottom: 0;
}

// SHOW HIDE

.uk-accordion-title {

  &:focus span {

    color: $edu-brand-primary-1;
    border-bottom: 3px solid $edu-brand-primary-1;

  }
  .gef-show-hide--alt & {
    border: 1px solid $gef-light-grey;
    color: $edu-brand-primary-1;
  }
  i {
    background-color: $gef-white; 
    .gef-show-hide--alt & {
      background-color: $edu-brand-primary-1;
    }
  }
}



.gef-show-hide--alt .uk-accordion-title {
  &[aria-expanded=true]  {
    border-color: $edu-brand-primary-1;
    border-bottom: transparent;
  }
}

.gef-show-hide {

  .uk-accordion-content.uk-active {
    background-color: $edu-brand-primary-3;
  }

  .uk-accordion-title {
    border-top: 2px solid $edu-brand-primary-7;
    background-color: $edu-brand-primary-2;
    color: $gef-white;

    i {
        background-color: $gef-white;     
    }
    &:focus,
    &:hover {
      background-color: $edu-brand-primary-4;
      color:  $edu-brand-primary-1;
      
      i {
        background-color: $edu-brand-primary-1;     
      }
    }
  }
}


// SEARCH RESULTS HEADER

.gef-search-refine-results-header {  
  color: $edu-brand-primary-1;
  font-weight: 800;
  font-size: 1rem;

  @media #{$gef-mq-lg} {
    font-size: 1.1rem;
  }
}

.gef-search.gef-search--body {
  margin-bottom: 10px;

  @media #{$gef-mq-md} {
    margin-bottom: 20px;
  }

  @media #{$gef-mq-lg} {
    margin-top: 50px;
    margin-bottom: 30px;
  }
}

.gef-search-results__itemheader a {
  color: $edu-brand-primary-1;
}

.gef-search-results {
  .gef-external-link {
    display: none;
  }
}

// PAGINATION

.gef-pagination {

  li {
    margin-right: 3px;

    & > a,
    & > span {
      height: 34px;
      min-width: 29px;
      line-height: 1.8;
      max-width: none;
    }
    & > a {
      border-color: $edu-brand-primary-1;
      color: $edu-brand-primary-1;
    }
  }

  @media #{$gef-mq-lg} {
    margin-top: 50px;
  }
}

// LOGIN LINK
.gef-login-link {
  i  {
    color: $edu-brand-primary-1;
  }
}


// VC ICONS

.gef-vc-icons .gef-vc-btn {
  color: $gef-medium-grey;
}

.gef-vc-icons .gef-vc-btn.uk-active {
  color: $edu-brand-primary-1;
}

// HR

.gef-hr-light {
  border-color: $gef-lighter-grey;
}

// EDCONNECT DRAWER

.gef-drawer {
  position: fixed;
  z-index: 10000;
  left: 20px;

  [role="tab"] {
    box-sizing: border-box;
    border-radius: 4px 4px 0 0;
    width: 280px;

    &:focus,
    &:hover {
      color: $gef-white;
    }
  }

  [role="tabpanel"] {
    box-sizing: border-box;
    background-color: #fff;
    width: 280px;
    border-bottom: 0;
    //visibility: hidden;
    //transition: visibility 0s 0.5s;

    &[aria-hidden="false"] {
     // visibility: visible;
      // transition: visibility 0s 0s;
    }
  }

  &[data-scroll-passed="true"] {
    position: absolute;
  }

  @media #{$gef-mq-lg} {
    right: auto;
    left: 50%;
    margin-left: 170px;

    [role="tab"] {
      position: static;
      width: auto;
      float: right;
    }

    [role="tabpanel"] {
      clear: both;
    }
  }

  @media #{$gef-mq-xl} {
    margin-left: 230px;
  }
}

// GSA only

.gsa-gef-search {

  .gef-search--body {

    button[type="submit"] {
      font-size: 1rem;
      width: 100px;

      .uk-icon-search {
        display: none;
        visibility: hidden;
      }

      @media #{$gef-mq-md} {
        font-size: 1.1rem;
        width: 120px;
        line-height: 2.7;
      }

      @media #{$gef-mq-lg} {
        font-size: 1.2rem;
        width: 120px;
        line-height: 3;
      }
    }
  }
}


// BACK TO TOP

.gef-btt {

  @media #{$gef-mq-lg} {
    border: 3px solid $edu-brand-primary-2;
  }

  &[data-show="false"] {
    visibility: hidden;
  }

  @media #{$gef-mq-lg} {
    right: 5px;
    bottom: 5px;

  }

  .uk-icon-angle-up {
    @media #{$gef-mq-lg} {
      color: $edu-brand-primary-2;
    }
  }
}


// No states, regardless - this includes default states
.gef-tabs--active .gef-tabs__panel-group[role="tabpanel"][aria-hidden="false"] {
  outline: 0 !important;
}

.gef-main [role="tab"]:not([aria-expanded=true]):focus {
  outline: 0 !important;
}

.gef-main [role="tabpanel"]:focus {
   outline-offset: -2px !important;
}



// Anchor state for certain classes
.gef-linkgroup, .gef-block, .gef-global-footer, .gef-side-navigation {
  a {
    &:active,
    &:hover {
      outline: 0 !important;
    }
  }
}

// Anchor and button states for certain DIV classes
.gef-global-header-container, .gef-section-header, .gef-expanded-nav, .gef-section-footer, .gef-main-content {
  a, button {
    &:active,
    &:hover {
      outline: 0 !important;
    }
  }
}
.gef-section-footer{
  h3{
    color:$gef-black;
  }
}
// Anchor and button states not within certain DIVs
a, button, a.uk-button {

  &:active,
  &:hover {
    outline: 0 !important;
  }
}

// Certain elements specifically
#noticeRibbon-tab[role="tab"],
.gef-banner__content,
.gef-tabs .gef-tabs__group[role="tab"],
.gef-search__helper a,
.gef-login-link a,
.gef-search-results a,
.gef-pagination a,
.gef-category-list a,
.gef-link-list a,
.gef-btt a,
form div input[type="text"],
form input[type="text"],
form input[type="radio"],
form button[type="submit"],
form select {
  &:active,
  &:hover {
    outline: 0 !important;
  }
}

// Search Forms

.gef-global-header__search-form {
  background-color: $edu-brand-primary-3;  
  input[type="text"] {
    width: 94%;
  }
  div {
    input[type="text"]:focus,
    input[type="text"]:focus + button,
    button[type="submit"]:focus {
      background-color: $edu-brand-primary-3;
      outline: 0 !important;
    }
  }
}

.gef-global-header__search-form {

  button[type="submit"] {

    &:active,
    &:hover {
      color: rgb(255,255,255) !important;
      border-color: $edu-brand-primary-5 !important;
      background: $edu-brand-primary-5 !important;
      outline: 0 !important;
    }
  }
}
.edu-mobilemenu-search{
background: $gef-light-grey;
}

.gef-search {
  z-index: 10000;
  //background:$gef-black;

  input[type="text"]:focus {
    outline-offset: 0 !important;
  }

  button[type="submit"] {
    border: 1px solid $edu-brand-primary-1;


    &:hover,
    &:focus {
      color: $edu-brand-primary-3;
      background-color: $edu-brand-primary-1;
    }
  }

  &.gef-search--body {
   input[type="text"] {
      border: 1px solid $edu-brand-primary-2;
    }

    input[type="text"]:focus {
      outline: 1px !important;
      outline-offset: 1px !important;
      outline-color: $edu-brand-primary-1 !important;
    }

    button[type="submit"] {
      border: 1px solid $edu-brand-primary-7;

      span {
        visibility: hidden;
      }

      &:hover,
      &:focus {
        color: $edu-brand-primary-7;
        background-color: $gef-white;
        border: 2px solid $edu-brand-primary-7;
        

      }

      &:hover i:before,
      &:focus i:before {
        color: $edu-brand-primary-7;

      }


      &:hover {
        outline: 0 !important;
      }
    }
  }

  @media #{$gef-mq-lg} {
    z-index: 10002;

    button[type="submit"] {
      border: 1px solid #fff;
    }

    button[type="submit"] {

      &:hover,
      &:focus {
        color: $edu-brand-primary-5;
        background-color: #fff;
      }
    }
  }
}

.gef-breadcrumbs__item.gef-breadcrumbs__dropdown p a:focus {
  color: $edu-brand-primary-1;
  background: rgb(255,255,255);
  outline: 0 !important;
}

button.gef-feedback-trigger {
  height: 38px;

  &:active,
  &:hover {
    background-color: rgb(51,51,51);
    color: rgb(255,255,255);
    outline: 0 !important;
  }
}

.gef-banner__content a.uk-button {

  @media #{$gef-mq-lg} {
    padding-left: 50px;
    padding-right: 50px;
  }

  &:hover {
    background-color: rgb(255,255,255);
    color: $edu-brand-primary-1;
    border-color: $edu-brand-primary-1;
  }
}

// Notice ribbon
#noticeRibbon-tab:hover ,  #noticeRibbon-tab:focus{
    outline: 0px  !important;
}

.uk-accordion-title:focus{
  background: transparent;
  outline-offset: -2px !important;

  span {
    color: $edu-brand-primary-1;
    border-bottom: 3px solid $edu-brand-primary-1;
  }
}

// Flex Grid
.gef-flex-grid:not(.gef-flex-grid--columns) {
  margin-top: 0;

  li {
    overflow: auto;
    padding-top: 15px;
    margin-top: 0;

    &:first-child {
      padding-top: 25px;
      margin-top: 0;
    }
  }

  article {
    overflow: visible;
  }
}

// firefox
button::-moz-focus-inner {
  border: 0;
}

// GXF-1236
.gef-download-box-heading{
  color: rgb(5,63,81);
}

.gef-download-box-links-container {

  color: rgb(86,90,92);

  .gef-download-box-links--bold{

    @extend  .gef-download-box-links-container;
    font-weight: 600;
  }
}

.gef-download-box li {
  padding-left: 0;

  &:before{
    content: none;
  }
}

// Section home page linkgroup underline GXF-1236

.gef-linkgroup__category {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.gef-teaser__category {
  border-bottom: 2px solid $edu-brand-primary-7;
}

// tweaks

.gef-toc > li {
  padding-left: 40px;
}

.gef-a-z-anchors {
  padding-bottom: 20px;

  @media #{$gef-mq-md}{
    position: relative;
    width: 500px;
    margin: 0 auto;
    height: 90px;

    [data-scroll-passed="true"] & {
      transform: translateX(-8px);
    }
  }

  @media #{$gef-mq-lg}{
    width: 945px;
    margin: 0 auto;
    height: 62px;
    margin-bottom: 40px;

    [data-scroll-passed="true"] & {
      transform: translateX(1px);
    }
  }

  li{
    @media #{$gef-mq-lg}{
      height: 34px;
      width: 29px;
      line-height: 34px;
    }
  }

  li a.active{
    background-color: $edu-brand-primary-1;
  }

  li span.inactive {
    border: 0;
  }

  li a:hover {
    background-color: $gef-lighter-grey;
    color: $gef-dark-grey;
  }

  li a:focus {
    background-color: $edu-brand-primary-1;
    color: #fff;
  }
}

.anchor-container{
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  z-index: 20000;
  background-color: white;
}


.gef-a-z-list__content__heading{
  color: $edu-brand-primary-1 !important;
}

.gef-a-z-list__letter{
  color: $edu-brand-primary-1 !important;
}

.gef-a-z-list__column p{
  color: $edu-brand-primary-1 !important;
}


//GXF-1239

.glossary-heading {
  font-size: 1rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  text-align: left;
  color: $edu-brand-primary-1;
  margin-top: 13px !important;
  margin-bottom: 5px !important;

  @media #{$gef-mq-md}{
    font-size: 1.375rem;
    margin-bottom: 18px !important;
  }

  @media #{$gef-mq-lg}{
    font-size: 1.75rem;
    margin-top: 50px !important;
    font-weight: 300;
  }
}

.gef-glossary{

  .a-z-list-edu{

    margin-bottom: 50px;
    height: 130px;

    @media #{$gef-mq-md}{
      margin-bottom: 10px;
    }
  }

  @media #{$gef-mq-md}{

    .gef-a-z-anchors {
      height: auto;
    }
  }

  [data-scroll-passed=true]{

    @media #{$gef-mq-md}{
     height: 90px;
     top: 0;
     position: fixed;
     background-color: $gef-white;
     z-index: 20000;
     transform: translateY(0);
     transition: all 0.2s;
     text-decoration: none;
     left: 0;
     width: 100%;
     border-bottom: solid 1px $edu-brand-primary-1;
     box-shadow: 0px 5px 5px 0 rgba(0,0,0,0.1);

      ol{
       width: 500px;
      }
    }

    @media #{$gef-mq-lg}{
      margin-left: auto;
      height: 50px;
      width: 100%;
      padding: 10px 0 13px;

      ol{
       width: 945px;
      }
    }
  }

  .gef-a-z-list__letter {
    padding-top: 70px;
    margin-top: -50px;

    @media #{$gef-mq-md}{
      padding-top: 90px;
      margin-top: -50px;
    }
  }

  .gef-a-z-list__column{
    width: 150px;
    float: none;

    @media #{$gef-mq-md}{
    float: right;
    }
  }

  .a-z-list-edu {

    @media #{$gef-mq-md}{
      height: 104px;
    }

    @media #{$gef-mq-lg}{
      height: 50px;
    }
  }
}

.gef-global-footer{
  z-index: 99999;
  position: relative;
}

.link-tag-container {

  .link-tag {
    background-color: $edu-brand-primary-1;

    :before {
      position: relative;
      background-color: transparent;
    }
  }
}

.gef-search__heading {
  .link-tag-icon:before  {
    background-color: $edu-brand-primary-1;
    display: inline;
  }
}

.gef-section-header .link-tag-icon  {
  margin-left: 0;
  top: 0;
  color: $edu-brand-primary-1;
}


// Search Secure icon

.gef-search-results__item  {

  .link-tag-container {
   // @extend .link-tag;
   // background-color: $edu-brand-primary-1;

    .link-tag-icon {
      background-color: $edu-brand-primary-1;
    }
  }

}

li.gef-search-results__item  {

  //Events 

  .gef-single-event-square {

    background: linear-gradient(to top, $edu-brand-primary-5 50%, $edu-brand-primary-1 50%);

  }
}



// NOTICE RIBBON

.gef-notice-ribbon {
  background-color: $gef-concrete;
  .link-tag {
    background-color: #F3A537;
    color: #000;

  }

  .gef-notice-ribbon__title:hover {
    text-decoration: none !important;

    .link-tag-container {
      display: inline-block;
    }
  }

  [role="tab"]:focus  .gef-notice-ribbon__title {
    text-decoration: none;
  }
}

.gef-notice-ribbon__cta {
  line-height: 1.6;

  &:hover,
  &:focus {
    background-color: $edu-brand-primary-1;
    border-color: $edu-brand-primary-1;
  }
}

// LINK COLUMNS

.gef-link-columns .gef-link-columns--condensed li {
  .private-primary &,
  .public-primary & {
    @media #{$gef-mq-md} {
      padding-right: 15px;
    }
  }
}

// Local Notice Ribbon

.local-notice-ribbon {

  z-index: 10001;
  position: relative;

  .gef-maintenance-ribbon {
    background-color: $gef-white;

    &:after {
      background-color: $gef-white;
    }

  }

  .gef-maintenance-ribbon__message {
    font-weight: normal;
  }
}

.gef-global-header {
  border-bottom: 1px solid #e0e0e0;
}
// LEAD PARAGRAPH

.lead {

  .edu-topic-header + & {
    margin-bottom: 0;
  }

  p {

    .edu-topic-header + & {
      margin-top: 7px;
      margin-bottom: 0;
      padding-bottom: 0;
      font-weight: 400;
      font-size: 1.125rem;
      color: $edu-brand-primary-1;

      @media #{$gef-mq-lg} {
        font-size: 1.625rem;
      }
    }
  }
}

// LINK LIST
.gef-link-list {
  li:first-child {
    .secondary-hub__rhs & {
      margin-top: 0;
    }
  }
}

.gef-social-media__link.uk-icon-yammer:before,
.gef-social-media__link:visited.uk-icon-yammer:before {
   background-color: $edu-section-footer-bg;
}


// HUBS

.gef-education-banner__lead {
  font-size: 1rem;
  font-weight: bold;

  @media #{$gef-mq-md} {
    font-size: 1.625rem;
  }

}

.gef-education-banner__header {
  font-weight: 300;

  @media #{$gef-mq-md} {
    font-size: 3rem;
  }

}

.edu-highlight-panels__panel {
  width: 100%;
  margin-bottom: 4px !important;
}

.gef-call-out-box--lite {
  border: 1px solid $gef-primary-bg;

  .gef-call-out-box__heading {
    background: $gef-primary-bg;
  }

}

.gef-search-results__info:first-child {
  @media #{$gef-mq-md} {
    margin-top: 30px !important;
  }
}
.edu-global-links-dropdown{
  border-radius:0;
}
.edu-global-link-button{
    font-family: $gef-font-family;
    font-weight:600;
}
.edu-global-link-button:hover{
    background-color:$gef-global-header-login-hover;
}
.gef_featured_teaser_variant_wrapper{
  padding:0;

}
.gef_featured_teaser_variant_wrapper__block{
padding-top:0;
background-color: $gef-white;
}

.gef-featured-teaser, .gef-featured-teaser_variant {

  border-bottom: 3px solid $edu-brand-primary-7;
}

.gef-featured-teaser_variant{
  margin-top:0 !important;
  margin-bottom:0 !important;
}
.gef-featured-teaser_highlight{
  background-color: $edu-brand-primary-1;
}
.edu-gef-teaser_variant_wrapper__block{
  @media #{$gef-mq-md} {
  padding-right:5px;
  }
}
.edu-home-wrapper__rhs{
  background-color: $gef-white;
}
.edu-gef-teaser_variant_wrapper__block,.edu-home-wrapper__rhs,.edu-news-article{
  @media screen and (min-width: 760px) and (max-width:1023px){
  .edu-block{
    margin:0;
  }
  }
}
.gef-featured-teaser__content_variant{
  h2 a{
    @media #{$gef-mq-md} {
    font-size:1.5rem;
    }
    font-weight:600;
  }
}
.edu-rhs-block{
  border-top:6px solid $gef-concrete;
}

.edu-news-article-rhs{
  padding-left:10px !important;
}

.gef-article {
  .caption {
    margin-top: -0.875rem;
  }
}

.gef-maintenance-ribbon {
  padding: 9px 0 12px;
}


.gef-alert {

  .gef-maintenance-ribbon {
    @extend .gef-maintenance-ribbon;
    background-color: #f5e60c;
    border-bottom: none;
  }

  .gef-maintenance-ribbon__message {
    @extend .gef-maintenance-ribbon__message;
    font-size: 0.875rem;

    a {
      font-weight: 600;
    }

    @media #{$gef-mq-lg} {
      font-size: 1rem;
    }

    &:before {
      @extend .uk-icon-warning;
      font-family: FontAwesome;
      margin-right: 12px;
    }
  }
}


//Google translator overides

div#google_translate_element {
  div:hover.goog-te-gadget-simple {
    background-color: $gef-global-header-login-hover !important;
  }
}

#goog-gt-tt {
  z-index: 100083!important;
}


.gef-search[aria-hidden=true]{
  fieldset {
     padding: 0;
  }
}
.edu-home{
.gef-notice-ribbon__icon {
  right:30px; 
}
}

//social media post
.edu-social-media-post-block {
  .gef-social-media-post__icon {
    color: $edu-brand-primary-1;
  }
  .gef-social-media-post__icon.uk-icon-facebook {
    background-color: $edu-brand-primary-1;
    color: $gef-white;
  }
  @media screen and (min-width: 760px) {
    .gef-flex-grid:not(.gef-flex-grid--columns) li:first-child {
      padding-top: 5px;
      margin-top: 0;
    }
  }
}
.gef-social-media-post__metadata-content{
  width:126px;
  @media #{$sws-mq-md} {
    width:75%;
  }
    }
.edu-social-media-post-block__rhs_block li .gef-social-media-post {
  background: $gef-white;
  .gef-social-media-post__metadata .gef-social-media-post__name {
    word-wrap: break-word;
    padding-right: 1px;
  }

}
.gef-social-media-post__metadata-viewfeed{
  a{
    font-weight:600;
  }
}
.gef-social-media-post__metadata a.gef-remove-external-link:focus i {
    outline: 1px solid #000!important;
    outline-offset: 2px!important
}

.gef-social-media-post__metadata i.gef-social-media-post__icon:focus{
   outline: 1px solid #000!important;
    outline-offset: 2px!important
}

.gef-social-media-post__metadata a.gef-remove-external-link:focus {
    outline: 0!important
}
 @media screen and (min-width: 768px) and (max-width:860px){
    .gef-flex-grid{
      li{
        padding-right:25px
      }
    }
 }
 .gef-form gef-form--inline{
 .advanced-filter{
margin:5px;
 }
}

.gef-form.gef-form--inline>* {
  @media screen and (min-width: 1024px) {
 margin-right:0;
  }
}
//styles for long document
.gef-long-doc {
  .gef-button {
    text-transform: unset;
  }
  .gef-anchor-index .active {
    color: $edu-brand-primary-1;
  }
  .gef-anchor-index li i {
    font-size: 1.4em;
    font-weight: bold;
    color: $edu-brand-primary-1;
  }
  .gef-skiplink__link {
    font-size: 14px;
    color: $edu-brand-primary-1;
    font-weight: bold;
  }
}

// styles for guided journey
.gefSideMenu:not(.end) {
  border-left: 2px solid $edu-brand-primary-1;
}
.gefSideMenu li:not(.gef-side-navigation-upper) {
  i {
    border: 2px solid $edu-brand-primary-1;
  }

  &:hover i,
  &.active i {
    background-color: $edu-brand-primary-1;
  }
}

.gef-GJ-index button {
  text-transform: none;
}

.gef-GJ-main {
  *:first-child[tabindex="0"] {
    outline: none;
  }

  .gef-pagination .uk-button {
    @media #{$gef-mq-md} {
      font-size: 1.5rem;

      +.uk-button {
        margin-left: 30px;
      }
    }
  }

  h2 {
    @media #{$gef-mq-md} {
      font-size: 1.75rem;
    }
  }
}

.gef-GJ-title {
  font-weight: 500;
}

.uk-accordion-title {
  text-transform: none;
}
.gef-secondary-link-list-child li a{
  font-weight: 600 !important;
}
.gef-secondary-link-list li a {
  font-weight: 800;
}
.gef-secondary-link-list-child{
  padding-bottom:20px;
  margin-top:5px
}

@media screen and (min-width: 768px) {
  .gef-LD-index{
  .gef-anchor-index {
    padding-top:0px;
  }
}
}
@media screen and (min-width: 768px) {
.gef-LD-main {
  padding-top:0px;
}
}

.gef-acknowledgement {
  background-color: $edu-brand-primary-6; 
  color: #fff;
}

// New Education 

  .gef-call-out-box {
    border-top: 3px solid $edu-brand-primary-7;
    border-bottom: none;
    background: $edu-brand-primary-3;
  }

  blockquote {
  
      border-left: 5px solid $edu-brand-primary-7;
  }

  .gef-rhs {

    .uk-panel-box {
        border-top: 2px solid $edu-brand-primary-7;
        
    }
  }


  //TABLE

  table {
    background: $edu-brand-primary-3;
    
    th {

      border-bottom: 3px solid $edu-brand-primary-7;
      background: transparent;
    }  
  }


//SEARCH
    input[type=text] {

      &::placeholder {
        color: $edu-brand-primary-2!important;
      }

      &:focus {
        background: $gef-white;
        color: $edu-brand-primary-2;
        border-color: $edu-brand-primary-2;
      }

      @media #{$gef-mq-lg} {        

        border-color: $gef-white;
        background: $gef-white;
        font-size: 14px;
    }
  }
.gef-search {

  input[type="text"] {
    border-radius: 5px;
    border-color: $gef-white; 
    background: $gef-white; //


    &::placeholder {
      color: $edu-brand-primary-2!important;
    }

    &:focus {
      background: $gef-white; //
      color: $edu-brand-primary-2;
      border-color: $edu-brand-primary-7;
    }

    .gef-ie9 & {
      color: $gef-white;
    }
  }

  button[type="submit"] {
    border-radius: 1px 5px 5px 1px;
    border-color: $edu-brand-primary-7;
    background: $edu-brand-primary-7;
    color: $gef-white;
    .uk-icon-search {
      color: $gef-white;
    }

    &:focus,
    &:hover{
      color: $edu-brand-primary-7;
      border-color: $gef-white;
      background: $gef-white;
      border-left: none;
      .uk-icon-search {
          color: $edu-brand-primary-7;
      }
    }
  }

  @media #{$gef-mq-lg} {

    input[type="text"] {
      
      color: $edu-brand-primary-2;

      border-color: $gef-white;
      background: $gef-white;


      &::placeholder {
        color: $edu-brand-primary-2 !important;
      }

      &:focus {
        border-color: $edu-brand-primary-7;
        background: $edu-brand-primary-4;
        color: $edu-brand-primary-7;

      }
    }

    button[type="submit"] {
      
      border-color: $edu-brand-primary-7;
      background: $edu-brand-primary-7;
      color: $gef-white;
      .uk-icon-search {
        color: $gef-white;
      }

      &:focus,
      &:hover {
        color: $edu-brand-primary-7;
        border: $edu-brand-primary-7;
        background: $gef-white;
        .uk-icon-search {
          color: $edu-brand-primary-7;
        }
      }
    }
  }
}

.gef-notice-ribbon [role="tab"] {

    max-width: 1200px;

}


