
.edu-private-header {
  padding-top: 45px;
  padding-bottom: 45px;

  .gef-section-header__logo {
    font-size: 1.5rem;
    width: auto;

    a {
      margin-right: 0;
      display: inline-block;
    }

    a span {
      display: block;
      font-size: 0.65em;
      font-weight: 700;
      line-height: 1.7;
    }

    .link-tag-container {
      display: inline-block;
      margin-left: 10px;
      vertical-align: text-top;
      transform: translateY(1px);
    }
  }

  @media #{$gef-mq-md} {
    z-index: 9998;

    .gef-section-header__logo {
      font-size: 2rem;

      a span {
        font-size: 0.5em;
        line-height: 1.3;
      }

      .link-tag-container {
        transform: translateY(-1px);
      }
    }
  }

  @media #{$gef-mq-lg} {
    padding-top: 95px;
    padding-bottom: 65px;

    .gef-section-header__logo {
      font-size: 3rem;

      a span {
        line-height: 1.2;
      }

      .link-tag-container {
        transform: translateY(-5px);
        vertical-align: text-bottom;
      }

      .link-tag {
        font-size: 0.7rem;
      }
    }
  }
}