.private-primary {
  background-color: #f2f2f2;
}

.private-primary__search {

  .gef-search {
    margin-top: 0;
    margin-bottom: 30px;

    input[type=text] {
      background-color: #fff;
      border: 2px solid $edu-brand-primary-1;
      border-radius: 5px;
      font-size: 1rem;
      &:focus {
        background: $edu-brand-primary-4;
        border-color: $edu-brand-primary-7;
      }
    }

    button[type=submit] {
      background-color: $edu-brand-primary-7;
      border: 1px solid $edu-brand-primary-7;
      border-radius: 1px 5px 5px 1px;

      i:before {
        color: $gef-white;
      }

      &:focus,
      &:hover {
        background-color: #fff;
        border-color: $edu-brand-primary-7;
        


        i:before {
          color: $edu-brand-primary-7;
        }
      }

      &:focus {
        outline: 1px solid $edu-brand-primary-7 !important;
      }

    }

  }

  @media #{$gef-mq-lg} {

    .gef-search {
      margin-bottom: 5px;

      input[type=text],
      button[type=submit] {
        line-height: 55px;
        height: 55px;
      }

      button[type=submit] {
        i {
          font-size: 1.4rem;
        }
      }
    }
  }
}

.private-primary__search__title {
  display: block;
  width: 0px;
  height: 0px;
  overflow: hidden;
  margin-bottom: 0;

  @media #{$gef-mq-md} {
    height: auto;
    width: auto;
    overflow: visible;
    margin-bottom: 10px;
    font-weight: 400;
    color: $edu-brand-primary-1;
    font-size: 1.5rem;
    margin-top: 20px !important;
  }
}

.private-primary__search__note {
  margin-top: 10px;
}