.public-primary {
  background-color: #f2f2f2;

  .gef-banner-container {
    margin-bottom: 0;
    margin-left: 0-$gef-normal-horizontal-spacing;
    margin-right: 0-$gef-normal-horizontal-spacing;
  }

  .gef-banner {
    margin-top: 0;

    img {
      display: none;
    }
  }


  @media #{$gef-mq-md} {

    .gef-banner {
      img {
        display: block;
      }
    }
  }

  @media #{$gef-mq-lg} {

    .gef-banner-container {
      margin: 0;
      margin-top: -30px;
    }
  }
}
