
.edu-public-header {

  h1 {
    margin: 0;
    display: block;
    clear: left;
    line-height: 1.5;
  }

  span {
    color: #fff;
    display: block;
  }

  .gef-education-banner__search input[type=text] {
        
      background-color: #fff;
      border: 2px solid $edu-brand-primary-1;
      border-radius: 5px;
      font-size: 1rem;
      &:focus {
        background: $edu-brand-primary-4;
        border-color: $edu-brand-primary-7;
      }
    
  }

  .gef-education-banner__search button[type=submit] {
    top: 1px;
    background-color: $edu-brand-primary-7;
    border: 1px solid $edu-brand-primary-7;
    border-radius: 1px 5px 5px 1px;

    &:before {
      color: $gef-white;
    }

    &:focus,
    &:hover {
      background-color: #fff;
      border-color: $edu-brand-primary-1;
      border-left: none;


      &:before {
        color: $edu-brand-primary-7;
      }
    }

    &:focus {
      outline: 1px solid $edu-brand-primary-7 !important;
    }
  }

  .gef-education-banner__search div {
    max-width: none;
  }

  .gef-education-banner__lead {
    letter-spacing: 0.05em;
  }
}

.edu-public-header__search {
  margin-top: 6px;
}

.edu-public-header__search__note {
  color: #fff;

  @media #{$gef-mq-lg} {
    margin-top: 10px;
    margin-bottom: 20px !important;
  }
}