.secondary-hub {
  background-color: #f2f2f2;

  .gef-breadcrumbs {
    margin-bottom: 40px;
  }
}

.secondary-hub__rhs {

  @media #{$gef-mq-md} {
    padding-left: 4px;
  }
}

.edu-secondary-hub__expanded-nav {

  .gef-expanded-nav__item {
    padding-left: 0;
  }
}