.edu-secondary-hub-header {

  @media #{$gef-mq-lg} {
    padding: 65px 0;
  }

  .gef-education-banner__header {

    @media #{$gef-mq-lg} {
      font-size: 3rem;
    }
  }
}

.edu-secondary-hub-header__search {

  @media #{$gef-mq-lg} {

  }

  input[type="text"] {
    color: $gef-white;
    background-color: #fff;
    border: 2px solid $edu-brand-primary-1;
    border-radius: 5px;
    font-size: 1rem;
  }

  button[type=submit] {
  top:1px;
    background-color: $edu-brand-primary-7;
    border: 1px solid $edu-brand-primary-7;
    border-radius: 1px 5px 5px 1px;

    &:before {
      color: $gef-white;
    }

    &:focus,
    &:hover {
      background-color: #fff;
      border-color: $edu-brand-primary-1;
      border-left: none;


      &:before {
        color: $edu-brand-primary-7;
      }
    }

    &:focus {
      outline: 1px solid $edu-brand-primary-7 !important;
    }

  }
}