.edu-staff-essentials {
  background-color: $gef-white;
  padding: $gef-normal-horizontal-spacing $gef-normal-horizontal-spacing 2px;
  margin: 0 0-$gef-normal-horizontal-spacing;
  border-top: 2px solid $edu-brand-primary-7;
  * {
    color: $edu-brand-primary-2;
  }

  @media #{$gef-mq-md} {
    position: absolute;
    top: -125px;
    right: $gef-normal-horizontal-spacing;
    margin: 0;
    background-color: $gef-white;
  }

  @media #{$gef-mq-lg} {
    right: 40px;
    top: -170px;
  }

}

.edu-staff-essentials__title {
  font-weight: 400;
  font-size: 1.25rem;
  margin-bottom: 5px;

  @media #{$gef-mq-md} {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  @media #{$gef-mq-lg} {
    font-size: 1.625rem;
  }
}

.edu-staff-essentials__links {
  @include reset_list;
  margin-top: 0;

  li {
    display: inline;
    font-size: 0.85rem;

    a {
      position: relative;
      display: block;
      box-sizing: border-box;
      min-height: 50px;
      padding: 15px 0 15px 40px;
      line-height: 1.2;
      font-weight: 600;
      border-bottom: 1px solid $edu-brand-primary-8;
      text-decoration: none;

      &:focus,
      &:hover {
        color: $edu-brand-primary-2;

        span {
          text-decoration: underline;
        }
      }

      &:focus {
        outline: $gef-focus-inverse !important;
        outline-offset: $gef-focus-text-outline-offset !important;
      }

      &:before {
        font: normal normal normal 1.4rem/1 FontAwesome;;
        position: absolute;
        left: 0;
        top: 0;
        width: 25px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        color: $edu-brand-primary-7;
        font-size: 1.3rem;
        -webkit-font-smoothing: antialiased;
      }

      &.edu-staff-essentials_icon-envelope {
        &:before {
          content: '\f003';
        }
      }

      &.edu-staff-essentials_icon-user {
        &:before {
          content: '\f007';
        }
      }

      &.edu-staff-essentials_icon-custom-ess,
      &.edu-staff-essentials_icon-custom-buzz {
        &:before {
          content: '';
          background-image: url('../images/staff-essentials-ess.svg');
          background-repeat: no-repeat;
          background-size: 20px auto;
          background-position: center center;

        }
      }

      &.edu-staff-essentials_icon-custom-buzz {
        &:before {
          background-image: url('../images/staff-essentials-buzz.svg');
        }
      }

      &.edu-staff-essentials_icon-number-list {
        &:before {
          content: '\f0cb';
        }
      }

      &.edu-staff-essentials_icon-user-group {
        &:before {
          content: '\f0c0';
        }
      }
    }

    &:last-child a {
      border-bottom: 0;
    }
  }

  @media #{$gef-mq-lg} {
    width: 250px;
  }

  @media #{$gef-mq-xl} {
    width: auto;
    margin-top: 0;

    li {
      display: inline;
      font-size: 1rem;

      a {
        font-weight: 700;
        height: 54px;
        padding-right: $gef-normal-horizontal-spacing;
        padding-top: 16px;

        &:before {
          height: 54px;
          line-height: 54px;
        }

        &.edu-staff-essentials_icon-custom-ess,
        &.edu-staff-essentials_icon-custom-buzz {

          &:before {
            height: 54px;
            background-size: 22px auto;
          }
        }
      }
    }
  }
}