.edu-tabs.gef-tabs--active {
  margin-left: 0-$gef-normal-horizontal-spacing;
  margin-right: 0-$gef-normal-horizontal-spacing;
  margin-bottom: 0;

  ul {
    margin-bottom: 0;
  }

  .gef-tabs__group {

    [role=tab] {
      font-weight: 600;
      text-transform: none;
      background-color: $edu-brand-primary-4;
      color: $edu-brand-primary-1;
      padding-left: $gef-normal-horizontal-spacing;
      padding-right: $gef-normal-horizontal-spacing;
      outline-color: $gef-off-white;

      &:after {
        content: '\f107';
        font-size: 1.5rem;
        right: $gef-normal-horizontal-spacing;
        top: 45%;
      }

      &[aria-expanded=true],
      &[aria-selected=true],
      &:focus {
        color: #fff;
        background-color: $edu-brand-primary-1;
      }
    }

  }

  .gef-tabs__group,
  .gef-tabs__panel-group {
    [role=tabpanel] {
      display: block;
      padding-left: 20px;
      padding-right: 20px;
      border-color: $edu-brand-primary-1;
      background-color: #fff;

      &[aria-hidden=true] {
        display: none;
      }
    }
  }

  .gef-link-list {
    padding: 20px 0 0;

    li {
      display: block;
      padding-left: 20px;
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 5px;
      }

      a {
        font-size: 0.85rem;
      }

      &:before {
        color: $edu-brand-primary-1;
        content: '\f105';
        font-size: 1.2rem;
        margin-top: -3px;
      }
    }
  }

  @media #{$gef-mq-md} {

    .gef-link-list {
      padding: 0;

      li {
        padding-left: 30px;
        padding-right: 80px;

        &:before {
          margin-top: -2px;
        }

        a {
          font-size: 1rem;
        }
      }
    }

    .gef-tabs__group {

      [role=tab] {
        font-weight: 600;
        font-size: 1.1rem;
        outline: 2px solid $gef-off-white !important;

        &:focus {
          outline: 2px solid $gef-off-white !important;
          outline-offset: -0px !important;
        }
      }
    }

    .gef-tabs__panel-group {

      [role=tabpanel] {
        padding: 25px 30px !important;
      }
    }
  }

  @media #{$gef-mq-lg} {
    margin-left: 0;
    margin-right: 0;
    margin-top: 50px;
  }
}