.edu-calendar {
  &.gef-tabs--active {
    .gef-tabs__group [role=tabpanel], .gef-tabs__panel-group [role=tabpanel] {
      background-color: $edu-brand-primary-1;
      padding: 0!important;
      margin-top: 20px;
      h4.invisible {
        visibility:  hidden;
        height: 1px;
      }
    }
    .tabs__list {
      .js-tablist__link {
        background-color: $edu-brand-primary-1;
        border: 1px solid #fff;
        &[role=tab]:focus, &[role=tab][aria-selected=true] {
          background-color: #fff;
          color: $edu-brand-primary-1 !important;
        }
      }
    }
  }
}

//@media screen and (min-width: 768px) {
  .edu-calendar {
    .uk-container {
      padding: 0 30px;
      .edu-block__header {
        margin-left: -5px;
      }
      .gef-tabs--active {
        @media screen and (min-width: 320px) and (max-width: 1023px) {
            margin-left: -5px;
            margin-right: -5px;
        }
        margin-top: 0;
        .tabs__list {
          .js-tablist__item {
            width: 41%;
            display: inline-block;
            margin-right: 20px;
            @media #{$gef-mq-md} {
              width: 46%;
              margin-right: -6px;
            }
            @media screen and (max-width: 350px) {
              width: 38%;
            }
            @media screen and (max-width: 767px) {
              width: 50%;
              float: left;
              margin-right:0;
            }
            //width: 100%;
            .js-tablist__link {
              @media screen and (min-width: 768px) and (max-width: 1023px) {
                overflow: visible;
                word-wrap:break-word;
                white-space: normal;
              }
               @media screen and (min-width: 768px) and (max-width: 961px) {
                 height: 56px !important;
               }
              //width:50% !important;
              @media screen and (max-width: 767px) {
              width:auto !important;
              }
              width: 100% !important;
              height: 36px !important;
              //line-height: 24px;
              line-height: 36px;
              vertical-align: middle;
              border: 1px solid #fff;
              outline: none !important;
              font-size: 0.85rem;
              padding: 5px 14px;
              text-overflow:inherit;
              background-color: $edu-brand-primary-1;
              text-align:center;
              &.tab-left {
                border-radius: 4px 0 0 4px;
              }
              &.tab-right {
                border-radius: 0 4px 4px 0;
              }
              &[role=tab]:focus, &[role=tab][aria-selected=true] {
                background-color: #fff;
                color: $edu-brand-primary-1 !important;

                 // workaround when google translator is used
                font > font {
                  color: $edu-brand-primary-1 !important;
                }
              }

              &:after {
                content: none;
              }
            }
          }

        }
        .gef-tabs__group [role=tab-panel], .gef-tabs__panel-group [role=tabpanel] {
            background-color: $edu-brand-primary-1;
            padding: 0!important;
            margin-top: 20px;
            h4.invisible {
              visibility:  hidden;
              height: 1px;
            }
        }

      }
    }
  }
  @media screen and (min-width: 768px) {
    .edu-calendar .uk-container {
      .edu-block__header {
        margin-left: 0px;
         @media screen and (min-width: 768px) and (max-width: 1023px) {
            margin-left: -5px;
         }
      }
      .gef-tabs--active .tabs__list{
        .js-tablist__item {
          width: 50%;
          .js-tablist__link {
            line-height: 24px;
          }
        }
      }
    }
  }
//}
