.edu-topic-header {
  margin-bottom: 15px !important;
  font-size: 0.85rem;
  margin-top: 30px !important;
  font-size: 0.85rem;

  @media #{$gef-mq-md} {
    margin-top: 45px !important;
    font-size: 1rem;
  }

  .edu-block & {
    margin-top: 5px !important;
    margin-bottom: 0 !important;
  }
}

.edu-topic-header-button {
  float: right;
  margin-top: 35px !important;
  margin-bottom: 5px !important;
  padding: 7px 5px;
  font-weight: 600;
  letter-spacing: 0.05em;

  &--alt1 {
    position: relative;
    margin-top: 10px !important;
    margin-bottom: 30px !important;
  }

  &--mobile {
    margin-top: 10px !important;
    float: left;
  }

  @media #{$gef-mq-md} {
    margin-top: 40px !important;
    margin-bottom: 10px !important;
    padding: 7px 10px;

    &--alt1 {
      margin-top: -70px !important;
    }
  }

  @media #{$gef-mq-lg} {
    margin-right: $gef-large-horizontal-spacing;
  }
}