// ----------------------
// CUSTOM VARIABLES
// ----------------------

$edu-brand-primary-1:       rgb(4,30,66); //#041E42  OLD: rgb(,62,82);
$edu-brand-primary-2:      	rgb(4,30,66);                 //#041E42
$edu-brand-primary-3:       rgb(242,242,242);             //#F2F2F2
$edu-brand-primary-4:       rgb(224,224,224);             //#E0E0E0
$edu-brand-primary-5:       rgb(29,108,126);              // dark cyan

$edu-brand-primary-6:       rgb(4,30,66);                 //#041E42
$edu-brand-primary-7:       rgb(206,0,55);                //#CE0037


//----- HR colour -----//
$edu-brand-primary-8:       rgb(180,180,180);  //(#b4b4b4)
//---------------------//
$edu-brand-primary-9:       #407EC9;
$edu-brand-primary-10:      #EE3C48;
$edu-brand-primary-11:      #E5E5E5;


$edu-brand-action-1:     $edu-brand-primary-5;  // action colour for primary-1
$edu-brand-action-2:     $edu-brand-primary-4;   // action colour for primary-2


$edu-policy-bg:              rgb(230, 235, 237);
$edu-section-footer-bg:      #E9E9E9;


//----------------------//
// FEATURE PANEL COLOURS//
//-----------------------//



// ----------------------
// OVERRIDE GEF VARIABLES
// ----------------------

$gef-primary-bg:                                            $edu-brand-primary-1;                   // primary colour background
$gef-primary-bg-action:                                     $edu-brand-action-1;                    // primary colour background on action (hover/focus)

$gef-secondary-bg:                                          $edu-brand-primary-2;                   // seconday colour background
$gef-secondary-bg-action:                                   $edu-brand-action-2;                    // seconday colour background on action (hover/focus)

$gef-highlight-panel-bg:                                    $edu-brand-primary-4;                        //old $edu-brand-primary-3;                   // Background on panels that stand out from the body

$gef-decoration:                                            $edu-brand-primary-2;                   // decorative colour

$gef-content-header:                                        $edu-brand-primary-1;                    // header colour for content areas


$gef-focus-outline:                                         1px solid $edu-brand-primary-1;
$gef-focus-inverse:                                         1px solid #fff;
$gef-focus-blocks-outline-offset:                           -6px;
$gef-focus-text-outline-offset:                             2px;

$tab-active-background:                                     $edu-brand-primary-1;
$tab-active-color:                                          #fff;

$search-box-body-button-bg:                                 $edu-brand-primary-1;
$search-box-body-input-border:                              $edu-brand-primary-1;

$drawer-tab-bg:                                             $edu-brand-primary-1;
$drawer-tab-bg-action:                                      $edu-brand-primary-1;
$drawer-panel-border:                                       2px solid $edu-brand-primary-1;
$gef-section-footer-bg:                                     $edu-section-footer-bg;

// BUTTONS
$button-hover-background:                                   #000;

// BACK TO
$gef-back-to-icon-color:                                    $edu-brand-primary-1;

// EDUCATION BANNER
$gef-edu-banner-bg:                                         $edu-brand-primary-1;

// NOTICE RIBBON
$gef-notice-ribbon-cta-color:                               $edu-brand-primary-1;

//GLobal header login hover bg from SWS
$gef-global-header-login-hover:     rgba(0, 0, 0, 0.1);

$sws-meganav-bg: $edu-brand-primary-6;
$sws-uk-dropdown-navbar:#f5f5f5;
$sws-light-accent: #efefef;
// MEDIA QUERIES FOR EVENTS COMPONENT
$sws-mq-md: "screen and (max-width: 768px)" !default;
$sws-hero: $edu-brand-primary-1;
$sws-screen-width: 1440px;
$sws-theme-font-color:black;
$sws-uk-dropdown-navbar:#f5f5f5;
$sws-black :#000;
$sws-white :#fff;
$sws-light-accent: #eaeaea;
$sws-dark-accent: #5f5f5f;
//----------------------------------
